@{
    Layout = "_LayoutAdmin";
}
@model List<ProgramMaster>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Define Fees</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Program</label>
                                    <select id="ddlprogram" class="form-control" onchange="Bindbranch()">
                                        <option value="">-- Select Program --</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.Program</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Branch</label>
                                    <select id="ddlbranch" class="form-control" onchange="Bindfeestype()">
                                        <option value="">-- Select Branch --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Year</label>
                                    <select id="ddlyear" class="form-control" onchange="Bindfeestype()">
                                        <option value="">--Select Year--</option>
                                        <option value="1">1 Year</option>
                                        <option value="2">2 Year</option>
                                        <option value="3">3 Year</option>
                                        <option value="4">4 Year</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Fees Type</label>
                                    <select id="ddlfeestype" class="form-control">
                                        <option value="">--Select Fees Type--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input type="number" placeholder="Amount" class="form-control" id="amount">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" style="width: 37%; margin-top: 24px;" class="btn btn-outline-primary waves-effect waves-light" onclick="btnsubmit()">Save</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive" style="margin-top:12px;" id="branchwisefees">
                                <table class="table mb-0 table-striped" id="tblbranchfees">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th>#</th>
                                            <th>Program</th>
                                            <th>Branch</th>
                                            <th>Year</th>
                                            <th>Fees Type</th>
                                            <th>Amount</th>
                                            <th>EntryDate</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Loaddata();
    });
    var btnsubmit = () => {
        if ($('#ddlprogram option:selected').val() == '') {
            alert("Please Select Program");
            $('#ddlprogram').focus();
            return false;
        }
        if ($('#ddlbranch option:selected').val() == '') {
            alert("Please Select Branch");
            $('#ddlbranch').focus();
            return false;
        }
        if ($('#ddlyear option:selected').val() == '') {
            alert("Please Select Year");
            $('#ddlyear').focus();
            return false;
        }
        if ($('#amount').val() == '') {
            alert("Please Enter Amount");
            $('#amount').focus();
            return false;
        }
        if ($('#ddlfeestype option:selected').val() == '') {
            alert("Please Select Fees Type");
            $('#ddlfeestype').focus();
            return false;
        }
        let data = {
            Action: "Add",
            Program: $('#ddlprogram option:selected').val(),
            Branch: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            FeesType: $('#ddlfeestype option:selected').val(),
            Amount: $('#amount').val()
        }
        $.post('/AccountManagement/FeesHead', data).done(function(result) {
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var Loaddata = () => {
        $.post('/AccountManagement/GetFeesHead').done(function(result) {
            $('#tblbranchfees tbody').html(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var Bindfeestype = () => {
        $.post('/AccountManagement/BindfeestypeByYear', { Year: $('#ddlyear option:selected').val(), ProgramId: $('#ddlprogram option:selected').val(), Branch: $('#ddlbranch option:selected').val() }).done(function(result) {
            $('#ddlfeestype').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlfeestype').append('<option value="' + result[i].id + '">' + result[i].feesTypes + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var deletedata = function(id) {
        $.post('/AccountManagement/DeleteFeesHead', { ID: id }).done(function(result) {
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
</script>
