@{
   
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                            <h4 style="color:black;">Fees Submition</h4>
                        </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <lable>From Date</lable>
                                <input type="text" class="form-control" placeholder="From Date" id="fromdate">
                            </div>
                            <div class="col-md-2">
                                <lable>To Date</lable>
                                <input type="text" class="form-control" placeholder="From Date" id="todate">
                            </div>
                            <div class="col-md-2">
                                <lable>Enrollment Number</lable>
                                <input type="text" class="form-control" placeholder="Enrollment" id="enrollemntnumber">
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="Loaddata()" class="btn btn-outline-primary waves-effect waves-light" style="margin-top:20px;" id="btnsearch">Search</button>
                            </div>
                            <!-- end col -->
                        </div>
                        <hr />
                        <div class="table-responsive" style="margin-top:12px;">
                            <table class="table table-striped" id="tblstudent">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student Name</th>
                                        <th>Father Name</th>
                                        <th>Program</th>
                                        <th>Branch</th>
                                        <th>Year</th>
                                        <th>Fees Status</th>
                                        <th>Address</th>
                                        <th>Enrollment</th>
                                        <th>RecieptNo</th>
                                        <th>Mode</th>
                                        <th>Total Fees</th>
                                        <th>Submited Fees</th>
                                        <th>Due Fees</th>
                                        <th>Submition Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        LoadDate('fromdate', 'todate');
        Loaddata();
    });
    var Loaddata = function() {
        let obj = {
            Fromdate:$('#fromdate').val(),
            Todate:$('#todate').val(),
            EnrollmentNo:$('#enrollemntnumber').val(),
        }
        $.post('/AccountManagement/StudentSubmitFees',obj).done(function(result) {
            preloader.load();
            $('#tblstudent tbody').html(result);
            preloader.remove();
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
</script>