@model BatchMasterReqRes
@{
    <div class="modal fade bs-example-modal-center show" tabindex="-1" id="myModalNew" role="dialog" aria-labelledby="mySmallModalLabel" aria-modal="true" style="display: block; padding-right: 17px;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    @{
                        if (@Model.Id == 0)
                        {
                            <h5 class="modal-title" id="exampleModalLabel">Add Batch</h5>
                        }
                        else
                        {
                            <h5 class="modal-title" id="exampleModalLabel">Edit Batch</h5>
                        }
                    }
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <label>From Year<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="txtfromyear" placeholder="From Year" value="@Model.FromYear" />
                    <span class="text-danger d-none" id="txtfromyearsp">Enter From Year</span>
                    <label>To Year<span style="color:red;">*</span></label>
                    <input type="text" class="form-control" id="txttoyear" placeholder="To Year" value="@Model.ToYear" />
                    <span class="text-danger d-none" id="txttoyearsp">Enter To Year</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" onclick="SaveRecord('@Model.Id')">save</button>
                </div>
            </div>
        </div>
    </div>
}