<div class="row">
    <div class="col-md-12">
        <div class="card-header bg-primary">
            <h4 style="color:white;">Student Info</h4>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <table class="table">
                            <tbody>
                                <tr class="black">
                                    <td><b>Student Name :</b></td>
                                    <td>Hemant</td>
                                </tr>
                                <tr class="black">
                                    <td><b>Father Name :</b></td>
                                    <td>Ramlakhan Nag</td>
                                <tr />
                                <tr class="black">
                                    <td><b>Mother Name :</b></td>
                                    <td>Urmila Nag</td>
                                <tr />
                                <tr class="black">
                                    <td><b>Address :</b></td>
                                    <td>Lakhimpur</td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card-header bgred">
            <h4 style="color:white;">Marks</h4>
        </div>
        <table class="table">
            <thead class="bg-primary" >
                <tr>
                    <th>#</th>
                    <th>Subject</th>
                    <th>Maximum Marks</th>
                    <th>Minimum Marks</th>
                    <th>Obtain Marks</th>
                </tr>
            </thead>
        </table>
    </div>
</div>