USE [DB_CollageManagement]
GO
ALTER TABLE [dbo].[tbl_SubjectMaster] DROP CONSTRAINT [DF__tbl_Subje__Branc__68487DD7]
GO
/****** Object:  Table [dbo].[tbl_VideoLectures]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_VideoLectures]
GO
/****** Object:  Table [dbo].[tbl_TimeTable]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_TimeTable]
GO
/****** Object:  Table [dbo].[tbl_Teacher]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Teacher]
GO
/****** Object:  Table [dbo].[tbl_Syllabus]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Syllabus]
GO
/****** Object:  Table [dbo].[tbl_SubjectMaster]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_SubjectMaster]
GO
/****** Object:  Table [dbo].[tbl_StudentLedger]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_StudentLedger]
GO
/****** Object:  Table [dbo].[tbl_Studentfine]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Studentfine]
GO
/****** Object:  Table [dbo].[tbl_StudentAttandance]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_StudentAttandance]
GO
/****** Object:  Table [dbo].[tbl_Student_Admission]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Student_Admission]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_student]
GO
/****** Object:  Table [dbo].[tbl_session]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_session]
GO
/****** Object:  Table [dbo].[tbl_RegistrationMaster]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_RegistrationMaster]
GO
/****** Object:  Table [dbo].[tbl_ProjectReport]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_ProjectReport]
GO
/****** Object:  Table [dbo].[tbl_ProgramBranchMapping]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_ProgramBranchMapping]
GO
/****** Object:  Table [dbo].[tbl_Program]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Program]
GO
/****** Object:  Table [dbo].[tbl_Notifications]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Notifications]
GO
/****** Object:  Table [dbo].[tbl_MasterRole]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_MasterRole]
GO
/****** Object:  Table [dbo].[tbl_MasterRequestMode]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_MasterRequestMode]
GO
/****** Object:  Table [dbo].[tbl_login]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_login]
GO
/****** Object:  Table [dbo].[tbl_FeesType]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_FeesType]
GO
/****** Object:  Table [dbo].[tbl_FeessubmitionSummry]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_FeessubmitionSummry]
GO
/****** Object:  Table [dbo].[tbl_Feessubmition]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Feessubmition]
GO
/****** Object:  Table [dbo].[tbl_FeesSubmissionModes]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_FeesSubmissionModes]
GO
/****** Object:  Table [dbo].[tbl_FeesHead]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_FeesHead]
GO
/****** Object:  Table [dbo].[tbl_ExamType]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_ExamType]
GO
/****** Object:  Table [dbo].[tbl_ExamGroup]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_ExamGroup]
GO
/****** Object:  Table [dbo].[tbl_ExamDetail]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_ExamDetail]
GO
/****** Object:  Table [dbo].[tbl_Exam]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Exam]
GO
/****** Object:  Table [dbo].[tbl_Branch]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Branch]
GO
/****** Object:  Table [dbo].[tbl_BatchMaster]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_BatchMaster]
GO
/****** Object:  Table [dbo].[tbl_AssignSubject]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_AssignSubject]
GO
/****** Object:  Table [dbo].[tbl_Assignment]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_Assignment]
GO
/****** Object:  Table [dbo].[tbl_AssignExam]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_AssignExam]
GO
/****** Object:  Table [dbo].[tbl_AdmissionMaster]    Script Date: 21-04-2023 18:40:37 ******/
DROP TABLE [dbo].[tbl_AdmissionMaster]
GO
/****** Object:  Table [dbo].[tbl_AdmissionMaster]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AdmissionMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Startdate] [varchar](50) NULL,
	[Enddate] [varchar](50) NULL,
	[Daylimit] [int] NULL,
	[Alllimit] [int] NULL,
	[Entrydate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[IsOpen] [bit] NULL,
	[Program] [int] NULL,
	[Branch] [int] NULL,
	[Year] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AssignExam]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AssignExam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnrollemntNo] [varchar](240) NULL,
	[ExamID] [int] NULL,
	[Program] [int] NULL,
	[Branch] [int] NULL,
	[Year] [int] NULL,
	[EntryDate] [datetime] NULL,
	[IsAssign] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Assignment]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Assignment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[Year] [int] NULL,
	[SubjectId] [int] NULL,
	[Assignment] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[Program] [int] NULL,
	[Paths] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_AssignSubject]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_AssignSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[Year] [int] NULL,
	[SubjectId] [int] NULL,
	[TeacherId] [int] NULL,
	[Entrydate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[ProgramId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BatchMaster]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BatchMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromYear] [varchar](10) NULL,
	[ToYear] [varchar](10) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Branch]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Branch](
	[BranchId] [int] IDENTITY(1000,10) NOT NULL,
	[Branch_Name] [varchar](100) NULL,
	[Branch_Code] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Exam]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Exam](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Exam] [varchar](150) NULL,
	[GroupId] [int] NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExamDetail]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExamDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NULL,
	[SubjectId] [int] NULL,
	[Date] [varchar](50) NULL,
	[Time] [varchar](50) NULL,
	[Duration] [int] NULL,
	[RoomNo] [varchar](50) NULL,
	[MinMarks] [int] NULL,
	[MaxMarks] [int] NULL,
	[Entrydate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExamGroup]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExamGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamType] [int] NULL,
	[ExamGroup] [varchar](250) NULL,
	[Description] [varchar](max) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
	[ExamCount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ExamType]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ExamType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ExamType] [varchar](150) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FeesHead]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FeesHead](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Branch] [varchar](100) NULL,
	[Branch_Code] [varchar](100) NULL,
	[_Year] [varchar](100) NULL,
	[EntryBy] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[Amount] [varchar](100) NULL,
	[Program] [int] NULL,
	[FeesType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FeesSubmissionModes]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FeesSubmissionModes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [varchar](120) NULL,
	[EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Feessubmition]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Feessubmition](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](100) NULL,
	[FatherName] [varchar](100) NULL,
	[Branch] [varchar](100) NULL,
	[_Year] [varchar](100) NULL,
	[Amount] [varchar](100) NULL,
	[FeesSubmitionMode] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[Program] [int] NULL,
	[FeesType] [int] NULL,
	[CheckNumber] [bigint] NULL,
	[TransctionID] [int] NULL,
	[Enrollment] [varchar](100) NULL,
	[FeesReceiptNo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FeessubmitionSummry]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FeessubmitionSummry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentNo] [varchar](100) NULL,
	[ReceiptNo] [bigint] NULL,
	[Mode] [int] NULL,
	[TotalbranchFees] [numeric](10, 2) NULL,
	[TotalFees] [numeric](10, 2) NULL,
	[SubmitedFees] [numeric](10, 2) NULL,
	[DueFees] [numeric](10, 2) NULL,
	[Entrydate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_FeesType]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_FeesType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Program] [int] NOT NULL,
	[Branch] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[FeesType] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_login]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_login](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[UserId] [varchar](100) NULL,
	[LoginTypeId] [int] NULL,
	[Password] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[_UId] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MasterRequestMode]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MasterRequestMode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResuestMode] [varchar](100) NULL,
	[Entrydate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_MasterRole]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_MasterRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Role] [varchar](50) NULL,
	[EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Notifications]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NULL,
	[Discreption] [varchar](max) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[IsStaff] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Program]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Program](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Program] [varchar](50) NULL,
	[ProgramType] [varchar](50) NULL,
	[ProgramDuration] [varchar](50) NULL,
	[Entryby] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProgramBranchMapping]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProgramBranchMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProgramId] [int] NULL,
	[BranchId] [int] NULL,
	[EntryDate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[EntryBy] [int] NULL,
	[ModifyBy] [int] NULL,
	[BatchId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_ProjectReport]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_ProjectReport](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](100) NULL,
	[Branch] [varchar](100) NULL,
	[_Year] [varchar](100) NULL,
	[Enrollment] [varchar](100) NULL,
	[ProjectTitle] [varchar](100) NULL,
	[Techonology] [varchar](100) NULL,
	[Entrydate] [varchar](100) NULL,
	[Program] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_RegistrationMaster]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_RegistrationMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Startdate] [varchar](50) NULL,
	[Enddate] [varchar](50) NULL,
	[Daylimit] [int] NULL,
	[Alllimit] [int] NULL,
	[Entrydate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[IsOpen] [bit] NULL,
	[Program] [int] NULL,
	[Branch] [int] NULL,
	[Year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_session]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[Sessionkey] [varchar](100) NULL,
	[LoginID] [int] NULL,
	[RequestMode] [int] NULL,
	[EntryDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Fname] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [varchar](20) NULL,
	[Branch] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Gender] [varchar](50) NULL,
	[Entrydate] [datetime] NULL,
	[Group_Name] [varchar](100) NULL,
	[Entrolment_No] [varchar](100) NULL,
	[DOB] [varchar](50) NULL,
	[FatherOccupation] [varchar](150) NULL,
	[MotherName] [varchar](150) NULL,
	[Program] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Student_Admission]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Student_Admission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Fname] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [varchar](20) NULL,
	[Branch] [varchar](50) NULL,
	[Address] [varchar](100) NULL,
	[Gender] [varchar](50) NULL,
	[Admissiondate] [datetime] NULL,
	[Group_Name] [varchar](100) NULL,
	[DOB] [varchar](50) NULL,
	[EntrollmentNo] [varchar](100) NULL,
	[Fess_Status] [varchar](100) NULL,
	[_Year] [varchar](100) NULL,
	[Program] [int] NULL,
	[MotherName] [varchar](100) NULL,
	[FatherOccupation] [varchar](150) NULL,
	[Religion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_StudentAttandance]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StudentAttandance](
	[EnrollmentNo] [varchar](50) NULL,
	[IsPresent] [bit] NULL,
	[IsAbsent] [bit] NULL,
	[IsLate] [bit] NULL,
	[IsHalfDay] [bit] NULL,
	[Note] [varchar](250) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [datetime] NULL,
	[AttandanceDate] [varchar](250) NULL,
	[Program] [int] NULL,
	[Branch] [int] NULL,
	[Year] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Studentfine]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Studentfine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentNumber] [varchar](20) NULL,
	[FineAmount] [varchar](20) NULL,
	[FineResion] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[FineStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_StudentLedger]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_StudentLedger](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EnrollmentNo] [varchar](100) NULL,
	[TotalFees] [numeric](18, 9) NULL,
	[TotalSubmitedFees] [numeric](18, 9) NULL,
	[Totalduefees] [numeric](18, 9) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[Mode] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_SubjectMaster]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_SubjectMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[_Year] [varchar](100) NULL,
	[SubjectName] [varchar](100) NULL,
	[SubjectCode] [varchar](100) NULL,
	[SubjectType] [varchar](100) NULL,
	[TheoryMarks] [varchar](100) NULL,
	[PracticalMarks] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[Modifydate] [datetime] NULL,
	[BranchId] [int] NULL,
	[Program] [int] NULL,
	[PassingMarks] [int] NULL,
	[IsPrectical] [bit] NULL,
	[Iswritten] [bit] NULL,
	[PrecticalPassingMarks] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Syllabus]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Syllabus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BranchID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[_Year] [int] NOT NULL,
	[_Path] [varchar](500) NULL,
	[EntryDate] [datetime] NULL,
	[EntryBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[Program] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Teacher]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Teacher](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Fname] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Mobile] [varchar](100) NULL,
	[DOB] [varchar](100) NULL,
	[Address] [varchar](100) NULL,
	[salary] [varchar](100) NULL,
	[Qualification] [varchar](100) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_TimeTable]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_TimeTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Program] [int] NULL,
	[Branch] [int] NULL,
	[Year] [int] NULL,
	[Subject] [int] NULL,
	[Teacher] [int] NULL,
	[TimeFrom] [varchar](50) NULL,
	[TimeTo] [varchar](50) NULL,
	[RoomNo] [varchar](50) NULL,
	[EntryDate] [datetime] NULL,
	[ModifyDate] [datetime] NULL,
	[Day] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_VideoLectures]    Script Date: 21-04-2023 18:40:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_VideoLectures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[SubjectId] [int] NULL,
	[Year] [int] NULL,
	[EntryBy] [int] NULL,
	[EntryDate] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyDate] [datetime] NULL,
	[VideoUrl] [varchar](100) NULL,
	[Program] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_AdmissionMaster] ON 
GO
INSERT [dbo].[tbl_AdmissionMaster] ([ID], [Startdate], [Enddate], [Daylimit], [Alllimit], [Entrydate], [Modifydate], [IsOpen], [Program], [Branch], [Year]) VALUES (1, N'2023-04-14', N'2023-04-20', 23, 9, CAST(N'2023-04-03T12:46:54.730' AS DateTime), CAST(N'2023-04-15T15:14:33.493' AS DateTime), 1, 7, 1040, 1)
GO
INSERT [dbo].[tbl_AdmissionMaster] ([ID], [Startdate], [Enddate], [Daylimit], [Alllimit], [Entrydate], [Modifydate], [IsOpen], [Program], [Branch], [Year]) VALUES (2, N'2023-04-14', N'2023-04-20', 23, 9, CAST(N'2023-04-15T15:04:45.693' AS DateTime), CAST(N'2023-04-15T15:14:33.493' AS DateTime), 1, 7, 1040, 1)
GO
INSERT [dbo].[tbl_AdmissionMaster] ([ID], [Startdate], [Enddate], [Daylimit], [Alllimit], [Entrydate], [Modifydate], [IsOpen], [Program], [Branch], [Year]) VALUES (3, N'2023-04-14', N'2023-04-20', 23, 9, CAST(N'2023-04-15T15:13:14.457' AS DateTime), CAST(N'2023-04-15T15:14:33.493' AS DateTime), NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_AdmissionMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_AssignExam] ON 
GO
INSERT [dbo].[tbl_AssignExam] ([Id], [EnrollemntNo], [ExamID], [Program], [Branch], [Year], [EntryDate], [IsAssign]) VALUES (16, N'E202300000', 6, 5, 1010, 1, CAST(N'2023-04-20T11:58:47.150' AS DateTime), 1)
GO
INSERT [dbo].[tbl_AssignExam] ([Id], [EnrollemntNo], [ExamID], [Program], [Branch], [Year], [EntryDate], [IsAssign]) VALUES (17, N'E202300002', 6, 5, 1010, 1, CAST(N'2023-04-20T11:58:47.153' AS DateTime), 1)
GO
INSERT [dbo].[tbl_AssignExam] ([Id], [EnrollemntNo], [ExamID], [Program], [Branch], [Year], [EntryDate], [IsAssign]) VALUES (18, N'E202300003', 6, 5, 1010, 1, CAST(N'2023-04-20T11:58:47.153' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_AssignExam] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Assignment] ON 
GO
INSERT [dbo].[tbl_Assignment] ([Id], [BranchId], [Year], [SubjectId], [Assignment], [EntryDate], [Modifydate], [Program], [Paths]) VALUES (1, 1040, 1, 6, N'Testing', CAST(N'2023-03-27T15:52:37.330' AS DateTime), CAST(N'2023-03-27T16:32:40.633' AS DateTime), 7, NULL)
GO
INSERT [dbo].[tbl_Assignment] ([Id], [BranchId], [Year], [SubjectId], [Assignment], [EntryDate], [Modifydate], [Program], [Paths]) VALUES (2, 1010, 1, 7, N'fgfdgfdg', CAST(N'2023-03-27T16:33:33.347' AS DateTime), NULL, 6, NULL)
GO
INSERT [dbo].[tbl_Assignment] ([Id], [BranchId], [Year], [SubjectId], [Assignment], [EntryDate], [Modifydate], [Program], [Paths]) VALUES (3, 1040, 1, 6, N'fgdgdfg', CAST(N'2023-04-10T15:17:05.777' AS DateTime), NULL, 7, N'')
GO
SET IDENTITY_INSERT [dbo].[tbl_Assignment] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_AssignSubject] ON 
GO
INSERT [dbo].[tbl_AssignSubject] ([Id], [BranchId], [Year], [SubjectId], [TeacherId], [Entrydate], [ModifyDate], [ProgramId]) VALUES (2, 1000, 2, 1, 1, CAST(N'2023-01-10T18:02:56.873' AS DateTime), CAST(N'2023-01-20T10:21:49.763' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_AssignSubject] ([Id], [BranchId], [Year], [SubjectId], [TeacherId], [Entrydate], [ModifyDate], [ProgramId]) VALUES (7, 1040, 1, 6, 1, CAST(N'2023-03-27T15:31:28.250' AS DateTime), CAST(N'2023-03-27T15:32:21.890' AS DateTime), 7)
GO
SET IDENTITY_INSERT [dbo].[tbl_AssignSubject] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_BatchMaster] ON 
GO
INSERT [dbo].[tbl_BatchMaster] ([Id], [FromYear], [ToYear], [EntryDate], [ModifyDate]) VALUES (4, N'2023', N'2028', CAST(N'2023-01-20T16:07:47.137' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_BatchMaster] ([Id], [FromYear], [ToYear], [EntryDate], [ModifyDate]) VALUES (5, N'2023', N'2027', CAST(N'2023-01-31T14:42:21.863' AS DateTime), CAST(N'2023-03-27T13:25:32.783' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_BatchMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Branch] ON 
GO
INSERT [dbo].[tbl_Branch] ([BranchId], [Branch_Name], [Branch_Code], [EntryDate], [ModifyDate]) VALUES (1000, N'Test', N'102', CAST(N'2022-12-24T15:43:17.940' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_Branch] ([BranchId], [Branch_Name], [Branch_Code], [EntryDate], [ModifyDate]) VALUES (1010, N'C.S', N'2356', CAST(N'2022-12-29T17:23:21.140' AS DateTime), CAST(N'2023-04-06T10:12:35.450' AS DateTime))
GO
INSERT [dbo].[tbl_Branch] ([BranchId], [Branch_Name], [Branch_Code], [EntryDate], [ModifyDate]) VALUES (1020, N'Machanical', N'2356', CAST(N'2023-01-07T12:38:24.043' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_Branch] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Exam] ON 
GO
INSERT [dbo].[tbl_Exam] ([Id], [Exam], [GroupId], [EntryDate], [EntryBy]) VALUES (2, N'dfgdfgdg', 3, CAST(N'2023-04-19T16:07:13.090' AS DateTime), 1)
GO
INSERT [dbo].[tbl_Exam] ([Id], [Exam], [GroupId], [EntryDate], [EntryBy]) VALUES (3, N'rtyrtyry', 3, CAST(N'2023-04-19T16:07:38.700' AS DateTime), 1)
GO
INSERT [dbo].[tbl_Exam] ([Id], [Exam], [GroupId], [EntryDate], [EntryBy]) VALUES (4, N'jghjhg', 1, CAST(N'2023-04-19T16:32:01.113' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Exam] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ExamDetail] ON 
GO
INSERT [dbo].[tbl_ExamDetail] ([Id], [ExamID], [SubjectId], [Date], [Time], [Duration], [RoomNo], [MinMarks], [MaxMarks], [Entrydate]) VALUES (1, 2, 4, N'2023-04-26', N'19:35', 5, N'gfgfd', 67, 67, CAST(N'2023-04-20T17:35:45.137' AS DateTime))
GO
INSERT [dbo].[tbl_ExamDetail] ([Id], [ExamID], [SubjectId], [Date], [Time], [Duration], [RoomNo], [MinMarks], [MaxMarks], [Entrydate]) VALUES (2, 2, 7, N'2023-04-17', N'17:39', 5, N'gdfgdfg', 67, 76, CAST(N'2023-04-20T17:35:45.147' AS DateTime))
GO
INSERT [dbo].[tbl_ExamDetail] ([Id], [ExamID], [SubjectId], [Date], [Time], [Duration], [RoomNo], [MinMarks], [MaxMarks], [Entrydate]) VALUES (3, 2, 1, N'2023-04-29', N'16:27', 3, N'trtrer', 45, 455, CAST(N'2023-04-21T16:25:03.547' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_ExamDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ExamGroup] ON 
GO
INSERT [dbo].[tbl_ExamGroup] ([Id], [ExamType], [ExamGroup], [Description], [EntryDate], [EntryBy], [ExamCount]) VALUES (1, 3, N'Test', N'gdfgdfg', CAST(N'2023-04-15T15:49:57.013' AS DateTime), 1, 2)
GO
INSERT [dbo].[tbl_ExamGroup] ([Id], [ExamType], [ExamGroup], [Description], [EntryDate], [EntryBy], [ExamCount]) VALUES (2, 3, N'Test', N'gdfgdfg', CAST(N'2023-04-15T15:49:58.910' AS DateTime), 1, 2)
GO
INSERT [dbo].[tbl_ExamGroup] ([Id], [ExamType], [ExamGroup], [Description], [EntryDate], [EntryBy], [ExamCount]) VALUES (3, 3, N'Test45', N'6456456', CAST(N'2023-04-15T15:50:00.343' AS DateTime), 1, 4)
GO
SET IDENTITY_INSERT [dbo].[tbl_ExamGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ExamType] ON 
GO
INSERT [dbo].[tbl_ExamType] ([Id], [ExamType], [EntryDate], [EntryBy]) VALUES (3, N'fdfdfsf', CAST(N'2023-04-15T15:16:04.013' AS DateTime), 1)
GO
INSERT [dbo].[tbl_ExamType] ([Id], [ExamType], [EntryDate], [EntryBy]) VALUES (4, N'jjghjgh', CAST(N'2023-04-17T17:16:06.157' AS DateTime), 1)
GO
INSERT [dbo].[tbl_ExamType] ([Id], [ExamType], [EntryDate], [EntryBy]) VALUES (5, N'gjghjghj', CAST(N'2023-04-17T17:16:10.163' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_ExamType] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_FeesHead] ON 
GO
INSERT [dbo].[tbl_FeesHead] ([Id], [Branch], [Branch_Code], [_Year], [EntryBy], [EntryDate], [Modifydate], [Amount], [Program], [FeesType]) VALUES (1, N'1010', N'', N'1', N'', CAST(N'2023-01-24T17:27:41.567' AS DateTime), NULL, N'230', 6, 5)
GO
INSERT [dbo].[tbl_FeesHead] ([Id], [Branch], [Branch_Code], [_Year], [EntryBy], [EntryDate], [Modifydate], [Amount], [Program], [FeesType]) VALUES (2, N'1010', N'', N'1', N'', CAST(N'2023-01-24T17:30:38.080' AS DateTime), CAST(N'2023-01-27T13:39:22.787' AS DateTime), N'24000', 6, 4)
GO
INSERT [dbo].[tbl_FeesHead] ([Id], [Branch], [Branch_Code], [_Year], [EntryBy], [EntryDate], [Modifydate], [Amount], [Program], [FeesType]) VALUES (3, N'1010', N'', N'1', N'', CAST(N'2023-01-24T19:02:24.720' AS DateTime), CAST(N'2023-01-31T18:17:05.330' AS DateTime), N'45000', 6, 2)
GO
SET IDENTITY_INSERT [dbo].[tbl_FeesHead] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_FeesSubmissionModes] ON 
GO
INSERT [dbo].[tbl_FeesSubmissionModes] ([ID], [Mode], [EntryDate]) VALUES (1, N'Cash Payment', CAST(N'2023-01-28T13:42:04.787' AS DateTime))
GO
INSERT [dbo].[tbl_FeesSubmissionModes] ([ID], [Mode], [EntryDate]) VALUES (2, N'Check Payment', CAST(N'2023-01-28T13:42:16.577' AS DateTime))
GO
INSERT [dbo].[tbl_FeesSubmissionModes] ([ID], [Mode], [EntryDate]) VALUES (3, N'Online Payment', CAST(N'2023-01-28T13:42:26.820' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_FeesSubmissionModes] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Feessubmition] ON 
GO
INSERT [dbo].[tbl_Feessubmition] ([Id], [StudentName], [FatherName], [Branch], [_Year], [Amount], [FeesSubmitionMode], [EntryDate], [Program], [FeesType], [CheckNumber], [TransctionID], [Enrollment], [FeesReceiptNo]) VALUES (1, N'Raj', N'Prakash Mishra', N'1020', N'1', N'5461', N'1', CAST(N'2023-02-02T17:17:02.780' AS DateTime), 6, 0, NULL, NULL, N'E202300001', N'202300000000')
GO
INSERT [dbo].[tbl_Feessubmition] ([Id], [StudentName], [FatherName], [Branch], [_Year], [Amount], [FeesSubmitionMode], [EntryDate], [Program], [FeesType], [CheckNumber], [TransctionID], [Enrollment], [FeesReceiptNo]) VALUES (2, N'Raj', N'Prakash Mishra', N'1020', N'1', N'9000', N'1', CAST(N'2023-02-02T17:34:55.280' AS DateTime), 6, 0, NULL, NULL, N'E202300001', N'202300000001')
GO
INSERT [dbo].[tbl_Feessubmition] ([Id], [StudentName], [FatherName], [Branch], [_Year], [Amount], [FeesSubmitionMode], [EntryDate], [Program], [FeesType], [CheckNumber], [TransctionID], [Enrollment], [FeesReceiptNo]) VALUES (3, N'Raj', N'Prakash Mishra', N'1020', N'1', N'15000', N'1', CAST(N'2023-03-13T14:44:19.303' AS DateTime), 6, 0, NULL, NULL, N'E202300001', N'202300000001')
GO
SET IDENTITY_INSERT [dbo].[tbl_Feessubmition] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_FeessubmitionSummry] ON 
GO
INSERT [dbo].[tbl_FeessubmitionSummry] ([ID], [EnrollmentNo], [ReceiptNo], [Mode], [TotalbranchFees], [TotalFees], [SubmitedFees], [DueFees], [Entrydate]) VALUES (1, N'E202300001', 202300000000, 1, CAST(45460.00 AS Numeric(10, 2)), CAST(0.00 AS Numeric(10, 2)), CAST(45460.00 AS Numeric(10, 2)), CAST(0.00 AS Numeric(10, 2)), CAST(N'2023-02-02T17:17:02.780' AS DateTime))
GO
INSERT [dbo].[tbl_FeessubmitionSummry] ([ID], [EnrollmentNo], [ReceiptNo], [Mode], [TotalbranchFees], [TotalFees], [SubmitedFees], [DueFees], [Entrydate]) VALUES (2, N'E202300000', 202300000001, 1, CAST(150000.00 AS Numeric(10, 2)), CAST(0.00 AS Numeric(10, 2)), CAST(150000.00 AS Numeric(10, 2)), CAST(0.00 AS Numeric(10, 2)), CAST(N'2023-04-15T10:50:52.517' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_FeessubmitionSummry] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_FeesType] ON 
GO
INSERT [dbo].[tbl_FeesType] ([Id], [Program], [Branch], [Year], [FeesType], [EntryDate], [ModifyDate]) VALUES (2, 6, 1020, 1, N'Admission Fees', CAST(N'2023-01-21T17:40:08.690' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_FeesType] ([Id], [Program], [Branch], [Year], [FeesType], [EntryDate], [ModifyDate]) VALUES (3, 6, 1010, 1, N'Computer Fees', CAST(N'2023-01-21T17:42:43.297' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_FeesType] ([Id], [Program], [Branch], [Year], [FeesType], [EntryDate], [ModifyDate]) VALUES (4, 6, 1010, 1, N'Admission Fees', CAST(N'2023-01-21T17:43:04.490' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_FeesType] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_login] ON 
GO
INSERT [dbo].[tbl_login] ([ID], [Name], [UserId], [LoginTypeId], [Password], [EntryDate], [_UId], [IsActive]) VALUES (1, N'Admin', N'amarnag702@gmail.com', 1, N'Admin@123', CAST(N'2022-12-24T15:28:33.587' AS DateTime), 1, 1)
GO
INSERT [dbo].[tbl_login] ([ID], [Name], [UserId], [LoginTypeId], [Password], [EntryDate], [_UId], [IsActive]) VALUES (3, N'Hemant', N'E202300000', 3, N'6390749256', CAST(N'2023-01-06T16:47:27.900' AS DateTime), 2, 1)
GO
INSERT [dbo].[tbl_login] ([ID], [Name], [UserId], [LoginTypeId], [Password], [EntryDate], [_UId], [IsActive]) VALUES (11, N'Raj', N'E202300001', 3, N'8957180204', CAST(N'2023-01-31T18:21:56.720' AS DateTime), 4, 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_login] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_MasterRequestMode] ON 
GO
INSERT [dbo].[tbl_MasterRequestMode] ([Id], [ResuestMode], [Entrydate]) VALUES (1, N'Web', CAST(N'2023-02-21T15:01:00.870' AS DateTime))
GO
INSERT [dbo].[tbl_MasterRequestMode] ([Id], [ResuestMode], [Entrydate]) VALUES (2, N'App', CAST(N'2023-02-21T15:01:07.057' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_MasterRequestMode] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_MasterRole] ON 
GO
INSERT [dbo].[tbl_MasterRole] ([Id], [RoleID], [Role], [EntryDate]) VALUES (1, 1, N'Adminestrator', CAST(N'2022-12-24T16:29:38.020' AS DateTime))
GO
INSERT [dbo].[tbl_MasterRole] ([Id], [RoleID], [Role], [EntryDate]) VALUES (2, 2, N'Teacher', CAST(N'2022-12-24T16:29:59.533' AS DateTime))
GO
INSERT [dbo].[tbl_MasterRole] ([Id], [RoleID], [Role], [EntryDate]) VALUES (3, 3, N'Student', CAST(N'2022-12-24T16:30:13.170' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_MasterRole] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Notifications] ON 
GO
INSERT [dbo].[tbl_Notifications] ([Id], [Title], [Discreption], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [IsStaff]) VALUES (1, N'Test', N'People love to receive notifications. Let me take a step back and rephrase it a bit- People love to ', CAST(N'2022-12-26T16:15:12.533' AS DateTime), 1, CAST(N'2022-12-27T10:41:26.197' AS DateTime), 1, 1)
GO
INSERT [dbo].[tbl_Notifications] ([Id], [Title], [Discreption], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [IsStaff]) VALUES (3, N'Leave', N'christmas Leave on 25 dec 2022', CAST(N'2022-12-26T17:19:13.443' AS DateTime), 1, CAST(N'2022-12-26T19:03:59.407' AS DateTime), 1, 0)
GO
INSERT [dbo].[tbl_Notifications] ([Id], [Title], [Discreption], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [IsStaff]) VALUES (4, N'adasd', N'gdfgdfgdfgdfg', CAST(N'2023-01-09T18:08:45.690' AS DateTime), 1, CAST(N'2023-01-09T18:09:08.717' AS DateTime), 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Program] ON 
GO
INSERT [dbo].[tbl_Program] ([Id], [Program], [ProgramType], [ProgramDuration], [Entryby], [EntryDate], [ModifyDate], [ModifyBy]) VALUES (3, N'M.Tech', N'SemesterWise', N'2', 1, CAST(N'2023-01-09T13:51:04.493' AS DateTime), CAST(N'2023-01-10T12:23:44.160' AS DateTime), 1)
GO
INSERT [dbo].[tbl_Program] ([Id], [Program], [ProgramType], [ProgramDuration], [Entryby], [EntryDate], [ModifyDate], [ModifyBy]) VALUES (4, N'Diploma', N'SemesterWise', N'3', 1, CAST(N'2023-01-10T12:24:41.370' AS DateTime), NULL, NULL)
GO
INSERT [dbo].[tbl_Program] ([Id], [Program], [ProgramType], [ProgramDuration], [Entryby], [EntryDate], [ModifyDate], [ModifyBy]) VALUES (5, N'B.Ed', N'YearWise', N'3', 1, CAST(N'2023-01-11T18:19:50.790' AS DateTime), CAST(N'2023-01-11T18:20:04.703' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Program] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ProgramBranchMapping] ON 
GO
INSERT [dbo].[tbl_ProgramBranchMapping] ([Id], [ProgramId], [BranchId], [EntryDate], [Modifydate], [EntryBy], [ModifyBy], [BatchId]) VALUES (6, 4, 1020, CAST(N'2023-01-11T13:29:07.147' AS DateTime), CAST(N'2023-01-18T17:26:35.000' AS DateTime), 1, 1, 3)
GO
INSERT [dbo].[tbl_ProgramBranchMapping] ([Id], [ProgramId], [BranchId], [EntryDate], [Modifydate], [EntryBy], [ModifyBy], [BatchId]) VALUES (7, 5, 1010, CAST(N'2023-01-14T16:11:16.530' AS DateTime), CAST(N'2023-01-18T17:26:27.590' AS DateTime), 1, 1, 2)
GO
INSERT [dbo].[tbl_ProgramBranchMapping] ([Id], [ProgramId], [BranchId], [EntryDate], [Modifydate], [EntryBy], [ModifyBy], [BatchId]) VALUES (8, 6, 1010, CAST(N'2023-01-20T16:08:00.640' AS DateTime), CAST(N'2023-02-21T10:19:01.743' AS DateTime), 1, 1, 5)
GO
SET IDENTITY_INSERT [dbo].[tbl_ProgramBranchMapping] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_ProjectReport] ON 
GO
INSERT [dbo].[tbl_ProjectReport] ([ProjectId], [StudentName], [Branch], [_Year], [Enrollment], [ProjectTitle], [Techonology], [Entrydate], [Program]) VALUES (1, N'Hemant', N'1010', N'1', N'E202300000', N'Project', N'.Net', N'Jan 20 2023  3:41PM', 5)
GO
SET IDENTITY_INSERT [dbo].[tbl_ProjectReport] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_RegistrationMaster] ON 
GO
INSERT [dbo].[tbl_RegistrationMaster] ([Id], [Startdate], [Enddate], [Daylimit], [Alllimit], [Entrydate], [Modifydate], [IsOpen], [Program], [Branch], [Year]) VALUES (2, N'2023-04-13', N'2023-04-14', 34, 35, CAST(N'2023-03-28T16:44:38.010' AS DateTime), CAST(N'2023-04-15T15:13:00.593' AS DateTime), 1, 7, 1040, 1)
GO
INSERT [dbo].[tbl_RegistrationMaster] ([Id], [Startdate], [Enddate], [Daylimit], [Alllimit], [Entrydate], [Modifydate], [IsOpen], [Program], [Branch], [Year]) VALUES (3, N'2023-04-13', N'2023-04-14', 34, 35, CAST(N'2023-04-15T11:54:37.770' AS DateTime), CAST(N'2023-04-15T15:13:00.593' AS DateTime), 0, 7, 1040, 1)
GO
INSERT [dbo].[tbl_RegistrationMaster] ([Id], [Startdate], [Enddate], [Daylimit], [Alllimit], [Entrydate], [Modifydate], [IsOpen], [Program], [Branch], [Year]) VALUES (4, N'2023-04-13', N'2023-04-14', 34, 35, CAST(N'2023-04-15T11:58:08.797' AS DateTime), CAST(N'2023-04-15T15:13:00.593' AS DateTime), 0, 6, 0, 2)
GO
SET IDENTITY_INSERT [dbo].[tbl_RegistrationMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_session] ON 
GO
INSERT [dbo].[tbl_session] ([SessionId], [Sessionkey], [LoginID], [RequestMode], [EntryDate]) VALUES (1, N'Microsoft.AspNetCore.Session.DistributedSession', 1, 1, CAST(N'2023-02-21T15:12:47.357' AS DateTime))
GO
INSERT [dbo].[tbl_session] ([SessionId], [Sessionkey], [LoginID], [RequestMode], [EntryDate]) VALUES (2, N'9fe2e8dc-b5e0-0a9d-188c-7af3bd308cef', 1, 1, CAST(N'2023-02-21T15:14:05.297' AS DateTime))
GO
INSERT [dbo].[tbl_session] ([SessionId], [Sessionkey], [LoginID], [RequestMode], [EntryDate]) VALUES (3, N'4def3a76-427a-b372-2915-3a371d8b7f8d', 1, 1, CAST(N'2023-02-21T15:16:48.860' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tbl_session] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_student] ON 
GO
INSERT [dbo].[tbl_student] ([Id], [Name], [Fname], [Email], [Mobile], [Branch], [Address], [Gender], [Entrydate], [Group_Name], [Entrolment_No], [DOB], [FatherOccupation], [MotherName], [Program]) VALUES (1, N'Hemant', N'Ramlakhan nag', N'amarnag702@gmail.com', N'6390749256', N'1010', N'Lucknow', N'Male', CAST(N'2023-01-19T19:06:14.410' AS DateTime), N'A', N'20230000', N'2004-07-15', N'Farmer', N'Urmila Nag', 3)
GO
INSERT [dbo].[tbl_student] ([Id], [Name], [Fname], [Email], [Mobile], [Branch], [Address], [Gender], [Entrydate], [Group_Name], [Entrolment_No], [DOB], [FatherOccupation], [MotherName], [Program]) VALUES (2, N'Shivam Tiwari', N'Father', N'st820372@gmail.com', N'8956784512', N'1010', N'Lucknow', N'Male', CAST(N'2023-01-23T14:28:43.517' AS DateTime), N'A', N'20230001', N'2022-06-17', N'Farmar', N'Mother', 6)
GO
INSERT [dbo].[tbl_student] ([Id], [Name], [Fname], [Email], [Mobile], [Branch], [Address], [Gender], [Entrydate], [Group_Name], [Entrolment_No], [DOB], [FatherOccupation], [MotherName], [Program]) VALUES (3, N'Raj', N'Prakash Mishra', N'amarnag702@gmail.com', N'8957180204', N'1020', N'Lakhimpur', N'Male', CAST(N'2023-01-31T18:21:06.260' AS DateTime), N'A', N'20230002', N'2006-07-07', N'Droctor', N'Rinki Mishra', 6)
GO
SET IDENTITY_INSERT [dbo].[tbl_student] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Student_Admission] ON 
GO
INSERT [dbo].[tbl_Student_Admission] ([Id], [Name], [Fname], [Email], [Mobile], [Branch], [Address], [Gender], [Admissiondate], [Group_Name], [DOB], [EntrollmentNo], [Fess_Status], [_Year], [Program], [MotherName], [FatherOccupation], [Religion]) VALUES (1, N'Institute', N'', N'amarnag702@gmail.com', N'6390749256', N'', N'Dhaurahra Lakhimpur-Kheri', N'', CAST(N'2023-01-19T14:45:45.993' AS DateTime), N'', N'', N'', N'1', N'', NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tbl_Student_Admission] ([Id], [Name], [Fname], [Email], [Mobile], [Branch], [Address], [Gender], [Admissiondate], [Group_Name], [DOB], [EntrollmentNo], [Fess_Status], [_Year], [Program], [MotherName], [FatherOccupation], [Religion]) VALUES (2, N'Hemant', N'Ramlakhan nag', N'amarnag702@gmail.com', N'6390749256', N'1010', N'Lucknow', N'Male', CAST(N'2023-01-20T14:54:31.053' AS DateTime), N'A', N'2004-07-15', N'E202300000', N'2', N'1', 5, N'Urmila Nag', N'Farmer', N'Hindu')
GO
INSERT [dbo].[tbl_Student_Admission] ([Id], [Name], [Fname], [Email], [Mobile], [Branch], [Address], [Gender], [Admissiondate], [Group_Name], [DOB], [EntrollmentNo], [Fess_Status], [_Year], [Program], [MotherName], [FatherOccupation], [Religion]) VALUES (4, N'Raj', N'Prakash Mishra', N'amarnag702@gmail.com', N'8957180204', N'1020', N'Lakhimpur', N'--Select Gender--', CAST(N'2023-01-31T18:21:56.717' AS DateTime), N'A', N'2006-07-07', N'E202300001', N'2', N'1', 6, N'Rinki Mishra', N'Droctor', N'Hindu')
GO
SET IDENTITY_INSERT [dbo].[tbl_Student_Admission] OFF
GO
INSERT [dbo].[tbl_StudentAttandance] ([EnrollmentNo], [IsPresent], [IsAbsent], [IsLate], [IsHalfDay], [Note], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [AttandanceDate], [Program], [Branch], [Year]) VALUES (N'E202300000', 0, 1, 0, 0, N'gdfg', CAST(N'2023-04-08T18:05:52.553' AS DateTime), 1, NULL, NULL, N'2023-04-08', 5, 1010, 1)
GO
INSERT [dbo].[tbl_StudentAttandance] ([EnrollmentNo], [IsPresent], [IsAbsent], [IsLate], [IsHalfDay], [Note], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [AttandanceDate], [Program], [Branch], [Year]) VALUES (N'E202300002', 0, 0, 1, 0, N'hfghjgh', CAST(N'2023-04-08T18:05:52.560' AS DateTime), 1, NULL, NULL, N'2023-04-08', 5, 1010, 1)
GO
INSERT [dbo].[tbl_StudentAttandance] ([EnrollmentNo], [IsPresent], [IsAbsent], [IsLate], [IsHalfDay], [Note], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [AttandanceDate], [Program], [Branch], [Year]) VALUES (N'E202300003', 1, 0, 0, 0, N'jhjkkhjk', CAST(N'2023-04-08T18:05:52.560' AS DateTime), 1, NULL, NULL, N'2023-04-08', 5, 1010, 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Studentfine] ON 
GO
INSERT [dbo].[tbl_Studentfine] ([Id], [EnrollmentNumber], [FineAmount], [FineResion], [EntryDate], [ModifyDate], [FineStatus]) VALUES (1, N'E202300002', N'12', N'dsasa', CAST(N'2023-03-27T17:00:08.137' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_Studentfine] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_StudentLedger] ON 
GO
INSERT [dbo].[tbl_StudentLedger] ([ID], [EnrollmentNo], [TotalFees], [TotalSubmitedFees], [Totalduefees], [EntryDate], [ModifyDate], [Mode]) VALUES (1, N'E202300001', CAST(45460.000000000 AS Numeric(18, 9)), CAST(5461.000000000 AS Numeric(18, 9)), CAST(39999.000000000 AS Numeric(18, 9)), CAST(N'2023-02-02T17:17:02.780' AS DateTime), NULL, 1)
GO
INSERT [dbo].[tbl_StudentLedger] ([ID], [EnrollmentNo], [TotalFees], [TotalSubmitedFees], [Totalduefees], [EntryDate], [ModifyDate], [Mode]) VALUES (2, N'E202300001', CAST(39999.000000000 AS Numeric(18, 9)), CAST(9000.000000000 AS Numeric(18, 9)), CAST(30999.000000000 AS Numeric(18, 9)), CAST(N'2023-02-02T17:34:55.283' AS DateTime), NULL, 1)
GO
INSERT [dbo].[tbl_StudentLedger] ([ID], [EnrollmentNo], [TotalFees], [TotalSubmitedFees], [Totalduefees], [EntryDate], [ModifyDate], [Mode]) VALUES (3, N'E202300001', CAST(30999.000000000 AS Numeric(18, 9)), CAST(15000.000000000 AS Numeric(18, 9)), CAST(15999.000000000 AS Numeric(18, 9)), CAST(N'2023-03-13T14:44:19.303' AS DateTime), NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_StudentLedger] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_SubjectMaster] ON 
GO
INSERT [dbo].[tbl_SubjectMaster] ([Id], [_Year], [SubjectName], [SubjectCode], [SubjectType], [TheoryMarks], [PracticalMarks], [EntryDate], [Modifydate], [BranchId], [Program], [PassingMarks], [IsPrectical], [Iswritten], [PrecticalPassingMarks]) VALUES (1, N'2', N'Applied Mathemetics-2', N'AM-1', N'optional', N'52', N'23', CAST(N'2023-03-13T15:59:05.877' AS DateTime), CAST(N'2023-03-27T12:52:06.580' AS DateTime), 1010, 5, 17, 1, 1, 9)
GO
INSERT [dbo].[tbl_SubjectMaster] ([Id], [_Year], [SubjectName], [SubjectCode], [SubjectType], [TheoryMarks], [PracticalMarks], [EntryDate], [Modifydate], [BranchId], [Program], [PassingMarks], [IsPrectical], [Iswritten], [PrecticalPassingMarks]) VALUES (2, N'1', N'Machanics', N'M-001', N'Conpalsary', N'50', N'50', CAST(N'2023-03-13T16:00:06.877' AS DateTime), NULL, 1020, 6, 17, 1, 1, 8)
GO
INSERT [dbo].[tbl_SubjectMaster] ([Id], [_Year], [SubjectName], [SubjectCode], [SubjectType], [TheoryMarks], [PracticalMarks], [EntryDate], [Modifydate], [BranchId], [Program], [PassingMarks], [IsPrectical], [Iswritten], [PrecticalPassingMarks]) VALUES (4, N'2', N'Applied Mathemetics-3', N'wer34', N'Conpalsary', N'45', N'45', CAST(N'2023-03-27T13:26:40.430' AS DateTime), NULL, 1010, 6, 45, 1, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[tbl_SubjectMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Syllabus] ON 
GO
INSERT [dbo].[tbl_Syllabus] ([ID], [BranchID], [SubjectID], [_Year], [_Path], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [Program]) VALUES (2, 1010, 1, 1, N'\Syllabus\1\reward-coin.png', CAST(N'2023-01-31T14:43:18.367' AS DateTime), 1, CAST(N'2023-01-31T14:43:51.373' AS DateTime), 1, 6)
GO
INSERT [dbo].[tbl_Syllabus] ([ID], [BranchID], [SubjectID], [_Year], [_Path], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [Program]) VALUES (3, 1020, 2, 1, N'\Syllabus\1\color.png', CAST(N'2023-02-18T16:44:54.420' AS DateTime), 1, NULL, NULL, 6)
GO
INSERT [dbo].[tbl_Syllabus] ([ID], [BranchID], [SubjectID], [_Year], [_Path], [EntryDate], [EntryBy], [ModifyDate], [ModifyBy], [Program]) VALUES (4, 1040, 6, 1, N'\Syllabus\7\6323.jpg', CAST(N'2023-04-10T15:39:34.943' AS DateTime), 1, NULL, NULL, 7)
GO
SET IDENTITY_INSERT [dbo].[tbl_Syllabus] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Teacher] ON 
GO
INSERT [dbo].[tbl_Teacher] ([TeacherId], [Name], [Fname], [Email], [Mobile], [DOB], [Address], [salary], [Qualification], [EntryDate], [ModifyDate]) VALUES (1, N'TestGyanu', N'fsdf', N'TestGyanu@gmail.com', N'9685748596', N'1221-02-12', N'Gomatinagar', N'12000', N'B.Tech', CAST(N'2022-12-24T15:59:47.593' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_Teacher] ([TeacherId], [Name], [Fname], [Email], [Mobile], [DOB], [Address], [salary], [Qualification], [EntryDate], [ModifyDate]) VALUES (2, N'Ankit', N'Ramlakhan', N'ankit@gmail.com', N'63938288314', N'2023-01-05', N'Lakhimpur', N'25000', N'B.sc,B.Ed,M.A', CAST(N'2023-01-07T12:37:53.397' AS DateTime), NULL)
GO
INSERT [dbo].[tbl_Teacher] ([TeacherId], [Name], [Fname], [Email], [Mobile], [DOB], [Address], [salary], [Qualification], [EntryDate], [ModifyDate]) VALUES (3, N'Amar', N'teter', N'amrnag78.com', N'8965236598', N'2023-04-01', N'ertertertert', N'54554', N'etert', CAST(N'2023-04-06T11:17:09.433' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[tbl_Teacher] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_TimeTable] ON 
GO
INSERT [dbo].[tbl_TimeTable] ([ID], [Program], [Branch], [Year], [Subject], [Teacher], [TimeFrom], [TimeTo], [RoomNo], [EntryDate], [ModifyDate], [Day]) VALUES (1, 6, 1010, 1, 7, 1, N'21:09', N'16:15', N'L-1', CAST(N'2023-04-06T16:10:05.247' AS DateTime), CAST(N'2023-04-06T17:15:36.360' AS DateTime), N'Monday')
GO
INSERT [dbo].[tbl_TimeTable] ([ID], [Program], [Branch], [Year], [Subject], [Teacher], [TimeFrom], [TimeTo], [RoomNo], [EntryDate], [ModifyDate], [Day]) VALUES (2, 6, 1010, 1, 8, 2, N'22:10', N'22:10', N'L-2', CAST(N'2023-04-06T16:10:28.690' AS DateTime), NULL, N'Tuesday')
GO
INSERT [dbo].[tbl_TimeTable] ([ID], [Program], [Branch], [Year], [Subject], [Teacher], [TimeFrom], [TimeTo], [RoomNo], [EntryDate], [ModifyDate], [Day]) VALUES (3, 6, 1010, 1, 9, 3, N'16:14', N'19:10', N'L-3', CAST(N'2023-04-06T16:10:45.907' AS DateTime), NULL, N'Wednesday')
GO
SET IDENTITY_INSERT [dbo].[tbl_TimeTable] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_VideoLectures] ON 
GO
INSERT [dbo].[tbl_VideoLectures] ([Id], [BranchId], [SubjectId], [Year], [EntryBy], [EntryDate], [ModifyBy], [ModifyDate], [VideoUrl], [Program]) VALUES (3, 1020, 2, 1, 1, CAST(N'2023-02-18T13:25:41.013' AS DateTime), 1, CAST(N'2023-03-27T17:04:54.140' AS DateTime), N'https://www.youtube.com/watch?v=jdPkQcfCuYg', 6)
GO
SET IDENTITY_INSERT [dbo].[tbl_VideoLectures] OFF
GO
ALTER TABLE [dbo].[tbl_SubjectMaster] ADD  DEFAULT ((0)) FOR [BranchId]
GO
