@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                            <h4 style="color:black;">Student Report</h4>
                        </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>Enrollment Number</lable>
                                <input type="text" class="form-control" placeholder="Enrollment Number">
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="getdata()" class="btn btn-outline-primary waves-effect waves-light" style="margin-top:20px;" id="btnsearch">Search</button>
                            </div>
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblstudent">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Father Name</th>
                                        <th>EnrollmentNo</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>DOB</th>
                                        <th>Program</th>
                                        <th>Branch</th>
                                        <th>Year</th>
                                        <th>Address</th>
                                        <th>Fees Status</th>
                                        <th>Mode</th>
                                        <th>Total Branch Fees</th>
                                        <th>Total Submitted Fees</th>
                                        <th>Due Fees</th>
                                        <th>Submission Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>