<div class="">
    <div class="">
        <div class="row px-2 py-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                            <h4 style="color:black;">Student Report</h4>
                        </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>Admission Number</lable>
                                <input type="text" class="form-control" placeholder="Enrollment Number">
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="getdata()" class="btn btn-outline-primary waves-effect waves-light" style="margin-top:20px;" id="btnsearch">Search</button>
                            </div>
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblstudent">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th class="text-nowrap">Name</th>
                                        <th class="text-nowrap">Father Name</th>
                                        <th class="text-nowrap">EnrollmentNo</th>
                                        <th class="text-nowrap">Email</th>
                                        <th class="text-nowrap">Mobile</th>
                                        <th class="text-nowrap">DOB</th>
                                        <th class="text-nowrap">Program</th>
                                        <th class="text-nowrap">Branch</th>
                                        <th class="text-nowrap">Year</th>
                                        <th class="text-nowrap">Address</th>
                                        <th class="text-nowrap">Fees Status</th>
                                        <th class="text-nowrap">Mode</th>
                                        <th class="text-nowrap">Total Branch Fees</th>
                                        <th class="text-nowrap">Total Submitted Fees</th>
                                        <th class="text-nowrap">Due Fees</th>
                                        <th class="text-nowrap">Submission Date</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>