@{
    Layout = "_LayoutAdmin";
}
<style>
    .switch {
    font-size: 1rem;
    position: relative;
}

    .switch.is-valid {
        border-color: #28a745;
    }

    .switch.is-info {
        border-color: #17a2b8;
    }

    .switch input {
        position: absolute;
        height: 1px;
        width: 1px;
        background: none;
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;
    }

        .switch input + label {
            position: relative;
            min-width: calc(calc(2.375rem * .8) * 2);
            border-radius: calc(2.375rem * .8);
            height: calc(2.375rem * .8);
            line-height: calc(2.375rem * .8);
            display: inline-block;
            cursor: pointer;
            outline: none;
            user-select: none;
            vertical-align: middle;
            text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
        }

            .switch input + label::before,
            .switch input + label::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: calc(calc(2.375rem * .8) * 2);
                bottom: 0;
                display: block;
            }

            .switch input + label::before {
                right: 0;
                background-color: #dee2e6;
                border-radius: calc(2.375rem * .8);
                transition: 0.2s all;
            }

            .switch input + label::after {
                top: 2px;
                left: 2px;
                width: calc(calc(2.375rem * .8) - calc(2px * 2));
                height: calc(calc(2.375rem * .8) - calc(2px * 2));
                border-radius: 50%;
                background-color: white;
                transition: 0.2s all;
            }

        .switch input:checked + label::before {
            background-color: #6e7882;
        }

        .switch input:checked + label::after {
            margin-left: calc(2.375rem * .8);
        }

        .switch input:focus + label::before {
            outline: none;
            box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
        }

        .switch input:disabled + label {
            color: #868e96;
            cursor: not-allowed;
        }

            .switch input:disabled + label::before {
                background-color: #e9ecef;
            }

    .switch.switch-sm {
        font-size: 0.875rem;
    }

        .switch.switch-sm input + label {
            min-width: calc(calc(1.9375rem * .8) * 2);
            height: calc(1.9375rem * .8);
            line-height: calc(1.9375rem * .8);
            text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
        }

            .switch.switch-sm input + label::before {
                width: calc(calc(1.9375rem * .8) * 2);
            }

            .switch.switch-sm input + label::after {
                width: calc(calc(1.9375rem * .8) - calc(2px * 2));
                height: calc(calc(1.9375rem * .8) - calc(2px * 2));
            }

        .switch.switch-sm input:checked + label::after {
            margin-left: calc(1.9375rem * .8);
        }

    .switch.switch-lg {
        font-size: 1.25rem;
    }

        .switch.switch-lg input + label {
            min-width: calc(calc(3rem * .8) * 2);
            height: calc(3rem * .8);
            line-height: calc(3rem * .8);
            text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
        }

            .switch.switch-lg input + label::before {
                width: calc(calc(3rem * .8) * 2);
            }

            .switch.switch-lg input + label::after {
                width: calc(calc(3rem * .8) - calc(2px * 2));
                height: calc(calc(3rem * .8) - calc(2px * 2));
            }

        .switch.switch-lg input:checked + label::after {
            margin-left: calc(3rem * .8);
        }

    .switch + .switch {
        margin-left: 1rem;
    }
</style>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Notifications</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="getdata()" class="btn btn-outline-primary waves-effect waves-light" style="margin-top:20px;" id="btnsearch">Search</button>
                            </div>
                            <!-- end col -->
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblbranch">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Notification Title</th>
                                        <th>Notification Description</th>
                                        <th>IsStaff</th>
                                        <th>EntryDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        loadrecord();
    });
    var loadrecord = () => {
        $.post('/Master/GetNotificationMaster').done(function(result) {
            console.log(result);
            $('#tblbranch tbody').html(result);
        }).fail(function(xhr) {
            alert('Server Error');
            console.log(xhr.responseText);
        });
    }
    var EditRecord = function(NotifyID) {
        $.post('/Master/EditNotificationMaster', { ID: NotifyID }).done(function(result) {
            $('body').append(result);
            $('#myModalNew').modal('show');
            $('[data-dismiss="modal"]').unbind().click(function() {
                $('.modal,.modal-backdrop').remove();
            })
        }).fail(function(xhr) {
            alert('Server Error');
            console(xhr.responseText);
        });
    }
    var SaveRecord = function(NotifyID) {
        let obj = {
            Notificationtitle: $('#notititle').val(),
            NotificationDescription: $('#notidesc').val(),
            ID: NotifyID
        }
        $.post('/Master/NotificationMaster',obj).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            else {
                alert(result.msg);
            }
        }).fail(function(xhr) {
            alert('Server Error');
            console(xhr.responseText);
        });
    }
    var DeleteRecord = function(NotifyID) {
        $.post('/Master/DeleteNotificationMaster', {ID:NotifyID}).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            else {
                alert(result.msg);
            }
        }).fail(function(xhr) {
            alert('Server Error');
            console(xhr.responseText);
        });
    }
    var UpdateType = function(NotifyID) {
        let columnsts = 1;
        $.post('/Master/UpdateNotificationtype', {ID:NotifyID,IsStaff:columnsts}).done(function(result) {
            if (result.statuscode == 1) {
                alert(result.msg);
                window.location.reload();
            }
            else {
                alert(result.msg);
            }
        }).fail(function(xhr) {
            alert('Server Error');
            console(xhr.responseText);
        });
    }
</script>