@{
    Layout = null;
}
<title>Login | </title>
<link href="~/Logins/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="~/Logins/fonts.css" rel="stylesheet" type="text/css" />
<link href="~/Logins/login.css" rel="stylesheet" type="text/css" />
<link href="~/Logins/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
<link href="~/css/Custom.css" rel="stylesheet" type="text/css">
<script>
    var login = function() {
        let obj = {
            LoginTypeId: $('#ddlusertype :selected').val(),
            UserId: $('#UserId').val(),
            Password: $('#password').val()
        }
        if (obj.LoginTypeId == '') {
            alert('Please select Login Type');
            $('#ddlusertype').focus();
            return false;
        }
        if (obj.UserId == '') {
            $('#UserIdsp').removeClass('d-none');
            $('#UserId').focus();
            return false;
        }
        if (obj.Password == '') {
            $('#passwordsp').removeClass('d-none');
            $('#password').focus();
            return false;
        }
        preloader.load();
        $.post('/Account/Login', obj).done(function(result) {
            console.log(result);
            preloader.remove();
            if (result.loginTypeId == 1) {
                window.location.replace("/Admin/Index");
            }
            else if (result.loginTypeId == 2) {
                window.location.replace("/Admin/TeacherDash");
            }
            else if (result.loginTypeId == 3) {
                window.location.replace("/Student/Index");
            }
            else if (result.loginTypeId == -1) {
                $('#msg').text(result.msg);
                return false;
            }
            else if (result.statuscode == -1) {
                $('#msg').text(result.msg);
                return false;
            }
            else {
                window.location.reload();
            }
        }).fail(function(xhr) {
            console.log(xhr);
            //alert('server error');
        })
    }
    var ForgetPassword = function() {
        $.post('/Account/ForgetPassword').done(function(result) {
            showModel(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
        });
    }
</script>
<main class="d-flex align-items-center min-vh-100" style="background-image: -webkit-linear-gradient( 48deg, rgb(251, 254, 0) 0%, rgb(247, 148, 30) 100%)">
    <div class="container">
        <div class="card login-card" style="height:500Px;">
            <div class="row no-gutters">
                <div class="col-md-7" style="background-color: #f96f0a;
    text-align: center;">
                    <div class="" style="color:White; margin-top: 32%;">
                        <h3 style="font-weight: bolder;">WELCOME</h3>
                    </div>
                    <div class="">
                        <a href="/" style="color:black;">www.YourDomain.com</a>
                    </div>
                </div>
                <div class="col-md-5" style="background-color: #fdf8d7;">
                    <div class="card-body">
                        <div class="brand-wrapper" style="margin-top: -22px;
    margin-bottom: 10px;">
                            <img src="~/Logins/logo.svg" alt="logo" class="logo">
                        </div>
                        <div class="form-group">
                            <label for="ddlusertype">Login Type</label>
                            <select class="form-control" id="ddlusertype">
                                <option value="1">Institute</option>
                                @* <option value="2">Teacher</option>*@
                                <option value="3">Student</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="UserId">UserName</label>
                            <input class="form-control" id="UserId" type="text" placeholder="User Name" required>
                            <span class="d-none text-danger" id="UserIdsp">Enter UserName</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" id="password" type="password" placeholder="Password" required>
                            <span class="d-none text-danger" id="passwordsp">Enter Password</span>
                            <span class="text-danger" id="msg"></span>
                        </div>
                        <button class="btn btn-block login-btn" type="submit" onclick="login()" id="login" style="margin-top: 12px;">Sign In</button>
                        <a href="javascript:void(0)" class="forgot-password-link" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" onclick="ForgetPassword()">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="~/js/jquery.min.js"></script>
<script src="~/logins/bootstrap.min.js"></script>
<script src="~/logins/popper.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/dist/sweetalert2.all.min.js"></script>
<script src="~/dist/sweetalert2.all.js"></script>