@{
    Layout = "_LayoutStudent";
}
@model LoginInfo
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box bgred">
            <div class="float-right hide-phone">
            </div>
            <h4 class="page-title">Wellcome @Model.UserName</h4>
        </div>
    </div>
</div>