@{
    Layout = "_LayoutStudent";
}
@model LoginInfo
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box bg-primary">
                    <div class="float-right hide-phone">
                    </div>
                    <h4 class="page-title">Wellcome @Model.UserName</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <section class="header">
                    <div class="container">
                        <header class="text-center mb-2 pb-2 text-white">
                            <h3 class="display-4" style="color:black; font-size: 37px;">Student Assignment</h3>
                            <p class="font-italic">
                                <a class="text-white" href="">
                                    <u></u>
                                </a>
                            </p>
                        </header>
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap" id="tblstudentassignment">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Subject</th>
                                        <th>Assignment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Loaddata();
    });
    var Loaddata = function() {
        preloader.load();
        $.post('/Student/GetStudentAssignment').done(function(result) {
            $('#tblstudentassignment tbody').html(result);
            preloader.remove();
        }).fail(function(xhr) {
            console.log(xhr.responseText);
        });
    }
</script>