@{
    Layout = "_LayoutAdmin";
}

<div class="">
    <div class="">
        @*<div class="row">
            <div class="col-sm-12">
                <div class="">
                    <h3>Add Teacher</h3>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-header bg-primary">
                            <h4 style="color:white;">Add Teacher</h4>
                        </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="p-20">
                                    <div class="form-group"><label>Name</label> <input type="text" placeholder="Name" class="form-control" id="name"> </div>
                                    <div class="form-group"><label>Father Name</label> <input type="text" placeholder="Father Name" class="form-control" id="fname"> </div>
                                    <div class="form-group"><label>Mobile</label> <input type="text" placeholder="Mobile" class="form-control" id="mobile"> </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-20">
                                    <div class="form-group"><label>Eamil</label> <input type="text" placeholder="Eamil" class="form-control" id="email"> </div>
                                    <div class="form-group"><label>DOB</label> <input type="date" placeholder="dd-mm-yy" class="form-control" id="dob"> </div>
                                    <div class="form-group"><label>Address</label> <textarea class="form-control" placeholder="Address" id="address"></textarea></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="p-20">
                                    <div class="form-group"><label>salary</label> <input type="number" placeholder="salary" class="form-control" id="salary"> </div>
                                    <div class="form-group"><label>Qualification</label> <input type="text" placeholder="Qualification" class="form-control" id="Qualification"></div>
                                </div>
                            </div>
                            <button type="button" style="width: 12%; margin-left: 35px; margin-top: -27px;" class="btn btn-outline-primary waves-effect waves-light" id="btnsubmit">save</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#btnsubmit').click(function() {
            if($('#name').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#name').focus();
                return false;
            }
            if($('#fname').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#fname').focus();
                return false;
            }
            if($('#email').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#email').focus();
                return false;
            }
             if($('#mobile').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#mobile').focus();
                return false;
            }
             if($('#dob').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#dob').focus();
                return false;
            }
            if($('#salary').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#salary').focus();
                return false;
            }
            if($('#Qualification').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#Qualification').focus();
                return false;
            }
            if($('#address').val() == ''){
                alert("Please Fill Requered Inpormation..");
                $('#address').focus();
                return false;
            }
            var obj = {
                Name: $('#name').val(),
                Fname: $('#fname').val(),
                Email: $('#email').val(),
                Mobile: $('#mobile').val(),
                DOB: $('#dob').val(),
                salary: $('#salary').val(),
                Qualification: $('#Qualification').val(),
                Address: $('#address').val()
            }
            $.post('/Teacher/_AddTeacher', obj).done(function(result) {
                window.location.replace("/Teacher/teacherlist");
                if (result.statuscode == "1") {
                    alert(result.msg);
                }
                window.location.reload();
            }).fail(function(xhr) {
                console.log(xhr.responseText);
            });
        });
    });
</script>