@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <!-- Page-Title -->
        @*<div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    Teacher Report
                </div>
            </div>
        </div>*@
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                            <h4 style="color:white;">Teacher Report</h4>
                        </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>From Date</lable>
                                <input type="date" class="form-control" placeholder="From Date">
                            </div>
                            <div class="col-md-3">
                                <lable>Teacher Name</lable>
                                <input type="text" class="form-control" placeholder="Teacher Name">
                            </div>
                            <div class="col-md-2">
                                <button type="button" onclick="getdata()" class="btn btn-outline-primary waves-effect waves-light" style="margin-top:20px;" id="btnsearch">Search</button>
                            </div>
                            <!-- end col -->

                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblteacher">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Father Name</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>DOB</th>
                                        <th>salary</th>
                                        <th>Qualification</th>
                                        <th>Address</th>
                                        <th>EntryDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
$(document).ready(function() {
    loaddata();
});
var loaddata = function(){
    $.post('/Teacher/GetTeacher').done(function(result) {
        $('#tblteacher tbody').html(result);
    }).fail(function() {
        alert('server error');
    });
}
</script>