@model List<ProgramMaster>
<div class="container">
    <div class="row">
        <div class="col-12 px-4">
            <div class="card mb-30">
                <div class="card-header bgred">
                    <h4 style="color:black;">Admission Form</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="">
                                <div class="form-group"><label>Registration Number</label> <input type="text" onfocusout="admissionDetails()" placeholder="Registration Number" class="form-control" id="txtresno" required> </div>
                                <div class="form-group">
                                    <label>Gender</label> <select class="form-control" id="gender" required>
                                        <option value="">--Select Gender--</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Program</label> <select class="form-control" id="ddlprogram" onchange="Bindbranch()" required>
                                        <option value="">--Select Program--</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.Id">@item.Program</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Year</label>
                                    <select class="form-control" id="ddlyear" required>
                                        <option value="">--Select Year--</option>
                                        <option value="1">First Year</option>
                                        <option value="2">Seccond Year</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Batch</label>
                                    <select class="form-control" id="ddlbatch" required>
                                        <option value="0">--Select Batch--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="">
                                <div class="form-group"><label>Name</label> <input type="text" placeholder="Name" class="form-control" id="name" required> </div>
                                <div class="form-group"><label>Mobile</label> <input type="text" placeholder="Mobile" class="form-control" id="mobile" required> </div>
                                <div class="form-group">
                                    <label>Branch</label> <select class="form-control" id="ddlbranch" required>
                                        <option value="">--Select Branch--</option>
                                    </select>
                                </div>
                                <div class="form-group"><label>Religion</label> <input type="text" placeholder="Religion" class="form-control" id="Religion" required> </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="">
                                <div class="form-group"><label>DOB</label> <input type="date" placeholder="dd-mm-yy" class="form-control" id="dob" required> </div>
                                <div class="form-group"><label>Eamil</label> <input type="text" placeholder="Eamil" class="form-control" id="email" required> </div>
                                <div class="form-group">
                                    <label>Admission Type</label> <select class="form-control" id="ddladdmission" required>
                                        <option value="">--Select Admission Type--</option>
                                    </select>
                                </div>
                                <div class="form-group"><label>Address</label> <textarea class="form-control" placeholder="Address" id="address" required></textarea></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <div class="row">
        <div class="col-12 px-4">
            <div class="card mb-30">
                <div class="card-body">
                    <h1 class="card-title mb-1">Parents Details</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group"><label>Mother Name</label> <input type="text" placeholder="Mother Name" class="form-control" id="mothername" required> </div>
                            <div class="form-group"><label>Father Name</label> <input type="text" placeholder="Father Name" class="form-control" id="fname" required> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label>Father Mobile</label> <input type="text" placeholder="Father Mobile" class="form-control" id="fmobile" required> </div>
                            <div class="form-group"><label>Mother Mobile</label> <input type="text" placeholder="Mother Mobile" class="form-control" id="Mmobile" required> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label>Father Occupation</label> <input type="text" placeholder="Father Occupation" class="form-control" id="fatheroccupation" required> </div>
                            <div class="form-group"><label>Mother Occupation</label> <input type="text" placeholder="Mother Occupation" class="form-control" id="motheroccupation" required> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-4">
            <div class="card mb-30">
                <div class="card-body">
                    <h1 class="card-title mb-1">Document Upload</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group"><label>Photo</label> <input type="file" class="form-control" id="filephoto" required> </div>
                            <div class="form-group"><label>Aadhar Card</label> <input type="file" class="form-control" id="fileaadhar" required> </div>
                            <div class="form-group"><label>Nationality Certificate</label> <input type="file" class="form-control" id="filenationality" required> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label>Father Aadhar Card</label> <input type="file" class="form-control" id="filefatheraadhar" required> </div>
                            <div class="form-group"><label>Mother Aadhar Card</label> <input type="file" class="form-control" id="filemotheraadhar" required> </div>
                            <div class="form-group"><label>Transfer Certificate (TC)</label> <input type="file" class="form-control" id="filetransfercertificate" required> </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"><label>Income Certificate</label> <input type="file" class="form-control" id="incomecertificte" required> </div>
                            <div class="form-group"><label>Cast Certificate</label> <input type="file" class="form-control" id="filecastcertifiacte" required> </div>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-outline-primary waves-effect waves-light" id="btnsubmit" onclick="submitAdmission()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        bindAdmissionType();
        Bindbatch();
    });
    var submitAdmission = () => {
        let isvalid = valiadteInputs();
        if (!isvalid) {
            return false;
        }
        let formData = new FormData();
        preloader.load();
        formData.append('RgistrationNo', $('#txtresno').val());
        formData.append('Name',$('#name').val());
        formData.append('DOB',$('#dob').val());
        formData.append('Gender',$('#gender option:selected').val());
        formData.append('Mobile',$('#mobile').val());
        formData.append('Email',$('#email').val());
        formData.append('Program',$('#ddlprogram option:selected').val());
        formData.append('Branch',$('#ddlbranch option:selected').val());
        formData.append('AdmissionType',$('#ddladdmission').val());
        formData.append('Year',$('#ddlyear option:selected').val());
        formData.append('Religion',$('#Religion').val());
        formData.append('Address',$('#address').val());
        formData.append('Batch',$('#ddlbatch').val());
        formData.append('MotherName', $('#mothername').val());
        formData.append('FatherMo', $('#fmobile').val());
        formData.append('FatherOccupation', $('#fatheroccupation').val());
        formData.append('Fname', $('#fname').val());
        formData.append('MotherMo', $('#Mmobile').val());
        formData.append('MotherOccupation', $('#motheroccupation').val());
        formData.append('PhotoFile', $('#filephoto')[0].files[0]);
        formData.append('FatherAadharFile', $('#filefatheraadhar')[0].files[0]);
        formData.append('MotherAadharFile', $('#filemotheraadhar')[0].files[0]);
        formData.append('IncomecertificateFile', $('#incomecertificte')[0].files[0]);
        formData.append('AadharFile', $('#fileaadhar')[0].files[0]);
        formData.append('CastCertificateFile', $('#filecastcertifiacte')[0].files[0]);
        formData.append('NationalityCertificateFile', $('#filenationality')[0].files[0]);
        formData.append('TransferCertificateFile', $('#filetransfercertificate')[0].files[0]);
        $.ajax({
            type: "POST",
            url: "/Admission/Student_Admission",
            data: formData,
            contentType: false,
            processData: false,
            success: function(result) {
                preloader.remove();
                alertnotify(result.statuscode, result.msg);
                if (result.statuscode == 1) {
                    $('input').val('');
                    $('select').val('0');
                }
            }
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var admissionDetails = () => {
        preloader.load();
        let ResBo = $('#txtresno').val();
        $.post('/Admission/StudentGetAdmissionDetails', { RegistrationNo: ResBo }).done(function(result) {
            $('#name').val(result.name);
            $('#fname').val(result.fname);
            $('#email').val(result.email);
            $('#mobile').val(result.mobile);
            $('#dob').val(result.dob);
            $('#address').val(result.address);
            $('#fatheroccupation').val(result.fatherOccupation);
            $('#mothername').val(result.motherName);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        }).always(() => { preloader.remove() });
    }
    var bindAdmissionType = () => {
        $.post('/Master/GetAdmissionType').done(function(result) {
            $('#ddladdmission').empty();
            for (var j = 0; j < result.length; j++) {
                $('#ddladdmission').append('<option value="' + result[j].id + '">' + result[j].name + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var Bindbatch = () => {
        $.post('/Master/BindBatch').done(function(result) {
            console.log(result);
            $('#ddlbatch').empty().append('<option value="">--Select Batch--</option>');
            for (var i = 0; i < result.length; i++) {
                $('#ddlbatch').append('<option value="' + result[i].id + '">' + result[i].fromYear + ' - ' + result[i].toYear + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
</script>