@{
    Layout = "_LayoutAdmin";
}
<link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css">
      <div class="">
         <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
               <div class="col-sm-12">
                  <div class="">
                     <h3 class="page-title">Student Dashboard</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>