  @{
    Layout = "_LayoutAdmin";
}
   <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Teacher Dashboard</h4>
            </li>
          </ul>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="info-box7-block">
                    <h6 class="m-b-20 text-right">Orders Received</h6>
                    <h4 class="text-right"><i class="fas fa-cart-plus pull-left bg-indigo c-icon"></i><span>7.12K</span>
                    </h4>
                    <p class="mb-0 mt-3 text-muted"><i class="fas fa-arrow-circle-up col-green m-r-5"></i><span
                        class="text-success font-weight-bold">23%</span> then previous month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="info-box7-block">
                    <h6 class="m-b-20 text-right">Registered Users</h6>
                    <h4 class="text-right"><i class="fas fa-users pull-left bg-cyan c-icon"></i><span>22.3K</span>
                    </h4>
                    <p class="mb-0 mt-3 text-muted"><i class="fas fa-arrow-circle-up col-red m-r-5"></i><span
                        class="col-red font-weight-bold">3%</span> then previous month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="info-box7-block">
                    <h6 class="m-b-20 text-right">Support Tickets</h6>
                    <h4 class="text-right"><i
                        class="fas fa-ticket-alt pull-left bg-deep-orange c-icon"></i><span>725</span>
                    </h4>
                    <p class="mb-0 mt-3 text-muted"><i class="fas fa-arrow-circle-up col-green m-r-5"></i><span
                        class="text-success font-weight-bold">21%</span> then previous month</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="card">
                <div class="card-statistic-4">
                  <div class="info-box7-block">
                    <h6 class="m-b-20 text-right">Total Earning</h6>
                    <h4 class="text-right"><i
                        class="fas fa-dollar-sign pull-left bg-green c-icon"></i><span>$3.58M</span>
                    </h4>
                    <p class="mb-0 mt-3 text-muted"><i class="fas fa-arrow-circle-down col-red m-r-5"></i><span
                        class="col-red font-weight-bold">05%</span> then previous month</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
   </div>