@{
    Layout = "_Layoutsiteadmin";
}
<section class="breadcumd-banner">
   <div class="container">
      <div class="breadcumd-wrapper">
         <h1 class="left-content">
            our contact us
         </h1>
         <ul class="right-content">
            <li>
               <a href="/">
                  Home
               </a>
            </li>
            <li>
               <i class="fa-solid fa-arrow-right"></i>
            </li>
            <li>
               contact us
            </li>
         </ul>
      </div>
   </div>
</section>
<!--=========== Banner Section Here ========= -->

<!--=========== Contact Info Section ========= -->
<section class="contact-info pt-120 pb-120">
   <div class="container">
       <div class="section-header section-center wow fadeInDown" data-wow-delay="0.3s">
           <h3 class="section-title">
               Quick Contact
           </h3>
           <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
           </p>
        </div>
       <div class="row justify-content-center">
           <div class="col-lg-10">
              <div class="contact-right">
                 <form action="contact.php" id="contact-form" method="POST">
                    <div class="row g-4">
                       <div class="col-lg-6">
                          <div class="form-clt">
                             <input type="text" name="name" id="name" placeholder="Your Name...">
                          </div>
                       </div>
                       <div class="col-lg-6">
                          <div class="form-clt">
                             <input type="text" name="email" id="email" placeholder=" Your Email...">
                          </div>
                       </div>
                       <div class="col-lg-12">
                          <div class="form-clt">
                             <input type="text" name="number" id="number" placeholder="Phone Number...">
                          </div>
                       </div>
                       <div class="col-lg-12">
                          <div class="form-clt-big">
                             <textarea name="message" id="message" placeholder="Message..."></textarea> 
                          </div>
                       </div>
                       <div class="col-lg-12">
                           <button type="submit" class="cmn--btn">
                               send message
                            </button>
                       </div>
                    </div>
                    <p class="form-message"></p>
                 </form>
              </div>
           </div>
        </div>
   </div>
</section>