@{
    Layout = "_Layoutsiteadmin";
}
<section class="breadcumd-banner">
   <div class="container">
      <div class="breadcumd-wrapper">
         <h1 class="left-content">
            our courses
         </h1>
         <ul class="right-content">
            <li>
               <a href="/">
                  Home
               </a>
            </li>
            <li>
               <i class="fa-solid fa-arrow-right"></i>
            </li>
            <li>
               courses grid
            </li>
         </ul>
      </div>
   </div>
</section>
<!--=========== Banner Section Here ========= -->

<!--=========== Popular Courses Section Here ========= -->
<section class="popular-courses-section pt-120 pb-120">
   <div class="container">
      <div class="shop-showing-result">
         <div class="shop-showing-title">
             <h6>all courses</h6>
         </div>
         <div class="catego-items">
            <div class="items mr-10">
               <select class="form-select">
                  <option selected="">Select Category</option>
                  <option value="2">Web Design</option>
                  <option value="3">Web Development</option>
                  <option value="4">Graphic Design</option>
                  <option value="5">UI/UX Design</option>
               </select>
            </div>
            <div class="items style-two mr-25">
               <select class="form-select">
                  <option selected="">Duration</option>
                  <option value="2">6 Months</option>
                  <option value="3">12 Months</option>
                  <option value="4">4 Years</option>
               </select>
            </div>
            <div class="shop-showing-icon">
              <div class="showing-icon mr-10">
               <i class="fa-solid fa-qrcode"></i>
              </div>
              <div class="showing-icon style-two">
               <a href="#"><i class="fa-solid fa-align-justify"></i></a>
              </div>
           </div>
         </div>
       </div>
       <div class="row g-4">
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c1.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small1.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           Comntly facinal nvergence
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c2.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                       <a href="#0">
                        John Doe
                       </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small2.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           Graphic Design for all
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                 <a href="course-single.html">
                  <img src="~/siteadmin/images/courses/c3.jpg" alt="courses-image">
                 </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small3.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           an ration and idea-sharing
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c4.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small4.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           Comntly facinal nvergence
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c5.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small1.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           administrate ubiquitous part
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c6.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small5.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           Comntly facinal nvergence
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c7.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small6.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           ubiquitous partnerships anration 
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c8.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small3.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           Comntly facinal nvergence
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="popular-courses-items">
               <div class="courses-thumb">
                  <a href="course-single.html">
                     <img src="~/siteadmin/images/courses/c9.jpg" alt="courses-image">
                  </a>
               </div>
               <div class="courses-content">
                  <div class="courses-wrap">
                     <h6>
                        <a href="#0">
                           Janaton Doe
                        </a>
                     </h6>
                     <p>
                        in Online Education Author
                     </p>
                  </div>
                  <div class="small-thumb">
                     <img src="~/siteadmin/images/courses/small5.png" alt="small-image">
                  </div>
                  <div class="courses-tittle-content">
                     <h6>
                        <a href="course-single.html">
                           Comently facinal nvergence
                        </a>
                     </h6>
                     <p>
                        Quickly administrate ubiquitous partnerships an
                        ration and idea-sharing. Energistically.
                     </p>
                  </div>
               </div>
               <div class="ratting-items">
                  <p>
                     $ 250.00
                  </p>
                  <ul>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li>
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                     <li class="active">
                        <a href="#0"><i class="fa-solid fa-star"></i></a>
                     </li>
                  </ul>
                  <div class="cmn-button">
                     <a href="course-single.html" class="cmn--link">
                        apply now <i class="fa-solid fa-arrow-right"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <ul class="default-pagination">
         <li class="active-one">
             <a href="#"><i class="fa-solid fa-angle-left"></i></a>
         </li>
         <li class="active">
             <a href="#">1</a>
         </li>
         <li>
             <a href="#">2</a>
         </li>
         <li>
             <a href="#">3</a>
         </li>
            <li>
               <a href="#">4</a>
         </li>
         <li>
            <a href="#">5</a>
            </li>
         <li class="active-two">
             <a href="#"><i class="fa-solid fa-angle-right"></i></a>
         </li>
     </ul>
   </div>
</section>