@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Collage - 404</title>
    <link rel="icon" href="~/Assessts/img/core-img/favicon.png">
    <link rel="stylesheet" href="~/Assessts/style.css">
</head>
<body>
    <div id="preloader"></div>
    <div class="error-page-area">
        <div class="error-content text-center">
            <div class="error-thumb">
                <img class="Errimg" src="~/Assessts/img/bg-img/1.png" alt="">
            </div>
            <h2>Opps! This page Could Not Be Found!</h2>
            <p>Sorry bit the page you are looking for does not exist, have been removed or name changed</p>
            <a class="btn btn-rounded btn-primary mt-30" href="/">Back To Home</a>
        </div>
    </div>
    <script src="~/Assessts/js/jquery.min.js"></script>
    <script src="~/Assessts/js/popper.min.js"></script>
    <script src="~/Assessts/js/bootstrap.min.js"></script>
    <script src="~/Assessts/js/bundle.js"></script>
    <script src="~/Assessts/js/default-assets/active.js"></script>
</body>
</html>