@{
    Layout = "_Layoutsiteadmin";
}
<section class="breadcumd-banner">
   <div class="container">
      <div class="breadcumd-wrapper">
         <h1 class="left-content">
            our courses
         </h1>
         <ul class="right-content">
            <li>
               <a href="/">
                  Home
               </a>
            </li>
            <li>
               <i class="fa-solid fa-arrow-right"></i>
            </li>
            <li>
               courses grid
            </li>
         </ul>
      </div>
   </div>
</section>
<!--=========== Banner Section Here ========= -->

<!--=========== Event Grid Section Here ========= -->
<section class="blog-section pt-120 pb-120 section-bg">
   <div class="container">
      <div class="row g-4">
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event1.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Efficiently braend apriciple 
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event2.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Jnnovate dstinctive benefits 
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event3.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        aren't butifull innovation
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event4.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Credibly facilitate value-add
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event5.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Efficiently braend apriciple 
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event6.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Jnnovate dstinctive benefits 
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event7.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                       Yeh yes then Ageneration
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event8.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Efficiently braend apriciple 
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
            <div class="blog-items section-bg style-event">
               <div class="blog-thumb">
                  <img src="~/siteadmin/images/event/single/event9.jpg" alt="event-image">
                  <div class="events-date">
                     <h4>
                        20
                     </h4>
                     <p>
                        May
                     </p>
                  </div>
               </div>
               <div class="blog-content">
                  <h6>
                     <a href="event-single.html">
                        Value addied users for next
                     </a>
                  </h6>
                  <ul>
                     <li>
                         <i class="fa-solid fa-calendar"></i> 9:00 am - 12:00 pm 
                     </li>
                     <li>
                        <i class="fa-solid fa-location-dot"></i>Inner Road
                    </li>
                  </ul>
                  <p>
                     Jnnovate dstinctive benefits efficient there an are 
                     butifull innovation. Credibly facilitate value-addied 
                     users for next-oh yes then Ageneration.
                  </p>
               </div>
              <div class="event-button margin">
               <a href="event-single.html" class="cmn--link">
                  Read more<i class="fa-solid fa-arrow-right"></i>
               </a>
              </div>
            </div>
         </div>
         <ul class="default-pagination">
            <li class="active-one">
               <a href="#"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <li class="active">
               <a href="#">1</a>
            </li>
            <li>
               <a href="#">2</a>
            </li>
            <li>
               <a href="#">3</a>
            </li>
               <li>
                  <a href="#">4</a>
            </li>
            <li>
               <a href="#">5</a>
               </li>
            <li class="active-two">
               <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            </li>
         </ul>
      </div>
   </div>
</section>