@{
    Layout = "_Layoutsiteadmin";
}
<section class="breadcumd-banner">
   <div class="container">
      <div class="breadcumd-wrapper">
         <h1 class="left-content">
            our grallery
         </h1>
         <ul class="right-content">
            <li>
               <a href="index.html">
                  Home
               </a>
            </li>
            <li>
               <i class="fa-solid fa-arrow-right"></i>
            </li>
            <li>
               grallery
            </li>
         </ul>
      </div>
   </div>
</section>
<!--=========== Banner Section Here ========= -->

<!--=========== Portfolio Section Here ========= -->
<div class="portfolio-section pt-120 pb-120">
   <div class="container">
     <div class="button-group filters-button-group">
       <button class="button is-checked" data-filter="*">All</button>
       <button class="button" data-filter=".metal">web design</button>
       <button class="button" data-filter=".transition">development</button>
       <button class="button" data-filter=".alkali">graphic </button>
       <button class="button" data-filter=".body">wordpress</button>
   </div>
  <div class="grid mb-50">
     <div class="row portfolio-items">
       <div class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6 element-item transition" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-1.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-1.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </div>
       <div class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item metal body" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-2.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-2.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </div>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item  metal body" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-3.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-3.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item transition metal" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-4.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-4.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6 col-sm-6  element-item transition body" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-5.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-5.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item metal" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-6.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-6.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item alkali metal" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-7.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-7.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item alkali" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-8.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-8.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item alkali metal" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-9.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-9.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
       <div class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6 element-item transition" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-1.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-1.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </div>
       <div class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item metal body" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-2.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-2.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </div>
       <figure class="portfolio-item col-xxl-4 col-xl-4 col-lg-6 col-md-6  element-item  metal body" data-category="transition">
         <div class="magnific-img">
            <img src="~/siteadmin/images/gallery/g-3.jpg" alt="portfolio-image">
           <div class="effcet">
            <ul class="effcet-link">
               <li>
                   <a href="#0">
                       <i class="fa-solid fa-link"></i>
                   </a>
               </li>
               <li>
                   <a href="~/siteadmin/images/gallery/g-3.jpg" class="g-img">
                       <i class="fa-solid fa-search"></i>
                   </a>
               </li>   
            </ul>
           </div>
         </div>
       </figure>
     </div>
 </div>
 <div class="gallery-button center">
   <a href="#0" class="cmn--btn">
      load more image
   </a>
 </div>
 </div>
 </div>