@{
    Layout = "_Layoutsiteadmin";
}
<div class="intro-area intro-area-2">
    <div class="main-overly"></div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/templates/collage/img/slider1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/templates/collage/img/slider2.jpg" alt="Second slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
@*<div class="intro-area intro-area-2">
    <div class="main-overly"></div>
    <div class="intro-carousel">
        <div class="intro-content">
            <div class="slider-images"> <img src="~/templates/collage/img/slider1.jpg" alt=""> </div>
        </div>
        <div class="intro-content">
            <div class="slider-images"> <img src="~/templates/collage/img/slider2.jpg" alt=""> </div>
        </div>
    </div>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12" style="padding:10px;">
            <marquee behavior=scroll direction=left scrollamount="5" scrolldelay="5" id=scroller onMouseOver='scroller:stop();' onMouseOut='scroller:start();' height="20px">
                <a href="annual-sports-meet-2022-23-of-dpg-group-of-colleges.html">ANNUAL SPORTS MEET 2022-23 of DPG Group of Colleges.</a>
            </marquee>
        </div>
    </div>
</div>
<div class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-image"> <img src="~/templates/collage/img/welcome.jpg" alt=""> </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="about-content">
                    <h6 class="small-title">Who we are</h6>
                    <h4>Welcome to <span class="color"> DPG Polytechnic</span></h4>
                    <p>J.L.N Polytechnic is multi-campus with modern infrastructural labs with all facilities for boys and girls and a well equipped library. </p>
                    <div class="about-details text-center">
                        <div class="single-about">
                            <div class="icon-title">
                                <a href="online-application-form.html"><i class="fa fa-graduation-cap"></i></a>
                                <h5>Admission 2023-24</h5>
                            </div>
                            <p>
                                Who are interested for the <br />
                                admission in DPG Polytechnic <br />
                                have to register.
                            </p>
                        </div>
                        <div class="single-about">
                            <div class="icon-title">
                                <a href="downloads.html"><i class="fa fa-arrow-circle-o-down"></i></a>
                                <h5>Download Prospectus</h5>
                            </div>
                            <p>On this page you have access to download free material to help you with your study.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="project-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h6 class="small-title">Our works</h6>
                    <h3>Courses Offered</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-carousel">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://dpgpolytechnic.com/404.html"> <img src="~/templates/collage/img/courses_01.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_01.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Computer Engg.</a></h4>
                            <p>Computers are now used in practically every area of human endeavor. Job opportunities in computer and information science are challenging and diverse.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://dpgpolytechnic.com/404.html"> <img src="~/templates/collage/img/courses_02.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_02.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Elect. & Comm. Engg.</a></h4>
                            <p>The electronic revolution which took off with the development of semiconductor devices and technology shows no sign of having peaked.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://dpgpolytechnic.com/404.html"> <img src="~/templates/collage/img/courses_03.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_03.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Electrical Engineering</a></h4>
                            <p>Three years diploma in Electrical engineering serves the needs for public and private sectors for trained electrical engineers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://dpgpolytechnic.com/404.html"> <img src="~/templates/collage/img/courses_04.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_04.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Mechanical Engineering</a></h4>
                            <p>Mechanical Engineering has all time demand and its spectrum grows with advance in other areas of Technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://dpgpolytechnic.com/404.html"> <img src="~/templates/collage/img/courses_05.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_05.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Civil Engineering</a></h4>
                            <p>Development of Infrastructure like Roads , Railways, Transportation, Docks and Harbours. Research & Development in Modern agricultural.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="https://dpgpolytechnic.com/404.html"> <img src="~/templates/collage/img/courses_06.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_06.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Automobile Engineering</a></h4>
                            <p>Automobile Engg. being an advanced and emerging area of technology, has shown an unprecedented growth due to the increasing demand of vehicles.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="diploma-in-medical-lab-technician.html"> <img src="~/templates/collage/img/courses_07.jpg" alt="" /> </a>
                            <div class="add-actions text-center"> <a class="venobox" data-gall="myGallery" href="~/templates/collage/img/courses_07.jpg"> <i class="port-icon icon icon-picture"></i> </a> </div>
                        </div>
                        <div class="project-dec">
                            <h4 style="font-size:17px;"><a href="diploma-in-medical-lab-technician.html">Diploma in Medical Lab Technician</a></h4>
                            <p>The Diploma Holder will be suitable for Appointment as Medical Laboratory Supervisers/ Technicians/ Assistants in all Private Hospitals/Nursing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="counter-area counter-area-2 parallax-bg" data-stellar-background-ratio="0.6">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="about-count">
                    <div class="fun-content">
                        <div class="fun_text">
                            <span class="counter">14</span>
                            <h5>years experience</h5>
                        </div>
                        <div class="fun_text">
                            <span class="counter">250 +</span>
                            <h5>Visited Companies</h5>
                        </div>
                        <div class="fun_text">
                            <span class="counter">3000 +</span>
                            <h5>Placement</h5>
                        </div>
                        <div class="fun_text">
                            <span class="counter">4000</span>
                            <h5>Alumni</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="welcome-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h4>Message from <span class="color"> the Desk</span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-services text-center">
                    <div class="services-img">
                        <img src="~/templates/collage/img/chairman.jpg" alt="">
                        <div class="image-layer"> <a href="chairman-message.html"><i class="port-icon icon icon-picture" style="font-size:30px;"></i></a> </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content">
                            <h4>Chairman's Message</h4>
                            <p align="justify">It is universal truth fact that bricks, mortars and gables don’t alone constitute the edifice termed as an institution. </p>
                            <a class="service-btn" href="chairman-message.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-services text-center">
                    <div class="services-img">
                        <img src="~/templates/collage/img/principal1.jpg" alt="">
                        <div class="image-layer"> <a href="principal-message.html"><i class="port-icon icon icon-picture" style="font-size:30px;"></i></a> </div>
                    </div>
                    <div class="main-services">
                        <div class="service-content">
                            <h4>Principal's Message</h4>
                            <p align="justify">We are going to be exposed to very fast changes in technological developments and innovations of science.</p>
                            <a class="service-btn" href="principal-message.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="choose-area choose-area-2" data-stellar-background-ratio="0.6">
    <div class="container-full">
        <div class="row">
            <div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-6 col-xs-12">
                <div class="choose-wrapper">
                    <div class="section-headline left-headline text-left">
                        <h3>Why choose us</h3>
                        <p>Your choice of DPG Polytechnic will play an important part in shaping your career and fulfilling your ambitions.</p>
                    </div>
                    <div class="row">
                        <div class="services-all">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="single-services">
                                    <a class="service-images" href="scholarship.html"><i class="fa fa-graduation-cap"></i></a>
                                    <div class="service-content">
                                        <h4><a href="scholarship.html">Scholarship Scheme</a></h4>
                                        <p>The Scholarship Scheme is one of the most important and popular schemes of DPG Polytechnic for students. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="single-services">
                                    <a class="service-images" href="online-application-form.html"><i class="fa fa-users"></i></a>
                                    <div class="service-content">
                                        <h4><a href="online-application-form.html">100% Placement</a></h4>
                                        <p>With quality training and placement at DPG Polytechnic, we prepare each of our students for successful entry into the Technical Industry.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="single-services">
                                    <a class="service-images" href="https://dpgpolytechnic.com/404.html"><i class="fa fa-microphone"></i></a>
                                    <div class="service-content">
                                        <h4><a href="https://dpgpolytechnic.com/404.html">Language Lab</a></h4>
                                        <p>The language lab is a very useful tool that facilitates classroom engagement and interaction via computer-based exercises.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="single-services">
                                    <a class="service-images" href="library.html"><i class="fa fa-leanpub"></i></a>
                                    <div class="service-content">
                                        <h4><a href="library.html">Learning Beyond Curriculum</a></h4>
                                        <p>Empowering student teachers to learn, think and act creatively within the many curricular that impact on their experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="services-area services-area-2 area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>More @@ DPG</h3>
                    <p>J.L.N Polytechnic is multi-campus with modern infrastructural labs with all facilities for boys and girls.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="services-all">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <a class="service-images" href="#"><i class="fa fa-file-text-o"></i></a>
                        <div class="service-content">
                            <h4><a href="lesson-plan.html">Lesson Plan</a></h4>
                            <p><a href="lesson-plan.html">click here &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <a class="service-images" href="#"><i class="fa fa-book"></i></a>
                        <div class="service-content">
                            <h4><a href="https://dpgpolytechnic.com/404.html">Study Material</a></h4>
                            <p><a href="https://dpgpolytechnic.com/404.html">click here &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <a class="service-images" href="#"><i class="fa fa-arrow-circle-down"></i></a>
                        <div class="service-content">
                            <h4><a href="downloads.html">Downloads</a></h4>
                            <p><a href="downloads.html">click here &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <a class="service-images" href="#"><i class="fa fa-camera"></i></a>
                        <div class="service-content">
                            <h4><a href="photo-gallery.html">Photo Gallery</a></h4>
                            <p><a href="photo-gallery.html">click here &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <a class="service-images" href="#"><i class="fa fa-file-video-o"></i></a>
                        <div class="service-content">
                            <h4><a href="video-gallery.html">Video Gallery</a></h4>
                            <p><a href="video-gallery.html">click here &raquo;</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <a class="service-images" href="#"><i class="fa fa-newspaper-o"></i></a>
                        <div class="service-content">
                            <h4><a href="media-gallery.html">Media Gallery</a></h4>
                            <p><a href="media-gallery.html">click here &raquo;</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-content text-center">
                    <h4>We Teach Global Skills & Knowledge</h4>
                    <p style="color:#FFFFFF;font-size:18px;">At DPG Polytechnic we recognize the critical need for developing these 21st century skills.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area">
    <div class="test-overly"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h6 class="small-title">what student / Alumni / Parent's say</h6>
                    <h3>Testimonials</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="Reviews-content">
                    <!-- start testimonial carousel -->
                    <div class="testimonial-carousel item-indicator">
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi01.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Aditi (CSE)</h4>
                                    <span class="guest-rev"><a href="#">Student of the year Award - 2021<br>Miss Beautiful Award - 2018</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">Hi, i am student of 6th  sem CSE diploma in DPG POLYTECHNIC GURUGRAM. Today which is recognised as one of the best college of india because of it's Enormous infrastructure with polution free environment and high Technocrats classroom and workshop. </p>
                            </div>
                        </div>
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi1.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Neha Kumari (2014-17)</h4>
                                    <span class="guest-rev"><a href="#">DMLT, Percentage - 78</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">Life in DPG College is awesome.The faculty are very dedicated and friendly.  The infrastructure of college is good. College has well equipped laboratory facilities. Participation in extracurricular activities made me smart and dynamic.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi2.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Suchita Kumari(2013-16)</h4>
                                    <span class="guest-rev"><a href="#">DMLT, Percentage - 79.9</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">I was lucky to get a chance to graduate myself from this college. The campus, infrastructure and faculties are mind blowing. It has well equipped laboratories which enhances our practical skill and got a stand today in SRL Laboratory, Mumbai.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi3.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Aman Sarang (2014-17)</h4>
                                    <span class="guest-rev"><a href="#">CS, 85.43%, 2nd position in HSBTE</a></span>

                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">DPG Polytechnic has highly dedicated faculty to impart theoretical as well as practical training to the students. The environment of the college is very good. The college has well stockedlibrary. It has modern labs and workshops to improve our skills.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi4.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Chander Parkash (2013-16)</h4>
                                    <span class="guest-rev"><a href="#">Mechanical Engg., 75.55%</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">One of the most interesting stages in life that gives you an opportunity to explore is the ‘college phase.’ Life at DPG is the time when the teenage years end and we all dive deep into the ocean of new beginnings and possibilities. This golden period better equips you for all the challenges you’ll face in life and creates a strong foundation of knowledge.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi5.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Utkarsh (2014-17)</h4>
                                    <span class="guest-rev"><a href="#">Automobile Engg., 71.41%</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">My experience at DPG polytechnic has taught me one fundamental thing – life is unpredictable.College life prepares you for all of this. It is a perfect blend of joy and hardships.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi6.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Vivek Raj (2012-2015)</h4>
                                    <span class="guest-rev"><a href="#">Mechanical, Percentage -79.69</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">The life at DPG polytechnic is a time when you can decide your career. It’s a time of dreams and innumerable paths. Every nook and corner of the college you’d find a peaceful spot full of natural surroundings, who’s value you will only realize once you graduate from your campus.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi7.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Kapil (2013-16)</h4>
                                    <span class="guest-rev"><a href="#">Automobile Engg., 74.93%</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">I was at the DPG polytechnic, college in 2013-16, studying for an Automobile Engg. We had to work hard, but I enjoyed it and was involved in a lot of other activities: sport, music and cultural groups.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                        <div class="single-testi">
                            <div class="testi-img ">
                                <img src="~/templates/collage/img/testi8.jpg" alt="">
                                <div class="texti-name">
                                    <h4>Prachi Bhardwaj (2012-15)</h4>
                                    <span class="guest-rev"><a href="#">Computer Science, 83.67%</a></span>
                                </div>
                            </div>

                            <div class="testi-text">
                                <p align="justify">I have explored my life in DPG. I got an immense chance to prove myself here. Faculty of this college are highly qualified and dedicated. I really love this college from the core of my heart.</p>
                            </div>
                        </div>
                        <!-- End single item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="brand-items">
                    <div class="brand-carousel item-indicator">
                        <div class="single-brand-item"> <a href="#"><img src="~/templates/collage/img/recruiter_logo1.jpg" alt=""></a> </div>
                        <div class="single-brand-item"> <a href="#"><img src="~/templates/collage/img/recruiter_logo2.jpg" alt=""></a> </div>
                        <div class="single-brand-item"> <a href="#"><img src="~/templates/collage/img/recruiter_logo3.jpg" alt=""></a> </div>
                        <div class="single-brand-item"> <a href="#"><img src="~/templates/collage/img/recruiter_logo4.jpg" alt=""></a> </div>
                        <div class="single-brand-item"> <a href="#"><img src="~/templates/collage/img/recruiter_logo5.jpg" alt=""></a> </div>
                        <div class="single-brand-item"> <a href="#"><img src="~/templates/collage/img/recruiter_logo6.jpg" alt=""></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>