@{
    Layout = "_Layoutsiteadmin";
}

<!--=========== Banner Section Here ========= -->
<section class="bannner-section">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-wrapper">
                    <div class="container">
                        <div class="banner-content">
                            <h3 style="color:white">
                                welcome to study
                            </h3>
                            <h1 style="color:white">
                                Jawahar lal Nehru Polytechnic
                            </h1>
                            <div class="banner-button">
                                <a href="/registration" class="cmn--btn btn-info">
                                    Enroll Now
                                </a>
                                @*<a href="#0" class="cmn--btn-two">
                                View Courses
                                </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-wrapper style-two">
                    <div class="container">
                        <div class="banner-content">
                            <h3 style="color:white">
                                welcome to study
                            </h3>
                            <h1 style="color:white">
                                Jawahar lal Nehru Polytechnic
                            </h1>
                            <div class="banner-button">
                                <a href="/registration" class="cmn--btn">
                                    Enroll Now
                                </a>
                                @*<a href="#0" class="cmn--btn-two">
                                View Courses
                                </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-wrapper style-two">
                    <div class="container">
                        <div class="banner-content">
                            <h3 style="color:white">
                                welcome to study
                            </h3>
                            <h1 style="color:white">
                                Jawahar lal Nehru Polytechnic
                            </h1>
                            <div class="banner-button">
                                <a href="/registration" class="cmn--btn">
                                    Enroll Now
                                </a>
                                @*<a href="#0" class="cmn--btn-two">
                                View Courses
                                </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"><i class="fa-solid fa-arrow-right-long"></i></div>
        <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left-long"></i></div>
        <div class="swiper-button-prev"><i class="fa-solid fa-arrow-left-long"></i></div>
    </div>
</section>
<!--=========== Banner Section End ========= -->
<!--=========== Study Icon Section Here ========= -->
<section class="study-icon-section pt-120 pb-120 section-bg">
    <div class="container">
        <div class="section-header section-center wow fadeInDown" data-wow-delay="0.3s">
            <h4 class="section-title">
                Welcome to Study
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="study-icon-items">
                    <div class="study-icon center">
                        <i class="fa-solid fa-person-chalkboard"></i>
                    </div>
                    <div class="study-icon-content center">
                        <h5>
                            <a href="#0">
                                Experienced Teachers
                            </a>
                        </h5>
                        <p>
                            Duis autem vel eum iure dolor thendrerit then and a vulputate velit esse molestie consequat vel illum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="study-icon-items">
                    <div class="study-icon center">
                        <i class="fa-solid fa-book"></i>
                    </div>
                    <div class="study-icon-content center">
                        <h5>
                            <a href="#0">
                                Book Library
                            </a>
                        </h5>
                        <p>
                            Duis autem vel eum iure dolor thendrerit then and a vulputate velit esse molestie consequat vel illum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="study-icon-items">
                    <div class="study-icon center">
                        <i class="fa-solid fa-calculator"></i>
                    </div>
                    <div class="study-icon-content center">
                        <h5>
                            <a href="#0">
                                Online Courses
                            </a>
                        </h5>
                        <p>
                            Duis autem vel eum iure dolor thendrerit then and a vulputate velit esse molestie consequat vel illum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="study-icon-items">
                    <div class="study-icon center">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <div class="study-icon-content center">
                        <h5>
                            <a href="#0">
                                Validate Certificate
                            </a>
                        </h5>
                        <p>
                            Duis autem vel eum iure dolor thendrerit then and a vulputate velit esse molestie consequat vel illum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== Study Icon Section End ========= -->
<!--=========== Course Section Here ========= -->
<section class="course-section pt-120 pb-120">
    <div class="container">
        <div class="section-header section-center wow fadeInDown" data-wow-delay="0.3s">
            <h4 class="section-title">
                our course
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="course-items center">
                    <div class="course-wrapper">
                        <div class="course-thumb">
                            <img src="~/siteadmin/images/icon/course-icon.png" alt="course-image">
                        </div>
                        <div class="course-content mt-20">
                            <h6>
                                CIVIL ENGINEERING
                            </h6>
                            <p>
                                Courses Available
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="course-items center">
                    <div class="course-wrapper">
                        <div class="course-thumb">
                            <img src="~/siteadmin/images/icon/course-icon.png" alt="course-image">
                        </div>
                        <div class="course-content mt-20">
                            <h6>
                                DAIRY ENGINEERING
                            </h6>
                            <p>
                                Courses Available
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="course-items center">
                    <div class="course-wrapper">
                        <div class="course-thumb">
                            <img src="~/siteadmin/images/icon/course-icon.png" alt="course-image">
                        </div>
                        <div class="course-content mt-20">
                            <h6>
                                INFORMATION TECHNOLOGY
                            </h6>
                            <p>
                                Courses Available
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="course-items center">
                    <div class="course-wrapper">
                        <div class="course-thumb">
                            <img src="~/siteadmin/images/icon/course-icon.png" alt="course-image">
                        </div>
                        <div class="course-content mt-20">
                            <h6>
                                COMPUTER SC. & ENGINEERING
                            </h6>
                            <p>
                                Courses Available
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="course-items center">
                    <div class="course-wrapper">
                        <div class="course-thumb">
                            <img src="~/siteadmin/images/icon/course-icon.png" alt="course-image">
                        </div>
                        <div class="course-content mt-20">
                            <h6>
                                M.O.M & SECRETARIAL PRACTICE
                            </h6>
                            <p>
                                Courses Available
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== Course Section End ========= -->
<!--=========== Team Section Here ========= -->
<section class="team-section pt-120 pb-120">
    <div class="container">
        <div class="section-header section-center wow fadeInDown" data-wow-delay="0.3s">
            <h4 class="section-title">
                OUR INSPIRATION
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="team-items section-bg">
                    <div class="team-thumb">
                        <img src="~/siteadmin/images/team/t1.jpg" alt="team-image">
                    </div>
                    <div class="team-content center">
                        <h6>
                            <a href="#">
                                Pt. Jawaharlal Nehru
Our Inspiration
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-items section-bg">
                    <div class="team-thumb">
                        <img src="~/siteadmin/images/team/t2.png" alt="team-image">
                    </div>
                    <div class="team-content center">
                        <h6>
                            <a href="#">
                                Dr. Ammar Rizvi
                            </a>
                        </h6>
                        <p>
                            Chairman
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="team-items section-bg">
                    <div class="team-thumb">
                        <img src="~/siteadmin/images/team/t3.png" alt="team-image">
                    </div>
                    <div class="team-content center">
                        <h6>
                            <a href="#">
                                C.P. Tripathi
                            </a>
                        </h6>
                        <p>
                            Principal
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== Team Section End ========= -->
<!--=========== Testimonial Section Here ========= -->
<section class="testimonial-section pt-120 pb-120">
    <div class="container">
        <div class="section-header section-center">
            <h4 class="section-title">
                what students say
            </h4>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
        <div class="testimonial-wrapper owl-carousel owl-theme">
            <div class="testimonial-items">
                <div class="testi-wrap">
                    <div class="testi-thumb">
                        <img src="~/siteadmin/images/testimonial/testimonial1.jpg" alt="testi-image">
                    </div>
                    <div class="testi-content">
                        <h6>
                            Janaton Smith
                        </h6>
                        <p>
                            Founder & CEO
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Quckly customize effective products interdendent aprocess imprvements. Proactively streamline realtime total linskage  Credibly reintermediate fully researched scenarios anbefore resource maximizing users.
                </p>
            </div>
            <div class="testimonial-items">
                <div class="testi-wrap">
                    <div class="testi-thumb">
                        <img src="~/siteadmin/images/testimonial/testimonial2.jpg" alt="testi-image">
                    </div>
                    <div class="testi-content">
                        <h6>
                            Zaniyah Vienna
                        </h6>
                        <p>
                            Founder & CEO
                        </p>
                        <ul>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                            <li>
                                <i class="fa-solid fa-star"></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    Quckly customize effective products interdendent aprocess imprvements. Proactively streamline realtime total linskage  Credibly reintermediate fully researched scenarios anbefore resource maximizing users.
                </p>
            </div>
        </div>
    </div>
</section>
<!--=========== Testimonial Section End ========= -->