        .dashboard-card-ten .card-body .student-info .media .item-img {
        background-color: #4dd0e1;
        height: 115px;
        width: 115px;
        line-height: 129px;
        text-align: center;
        border-radius: 50%;
        overflow: hidden;
    }
    .dashboard-card-ten .card-body .student-info .media .item-img img {
      margin-right: 5px;
    }
    .dashboard-card-six .card-body .notice-box-wrap .notice-list {
      border-bottom: 1px solid #ededed;
      padding-bottom: 14px;
      margin-bottom: 18px;
    }
    .dashboard-card-six .card-body .notice-box-wrap .notice-list .post-date {
      display: inline-block;
      font-size: 14px;
      color: #ffffff;
      padding: 5px 14px;
      border-radius: 20px;
      margin-bottom: 14px;
    }
    .dashboard-card-six .card-body .notice-box-wrap .notice-list .notice-title {
      font-weight: 500;
      margin-bottom: 8px;
    }
    .dashboard-card-six .card-body .notice-box-wrap .notice-list .notice-title a {
      color: #111111;
    }
    .dashboard-card-six .card-body .notice-box-wrap .notice-list .entry-meta {
      font-size: 15px;
      color: #646464;
    }
    .dashboard-card-six .card-body .notice-box-wrap .notice-list .entry-meta span {
      color: #a4a4a4;
    }