<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa fa-handshake-o"></i>
        <p>
            Admission Process
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Student/AddStudent" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registration</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admission/AForm" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Admission</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa fa-cogs"></i>
        <p>
            Master & Settings
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Master/BatchMaster" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Batch Master</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/ProgramMaster" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Program Master</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Branch/BranchMatser" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Branch Master</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/ProgramBranchMapping" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p class="text-nowrap">Program & Branch Mapping</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/RegistartionMaster" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registartion Master</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/AdmissionMaster" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Admission Master</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/NotificationMaster" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Notification Master</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-inr"></i>
        <p>
            Account Management
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/AccountManagement/DefineFeesStructur" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Define Fees Structure</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AccountManagement/FeesHead" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fees Head</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AccountManagement/BranchFees" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fees Structure</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AccountManagement/Fees" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fees Collection</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/AccountManagement/StudentSubmitFees" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Submited Fees</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>
            User Management
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Admin/GetUsers" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>User List</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Teacher/AddTeacher" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Teacher</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Teacher/teacherlist" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Teachers List</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-files-o"></i>
        <p>
            Report
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Student/StudentList" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Regitration Report</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/AdmissionReport" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Admission Report</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/FeesTransctionReport" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Fees Transction Report</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/Notifications" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Notifications</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/ProjectReport" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Project Report</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/SyllabusReport" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Syllabus</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-clock-o"></i>
        <p>
            Time Table
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Admin/TimeTable" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Schedule Time Table</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/TimetableRepot" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Branch Time Table</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-graduation-cap"></i>
        <p>
            Academics
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Master/SubjectMasterList" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Subject</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/AssignSubject" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Assign Subject</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/SyllabusMaster" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Syllabus Master</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Master/VideoLecture" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Add VideoLecture</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/Assignment" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Assignments</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Admin/StudentFine" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Fine</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-files-o"></i>
        <p>
            Examinations
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Examination/ExamType" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Exam Type</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Examination/AddExamGroup" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Exam Group</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Examination/Exam" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Exam</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Examination/ExamSchedule" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Schedule Exam</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Examination/ExamResults" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Exam Result</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Examination/ExamGrade" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Marks Grade</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-paperclip"></i>
        <p>
            Attendance
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/Attendance/MarkAttendance" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Student Attendance</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Attendance/attendencereport" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Attendance By Date</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Attendance/ApproveLeave" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Approve Leave</p>
            </a>
        </li>
    </ul>
</li>