<div class="row px-2 py-2">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-header bgred">
                <h4 style="color:black;">Branch Master</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label>Branch Name</label>
                        <input type="text" placeholder="Branch Name" class="form-control" id="name" required>
                    </div>
                    <div class="col-md-2">
                        <label>Branch Code</label>
                        <input type="number" maxlength="4" placeholder="Branch Code" class="form-control" id="code" required>
                    </div>
                    <div class="col-md-2">
                        <label>Total Sheets</label>
                        <input type="number" placeholder="Total Sheets" class="form-control" id="totalsheet" required>
                    </div>
                    <div class="col-md-2">
                        <label>Total Letaral Sheets</label>
                        <input type="number" placeholder="Total Letaral Sheets" class="form-control" id="totalletaralsheet" required>
                    </div>
                    <div class="col-sm-2" style="padding-top: 27px;">
                        <button type="button" class="btn btn-outline-primary waves-effect waves-light" onclick="btnsubmit()">Save</button>
                    </div>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table mb-0 table-striped" id="tblbranch">
                        <thead class="bg-primary">
                            <tr>
                                <th>#</th>
                                <th class="text-nowrap">Branch Name</th>
                                <th class="text-nowrap">Branch Code</th>
                                <th class="text-nowrap">Total Sheet</th>
                                <th class="text-nowrap">Available Sheets</th>
                                <th class="text-nowrap">Total Letaral Sheets</th>
                                <th class="text-nowrap">Available Letaral Sheets</th>
                                <th class="text-nowrap">IsCounseling</th>
                                <th>EntryDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        loandata();
    });
    var btnsubmit = function() {
        let isvalid = valiadteInputs();
        if (!isvalid) {
            return false;
        }
        let data = {
            BranchName: $('#name').val(),
            TotalSheets: $('#totalsheet').val(),
            TotalLetaralSheets: $('#totalletaralsheet').val(),
            BranchCode: $('#code').val()
        }
        preloader.load();
        $.post('/Branch/_BranchMatser', data).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
            loandata();
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var loandata = () => {
        $.post('/Branch/GetBranchDetail').done(function(result) {
            $('#tblbranch tbody').html(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
        });
    }
    let updateStatus = function(branchid, name, code, ttlsheet) {
        let data = {
            BranchId: branchid,
            BranchName: name,
            TotalSheets: ttlsheet,
            IsCounseling: $('#iscounseling_' + branchid).is(':checked'),
            BranchCode: code
        }

        $.post('/Branch/_EditBranch', data).done(function(result) {
            alertnotify(result.statuscode, result.msg);
            loandata();
        }).fail(function(xhr) {
            console.log(xhr.responseText);
        });
    }
</script>
