@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                        <div class="card-header bg-primary">
                            <h4 style="color:white;">Branch Master</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="p-20">
                                        <div class="form-group"><label>Branch Name</label> <input type="text" placeholder="Branch Name" class="form-control" id="name"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="p-20">
                                        <div class="form-group"><label>Branch Code</label> <input type="number" maxlength="4" placeholder="Branch Code" class="form-control" id="code"> </div>
                                    </div>
                                </div>
                                <button type="button" style="width: 12%; margin-left: 35px; margin-top: -12px;" class="btn btn-outline-primary waves-effect waves-light" onclick="btnsubmit()">Submit</button>
                            </div>


                            <!-- end row -->
                        </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</div>
    <script>
        var btnsubmit = function() {
            if ($('#name').val() == '') {
                alert("Please Enter Branch");
                $('#name').focus();
                return false;
            }
            if ($('#code').val() == '') {
                alert("Please Enter Branch Code");
                $('#code').focus();
                return false;
            }
            let data = {
                BranchName: $('#name').val(),
                BranchCode: $('#code').val()
            }
            $.post('/Branch/_BranchMatser', data).done(function(result) {
                if (result.statuscode == "1") {
                    alert(result.msg);
                    window.location.reload();
                    return;
                }
                if (result.statuscode == "-1") {
                    alert(result.msg);
                    return false;
                }
                window.location.reload();
            }).fail(function(xhr) {
                console.log(xhr.responseText)
            });
        }
    </script>
