<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Collage Menagement</title>
    <link rel="icon" href="~/Assessts/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="~/Assessts/style.css">
    <link href="~/css/Custom.css" rel="stylesheet" type="text/css">
    <link href="~/css/yearpicker.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader"></div>
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        <div class="ecaps-sidemenu-area">
            <!-- Desktop Logo -->
            <div class="ecaps-logo">
                <a href="/Admin/Index">
                    <img class="desktop-logo" src="~/Assessts/img/core-img/logo.png" alt="Desktop Logo">
                    <img class="small-logo" src="~/Assessts/img/core-img/logo_red.png" alt="Mobile Logo">
                </a>
            </div>
            <div class="ecaps-sidenav" id="ecapsSideNav">
                <!-- Side Menu Area -->
                <div class="side-menu-area">
                    <!-- Sidebar Menu -->
                    <nav>
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="active"><a href="/Admin/StudentDash"><i class='bx bx-home-heart'></i><span>Dashboard</span></a></li>
                            <li><a href="#"><i class='bx bx-calendar'></i><span>Calendar</span></a></li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class='bx bx-briefcase-alt-2'></i> <span>Examination</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="#">Exam</a></li>
                                    <li><a href="#">Exam details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="/Student/Syllabus"><i class="fa fa-book"></i><span> Syllabus</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="/AccountManagement/Fees"><i class="fa fa-book"></i><span> Fees Submission</span></a>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-tone"></i> <span>Content Repository</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Student/Videolecture">Video Lectures </a></li>
                                    <li><a href="#">Other Online Repository</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="/Student/Videolecture"><i class="fa fa-video-camera"></i><span> Video Lectures</span></a>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link menu-title" href="/StudentResult"><i class="fa fa-calculator"></i><span> My Results</span></a>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-tone"></i> <span>Assessment</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Student/StudentAssignment">My  Assessment</a></li>
                                    <li><a href="#">Other Online Repository</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="mobile-logo mr-3 mr-sm-4">
                        <a href="/"><img src="~/Assessts/img/core-img/logo_red.png" alt="Mobile Logo"></a>
                    </div>

                    <!-- Triggers -->
                    <div class="ecaps-triggers mr-1 mr-sm-3">
                        <div class="menu-collasped" id="menuCollasped">
                            <i class='bx bx-menu'></i>
                        </div>
                        <div class="mobile-menu-open" id="mobileMenuOpen">
                            <i class='bx bx-menu'></i>
                        </div>
                    </div>

                    <!-- Left Side Nav -->
                    <ul class="left-side-navbar d-flex align-items-center">
                        <li class="hide-phone app-search">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="bx bx-search-alt"></span>
                        </li>
                    </ul>
                </div>

                <div class="right-side-navbar d-flex align-items-center justify-content-end">
                    <!-- Mobile Trigger -->
                    <div class="right-side-trigger" id="rightSideTrigger">
                        <i class='bx bx-menu-alt-right'></i>
                    </div>

                    <!-- Top Bar Nav -->
                    <ul class="right-side-content d-flex align-items-center">
                        <!-- Full Screen Mode -->
                        <li class="full-screen-mode ml-1">
                            <a href="javascript:" id="fullScreenMode"><i class='bx bx-exit-fullscreen'></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Assessts/img/member-img/contact-2.jpg" alt=""></button>
                            <div class="dropdown-menu profile dropdown-menu-right">
                                <div class="user-profile-area">
                                    <a href="/Account/Profile" class="dropdown-item"><i class="bx bx-user font-15" aria-hidden="true"></i> My profile</a>
                                    <a href="#" class="dropdown-item" onclick="ChangePassword()"><i class="bx bx-wrench font-15" aria-hidden="true"></i> settings</a>
                                    <a href="/Account/logout" class="dropdown-item"><i class="bx bx-power-off font-15" aria-hidden="true"></i> Sign-out</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            @RenderBody()
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @*<footer class="footer-area d-sm-flex justify-content-center align-items-center justify-content-between">
                        <div class="copywrite-text">
                        <p class="font-13">Created by <a href="#">Hemant Nag</a></p>
                        </div>
                        <div class="fotter-icon text-center">
                        <p class="mb-0 font-13">2020 Collage </p>
                        </div>
                        </footer>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Assessts/js/jquery.min.js"></script>
    <script src="~/Assessts/js/popper.min.js"></script>
    <script src="~/Assessts/js/bootstrap.min.js"></script>
    <script src="~/Assessts/js/bundle.js"></script>
    <script src="~/Assessts/js/default-assets/setting.js"></script>
    <script src="~/Assessts/js/default-assets/fullscreen.js"></script>
    <script src="~/Assessts/js/default-assets/active.js"></script>
    <script src="~/Assessts/js/default-assets/apexchart.min.js"></script>
    <script src="~/Assessts/js/default-assets/dashboard-active.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/dist/sweetalert2.all.min.js"></script>
    <script src="~/dist/sweetalert2.all.js"></script>
    <script src="~/js/yearpicker.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script>
        var $$host = '@(ViewData["Host"])';
        var ChangePassword = function(userid) {
            $.post('/Account/_ChangePassword', { UserID: userid }).done(function(result) {
                showModel(result);
            }).fail(function(xhr) {
                console.log(xhr.responseText);
            });
        }
    </script>
</body>
</html>