@using JLNP_Project.AppCode.Helper
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor accessor
@{
    var userdata = new LoginInfo();
    var IsSession = "false";
    if (accessor.HttpContext.Session.GetString(AppConsts.AppSession) != null)
    {
        userdata = JsonConvert.DeserializeObject<LoginInfo>(accessor.HttpContext.Session.GetString(AppConsts.AppSession));
        IsSession = "true";
    }
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Collage Menagement</title>
    <link rel="icon" href="~/Assessts/img/core-img/favicon.ico" />
    <link rel="stylesheet" href="~/Assessts/style.css">
    <link href="~/css/Custom.css" rel="stylesheet" type="text/css">
    <link href="~/css/yearpicker.css" rel="stylesheet" type="text/css">
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Preloader -->
    <div id="preloader"></div>
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        <div class="ecaps-sidemenu-area">
            <!-- Desktop Logo -->
            <div class="ecaps-logo">
                <a href="/Admin/Index">
                    <img class="desktop-logo" src="~/Assessts/img/core-img/logo.png" alt="Desktop Logo">
                    <img class="small-logo" src="~/Assessts/img/core-img/logo_red.png" alt="Mobile Logo">
                </a>
            </div>
            <div class="ecaps-sidenav" id="ecapsSideNav">
                <!-- Side Menu Area -->
                <div class="side-menu-area">
                    <!-- Sidebar Menu -->
                    <nav>
                        <ul class="sidebar-menu" data-widget="tree">
                            <li class="active"><a href="/Admin/Index"><i class='bx bx-home-heart'></i><span>Dashboard</span></a></li>
                            <li><a href="#"><i class='bx bx-calendar'></i><span>Calendar</span></a></li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class='bx bx-briefcase-alt-2'></i> <span>Admission Process</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Student/AddStudent">Registration</a></li>
                                    <li><a href="/Admission/AForm">Admission</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-envelope"></i> <span>Master & Settings</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Master/BatchMaster">Batch Master</a></li>
                                    <li><a href="/Master/ProgramMaster">Program Master</a></li>
                                    <li><a href="/Branch/BranchMatser">Branch Master</a></li>
                                    <li><a href="/Master/ProgramBranchMapping">Program Branch Mapping</a></li>
                                    <li><a href="/Master/RegistartionMaster">Registartion Master</a></li>
                                    <li><a href="/Master/AdmissionMaster">Admission Master</a></li>
                                    <li><a href="/Master/NotificationMaster">Notification Master</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-file"></i><span>Account Management</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/AccountManagement/DefineFeesStructur">Define Fees Structur </a></li>
                                    <li><a href="/AccountManagement/FeesHead">Fees Head </a></li>
                                    <li><a href="/AccountManagement/BranchFees">Fees Structure</a></li>
                                    <li><a href="/AccountManagement/Fees">Fees Submition</a></li>
                                    <li><a href="/AccountManagement/StudentSubmitFees">Student Submited Fees</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-tone"></i> <span>User Management</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/GetUsers">Students List </a></li>
                                    <li><a href="/Teacher/AddTeacher">Add Teacher</a></li>
                                    <li><a href="/Teacher/teacherlist">Teachers List </a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class='bx bxs-cart'></i><span>Report</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Student/StudentList">Regitration Report</a></li>
                                    <li><a href="/Report/AdmissionReport">Admission Report</a></li>
                                    <li><a href="/Branch/BranchList">Branch Report</a></li>
                                    <li><a href="/Report/FeesTransctionReport">Fees Transction Report</a></li>
                                    <li><a href="/Report/ProjectReport">Project Report</a></li>
                                    <li><a href="/Report/Notifications">Notifications</a></li>
                                    <li><a href="/Report/SyllabusReport">Syllabus Report</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class='bx bx-bar-chart-square'></i><span>Time Table</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Admin/TimeTable">Schedule Time Table</a></li>
                                    <li><a href="/Admin/TimetableRepot">Branch Time Table</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-user-circle"></i><span>Academics</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Master/SubjectMasterList">Add Subject</a></li>
                                    <li><a href="/Admin/AssignSubject">Assign Subject</a></li>
                                    <li><a href="/Master/SyllabusMaster">Syllabus Master</a></li>
                                    <li><a href="/Master/VideoLecture">Add VideoLecture</a></li>
                                    <li><a href="/Admin/Assignment">Assignments</a></li>
                                    <li><a href="/Admin/StudentFine">Student Fine</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bxs-eraser"></i><span>Examinations</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Examination/ExamType">Exam Type</a></li>
                                    <li><a href="/Examination/AddExamGroup">Exam Group</a></li>
                                    <li><a href="/Examination/Exam">Add Exam</a></li>
                                    <li><a href="/Examination/ExamSchedule">Exam Schedule</a></li>
                                    <li><a href="/Examination/ExamResults">Exam Result</a></li>
                                    <li><a href="#">Design Admit Card</a></li>
                                    <li><a href="#">Print Admit Card</a></li>
                                    <li><a href="#">Design Marksheet</a></li>
                                    <li><a href="#">Print Marksheet</a></li>
                                    <li><a href="/Examination/ExamGrade">Marks Grade</a></li>
                                </ul>
                            </li>
                            <li class="treeview">
                                <a href="javascript:void(0)"><i class="bx bx-aperture"></i><span>Attendance</span> <i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="/Attendance/MarkAttendance">Student Attendance</a></li>
                                    <li><a href="/Attendance/attendencereport">Attendance By Date</a></li>
                                    <li><a href="/Attendance/ApproveLeave">Approve Leave</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            <header class="top-header-area d-flex align-items-center justify-content-between">
                <div class="left-side-content-area d-flex align-items-center">
                    <!-- Mobile Logo -->
                    <div class="mobile-logo mr-3 mr-sm-4">
                        <a href="/"><img src="~/Assessts/img/core-img/logo_red.png" alt="Mobile Logo"></a>
                    </div>

                    <!-- Triggers -->
                    <div class="ecaps-triggers mr-1 mr-sm-3">
                        <div class="menu-collasped" id="menuCollasped">
                            <i class='bx bx-menu'></i>
                        </div>
                        <div class="mobile-menu-open" id="mobileMenuOpen">
                            <i class='bx bx-menu'></i>
                        </div>
                    </div>

                    <!-- Left Side Nav -->
                    <ul class="left-side-navbar d-flex align-items-center">
                        <li class="hide-phone app-search">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="bx bx-search-alt"></span>
                        </li>
                    </ul>
                </div>

                <div class="right-side-navbar d-flex align-items-center justify-content-end">
                    <!-- Mobile Trigger -->
                    <div class="right-side-trigger" id="rightSideTrigger">
                        <i class='bx bx-menu-alt-right'></i>
                    </div>

                    <!-- Top Bar Nav -->
                    <ul class="right-side-content d-flex align-items-center">
                        <!-- Full Screen Mode -->
                        <li class="full-screen-mode ml-1">
                            <a href="javascript:" id="fullScreenMode"><i class='bx bx-exit-fullscreen'></i></a>
                        </li>
                        <li class="nav-item dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Assessts/img/member-img/contact-2.jpg" alt=""></button>
                            <div class="dropdown-menu profile dropdown-menu-right">
                                <div class="user-profile-area">
                                    <a href="/Account/Profile" class="dropdown-item"><i class="bx bx-user font-15" aria-hidden="true"></i> My profile</a>
                                    <a href="#" class="dropdown-item" onclick="ChangePassword()"><i class="bx bx-wrench font-15" aria-hidden="true"></i> settings</a>
                                    <a href="/Account/logout" class="dropdown-item"><i class="bx bx-power-off font-15" aria-hidden="true"></i> Sign-out</a>
                                </div>
                                <input type="hidden" value="@userdata.SessionExpireTime" id="sessiontime" />
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            @RenderBody()
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        @*<footer class="footer-area d-sm-flex justify-content-center align-items-center justify-content-between">
                        <div class="copywrite-text">
                        <p class="font-13">Created by <a href="#">Hemant Nag</a></p>
                        </div>
                        <div class="fotter-icon text-center">
                        <p class="mb-0 font-13">2020 Collage </p>
                        </div>
                        </footer>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Assessts/js/jquery.min.js"></script>
    <script src="~/Assessts/js/popper.min.js"></script>
    <script src="~/Assessts/js/bootstrap.min.js"></script>
    <script src="~/Assessts/js/bundle.js"></script>
    <script src="~/Assessts/js/default-assets/setting.js"></script>
    <script src="~/Assessts/js/default-assets/fullscreen.js"></script>
    <script src="~/Assessts/js/default-assets/active.js"></script>
    <script src="~/Assessts/js/default-assets/apexchart.min.js"></script>
    <script src="~/Assessts/js/default-assets/dashboard-active.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/dist/sweetalert2.all.min.js"></script>
    <script src="~/dist/sweetalert2.all.js"></script>
    <script src="~/js/yearpicker.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script>
        //var CheckValidSession = () => {
        //    setInterval(() => {
        //        var times = $('#sessiontime').val();
        //        if (times != '' && times != undefined) {
        //            let datetiem = new Date().toTimeString();
        //            let sessiondate = times.split(' ')[0];
        //            let curentdate = datetiem.split(' ')[0];
        //            var timeArr = curentdate.split(':');
        //            var hours = parseInt(timeArr[0], 10);
        //            if (hours > 12) {
        //                hours -= 12;
        //            } else if (hours === 0) {
        //                hours = 12;
        //            }
        //            var newTimeStr = hours + ':' + timeArr[1] + ':' + timeArr[2];
        //            let sesdate = moment(sessiondate, "hh:mm:ss").add(@AppConsts.SessionTime., 'minutes').format('hh:mm:ss');
        //            if (newTimeStr > sesdate) {
        //                window.location.href = '/Home/SessionExpired';
        //            }
        //        }
        //        else {
        //            window.location.href = '/Home/SessionExpired';
        //        }
        //    }, 1000);

        //}
        var $$host = '@(ViewData["Host"])';
        var ChangePassword = function(userid) {
            $.post('/Account/_ChangePassword', { UserID: userid }).done(function(result) {
                showModel(result);
            }).fail(function(xhr) {
                console.log(xhr.responseText);
            });
        }
    </script>
</body>
</html>