<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="NextGenerationDev">
    <title>Study - Online Courses & Education HTML Template</title>
    <link rel="icon" type="image/x-icon" href="~/siteadmin/images/favicon.png">
    <!--Bootstarp min css-->
    <link rel="stylesheet" href="~/siteadmin/css/bootstrap.min.css">
    <!--All min css-->
    <link rel="stylesheet" href="~/siteadmin/css/all.min.css">
    <!--Odometer min css-->
    <link rel="stylesheet" href="~/siteadmin/css/odometer.css">
    <!--Owl carousel css-->
    <link rel="stylesheet" href="~/siteadmin/css/owl.carousel.min.css">
    <!--Owl theme css-->
    <link rel="stylesheet" href="~/siteadmin/css/owl.theme.default.css">
    <!--Mangific min Js-->
    <link rel="stylesheet" href="~/siteadmin/css/magnific-popup.css">
    <!--Mangific min Js-->
    <link rel="stylesheet" href="~/siteadmin/css/animate.css">
    <!--Swiper css-->
    <link rel="stylesheet" href="~/siteadmin/css/swiper-bundle.min.css">
    <!--main css-->
    <link rel="stylesheet" href="~/siteadmin/css/main.css">
    <link href="~/css/Custom.css" rel="stylesheet" type="text/css">
</head>
<body>

    <!--==== Scrool Top Bottom Here ======= -->
    <div id="progress">
        <span id="valiu"><i class="fas fa-arrow-up"></i></span>
    </div>
    <!--==== Scrool Top Bottom End ======= -->
    <!--=========== Top Header Section Here ========= -->
    <div class="top-header">
        <div class="container">
            <div class="top-header-items">
                <p>
                    Welcome to Online Education Media
                </p>
                <div class="top-header-right">
                    <ul>
                        <li>
                            <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa-brands fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa-brands fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa-brands fa-whatsapp"></i></a>
                        </li>
                    </ul>
                    <div class="language">
                        <i class="fa-solid fa-earth-americas"></i>
                        <select>
                            <option value="1">English</option>
                            <option value="2">Bangla</option>
                            <option value="3">Telugu</option>
                            <option value="4">Hindi</option>
                        </select>
                    </div>
                    <div class="button">
                        <a href="/Account/UsersLogin" class="cmn--btn">
                            Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=========== Top Header Section End ========= -->
    <!--=========== Middle Header Section Here ========= -->
    <div class="middle-header">
        <div class="container">
            <div class="middle-items">
                <div class="main-logo">
                    <a href="/">
                        <img src="~/siteadmin/images/main-logo/logo.png" alt="main-logo">
                    </a>
                </div>
                <div class="middle-wrapper">
                    <div class="top-middle-items d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <img src="~/siteadmin/images/main-logo/icon1.png" alt="icon-image">
                        </div>
                        <div class="middle-content">
                            <h6>
                                <a href="#0">
                                    location
                                </a>
                            </h6>
                            <p>
                                Mahmudabad,Sitapur Uttar Pradesh
                            </p>
                        </div>
                    </div>
                    <div class="top-middle-items d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <img src="~/siteadmin/images/main-logo/icon2.png" alt="icon-image">
                        </div>
                        <div class="middle-content">
                            <h6>
                                <a href="#0">
                                    call us on
                                </a>
                            </h6>
                            <p>
                                +123 456 789 888
                            </p>
                        </div>
                    </div>
                    <div class="top-middle-items d-flex align-items-center justify-content-center">
                        <div class="icon">
                            <img src="~/siteadmin/images/main-logo/icon3.png" alt="icon-image">
                        </div>
                        <div class="middle-content">
                            <h6>
                                <a href="#0">
                                    Collage Timing
                                </a>
                            </h6>
                            <p>
                                Mon - Sat 10.00 am - 4.00 pm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=========== Middle Header Section End ========= -->
    <!--=========== Header Section Here ========= -->
    <header class="header-section header-color">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo-menu">
                    <a href="/" class="logo">
                        <img src="~/siteadmin/images/main-logo/logo1.png" alt="logo">
                    </a>
                </div>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-btn-wrapper"></div>
                <ul class="main-menu">
                    <li class="active">
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="#0">Program <i class="fas fa-chevron-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="/course-grid">Program Grid</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Teachers <i class="fas fa-chevron-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="/teacher">Teacher One</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#0">Events <i class="fas fa-chevron-down"></i></a>
                        <ul class="sub-menu">
                            <li><a href="/event-grid">Event Grid</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/gallery">Gallery</a>
                    </li>
                    <li>
                        <a href="/contact">contact</a>
                    </li>
                    <li>
                        <a href="/registration">Registration</a>
                    </li>
                    <li class="search-icon">
                        <a href="#search" class="serach">
                            <i class="fas fa-search"></i>
                        </a>
                        <div id="search">
                            <span class="close">X</span>
                            <form role="search" id="searchform" action="/" method="get">
                                <input name="q" type="search" placeholder="Type & Hit Enter">
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    @RenderBody()
    <div class="map-section">
        <div class="row">
            <div class="col-lg-12">
                <div class="googpemap">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5962.313454498387!2d81.1207577177466!3d27.30652823671649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399ed657baab521d%3A0x643acde7d297a9dd!2sJawahar%20Lal%20Nehru%20Polytechnic!5e0!3m2!1sen!2sin!4v1676550064558!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    <section class="footer-section">
        <div class="border-area">
            <div class="container">
                <div class="footer-bottom">
                    <p>© 2023 All Rights Reserved. Designed by <a href="#0" class="text-base-2">Hemant Nag (Software Developer)</a></p>
                    <ul>
                        <li>
                            <img src="~/siteadmin/images/card/card1.png" alt="card-image">
                        </li>
                        <li>
                            <img src="~/siteadmin/images/card/card2.png" alt="card-image">
                        </li>
                        <li>
                            <img src="~/siteadmin/images/card/card3.png" alt="card-image">
                        </li>
                        <li>
                            <img src="~/siteadmin/images/card/card4.png" alt="card-image">
                        </li>
                        <li>
                            <img src="~/siteadmin/images/card/card5.png" alt="card-image">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--=========== Footer Section End ========= -->
    <!--Jquery 3 6 0 Min Js-->
    <script src="~/siteadmin/js/jquery-3.6.0.min.js"></script>
    <!--Bootstrap min Js-->
    <script src="~/siteadmin/js/bootstrap.min.js"></script>
    <!--Bootstrap bundle Js-->
    <script src="~/siteadmin/js/bootstrap.bundle.min.js"></script>
    <!--Waypoint Jquery min Js-->
    <script src="~/siteadmin/js/jquery.waypoints.min.js"></script>
    <!--Viewport Jquery Js-->
    <script src="~/siteadmin/js/viewport.jquery.js"></script>
    <!--Odemetor min Js-->
    <script src="~/siteadmin/js/odometer.min.js"></script>
    <!--All min js-->
    <script src="~/siteadmin/js/all.min.js"></script>
    <!--Mangific min Js-->
    <script src="~/siteadmin/js/jquery.magnific-popup.min.js"></script>
    <!--Isotope min Js-->
    <script src="~/siteadmin/js/isotope.pkgd.min.js"></script>
    <!--Owl carousel Js-->
    <script src="~/siteadmin/js/owl.carousel.js"></script>
    <!--Owl carousel Js-->
    <script src="~/siteadmin/js/wow.min.js"></script>
    <!--Swiper Js-->
    <script src="~/siteadmin/js/swiper-bundle.min.js"></script>
    <!--Custom Js-->
    <script src="~/siteadmin/js/custom.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/dist/sweetalert2.all.min.js"></script>
    <script src="~/dist/sweetalert2.all.js"></script>
    <script src="~/js/yearpicker.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>

</body>
</html>





