<!DOCTYPE html>
<html lang=en>

<!-- Mirrored from www.dpgpolytechnic.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Aug 2023 12:25:38 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
<title>Collage Management</title>
<meta name="Keywords" content="JLN Polytechnic" />
<meta name="Description" content="JLN Polytechnic" />
<meta name="Abstract" content="JLN Polytechnic" /><meta name="subject" content="JLN Polytechnic">
<meta name="Robots" content="index,follow" />
<meta name="Coverage" content="Worldwide">
<meta name="Distribution" content="Global" />
<meta name="Revisit-After" content="2 days" />
<meta name="Rating" content="General" />
<meta name="url" content="index.html">
<meta name="Identifier-URL" content="index.html">
<meta name="Reply-to" content="info@dpgpolytechnic.com/" />
<meta name="Owner" content="JLN Polytechnic" />
<meta name="Author" content="JLN Polytechnic, info@dpgpolytechnic.com">
<meta name="Designer" content="iNet Business Hub" />
<meta name="Copyright" content="JLN Polytechnic" />
<meta name="Language" content="en">
<link rel="Shortcut Icon" href="https://dpgpolytechnic.com/404.html" />
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache"><meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="facebook-domain-verification" content="lj370c4p5a1vp1sorl2gpxdu3ca2wd" />
<meta name="google-site-verification" content="WfZvRdrzx-5Gj5Mg2fTA50KWCFCOI2YmdHF3ecXbc30" />
    
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.html">

<link rel="stylesheet" href="~/templates/collage/css/bootstrap.min.css">
<link rel="stylesheet" href="~/templates/collage/css/owl.carousel.css">
<link rel="stylesheet" href="~/templates/collage/css/owl.transitions.css">
<link rel="stylesheet" href="~/templates/collage/css/meanmenu.min.css">
<link rel="stylesheet" href="~/templates/collage/css/font-awesome.min.css">
<link rel="stylesheet" href="~/templates/collage/css/icon.css">
<link rel="stylesheet" href="~/templates/collage/css/flaticon.css">
<link rel="stylesheet" href="~/templates/collage/css/magnific.min.css">
<link rel="stylesheet" href="~/templates/collage/css/venobox.css">
<link rel="stylesheet" href="~/templates/collage/style.css">
<link rel="stylesheet" href="~/templates/collage/css/responsive.css">
<script src="~/templates/collage/js/vendor/modernizr-2.8.3.min.js"></script>



<link rel="stylesheet" href="~/templates/collage/css/jquery.tabSlideOut.css">
<link rel="stylesheet" href="~/templates/collage/scripts/menu.css" type="text/css" media="screen, projection"/>
<!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="scripts/ie.css" media="screen" />
<![endif]-->
<script type="text/javascript" language="javascript" src="~/templates/collage/scripts/jquery.dropdownPlain.js"></script>
<script src="~/templates/collage/js/vendor/jquery-1.12.4.min.js"></script> 



<link href="~/templates/collage/css/site-icons.css" rel="stylesheet" />
<link href="~/templates/collage/css/mobMenustyle.css" rel="stylesheet" />
<link href="~/templates/collage/css/jquery.mobile-menu.css" rel="stylesheet" />

<link type="text/css" media="screen" rel="stylesheet" href="plugins/gallery1/gallery.css" />
<script type="text/javascript" src="plugins/validation/jquery.validate.js"></script>
 <script type="text/javascript" src="plugins/gallery1/jquery.colorbox.js"></script>


<script type="text/javascript">
function slideSwitch() {
    var $active = $('#slideshow IMG.active');
    if ( $active.length == 0 ) $active = $('#slideshow IMG:last');
    // use this to pull the images in the order they appear in the markup
    var $next =  $active.next().length ? $active.next()
        : $('#slideshow IMG:first');
    // uncomment the 3 lines below to pull the images in random order
    $active.addClass('last-active');
    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
}
$(function() {
    setInterval( "slideSwitch()", 5000 );
});
</script>

<style type="text/css">
#slideshow {
    position:relative;
	width:100%;
}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
#slideshow IMG.last-active {
    z-index:9;
}
</style>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8JKQM6SVXF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8JKQM6SVXF');
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'../connect.facebook.net/en_US/fbevents.js');
fbq('init', '497234891365472');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=497234891365472&amp;ev=PageView&amp;noscript=1"
/></noscript>
<!-- End Facebook Pixel Code --> 


<!-- Global site tag (gtag.js) - Google Ads: 10885893885 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10885893885"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10885893885'); </script>
<!-- Event snippet for Click on Website Phone conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. --> <script> function gtag_report_conversion(url) { var callback = function () { if (typeof(url) != 'undefined') { window.location = url; } }; gtag('event', 'conversion', { 'send_to': 'AW-10885893885/wza8COr3uLsDEP2d5sYo', 'event_callback': callback }); return false; } </script>
<script async custom-element="amp-analytics" src="../cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
<!-- Global site tag (gtag) - Google Ads: 10885893885 --> <amp-analytics type="gtag" data-credentials="include"> <script type="application/json"> { "vars": { "gtag_id": "AW-10885893885", "config": { "AW-10885893885": { "groups": "default" } } }, "triggers": { } } </script> </amp-analytics>

<!-- Global site tag (gtag.js) - Google Ads: 10885893885 --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10885893885"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-10885893885'); </script>
<script> gtag('config', 'AW-10885893885/rPq6CP7tuLsDEP2d5sYo', { 'phone_conversion_number': '+91-925-000-8494' }); </script>

</head>
<body class="home-2">
<!--[if lt IE 8]>
			<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

<!--<div id="preloader"></div>-->

<div class="mobNavigation">
	<div id="page">
		<div class="mm-toggle-wrap">
			<div class="mm-toggle"> <i class="fa fa-bars"></i> Menu </div>
            <div class="mm-rside"><a href="360-virtual-tour.html"><img src="~/templates/collage/img/360-tour.png" border="0" width="100%" alt="" /></a></div>
		</div>
	</div>
	<div id="mobile-menu">
		<ul class="menu">
        	 <li><a href="index.html">Home</a></li>
                <li><a href="#">About Us</a>
					<ul><li><a href='https://dpgpolytechnic.com/about-us.html' target='_self'>About Us</a></li><li><a href='https://dpgpolytechnic.com/visionmission.html' target='_self'>Vision & Mission</a></li><li><a href='https://dpgpolytechnic.com/chairman-message.html' target='_self'>Chairman Message</a></li><li><a href='https://dpgpolytechnic.com/principal-message.html' target='_self'>Principal Message</a></li><li><a href='https://dpgpolytechnic.com/vice-principal-message.html' target='_self'>Vice Principal Message</a></li></ul>                </li>
                <li><a href="#">Academics</a>
                    <ul><li><a href='#'>Departments</a><ul><li><a href='https://dpgpolytechnic.com/diploma-in-computer-engineering.html' target='_self'>Diploma in Computer Engineering</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-electronics-and-communication.html' target='_self'>Diploma in Electronics and Communication</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-electrical-engineering.html' target='_self'>Diploma in Electrical Engineering</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-mechanical-engineering-.html' target='_self'>Diploma in mechanical engineering </a></li><li><a href='https://dpgpolytechnic.com/diploma-in-civil-engineering.html' target='_self'>Diploma in Civil Engineering</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-automobile-engineering.html' target='_self'>Diploma in Automobile Engineering</a></li><li><a href='https://dpgpolytechnic.com/applied-science64.html' target='_self'>Applied Science</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-medical-lab-technician.html' target='_self'>Diploma in Medical Lab Technician</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-vocational.html' target='_self'>Diploma in Vocational</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-robotics-and-automation.html' target='_self'>Diploma in Robotics and Automation</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-fashion-design.html' target='_self'>Diploma in Fashion Design</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-artificial-intelligence.html' target='_self'>Diploma in Artificial Intelligence</a></li></ul></li><li><a href='https://dpgpolytechnic.com/faculty62.html' target='_self'>Faculty</a></li><li><a href='https://dpgpolytechnic.com/lesson-plan.html' target='_self'>Lesson Plan</a></li><li><a href='https://dpgpolytechnic.com/e-notes-for-students.html' target='_self'>E-Notes For Students</a></li><li><a href='#'>Committees</a><ul><li><a href='anti-ragging-committee.html' target='_self'>Anti Ragging Committee</a></li><li><a href='https://dpgpolytechnic.com/grievance-redressal-committee.html' target='_self'>Grievance Redressal Committee</a></li><li><a href='https://dpgpolytechnic.com/women-welfare-committee.html' target='_self'>Women Welfare Committee</a></li><li><a href='https://dpgpolytechnic.com/discipline-committee.html' target='_self'>Discipline Committee</a></li><li><a href='https://dpgpolytechnic.com/internal-complaint-committee.html' target='_self'>Internal Complaint Committee</a></li><li><a href='https://dpgpolytechnic.com/committee-for-scst-students.html' target='_self'>Committee for SC/ST Students</a></li></ul></li><li><a href='https://dpgpolytechnic.com/scholarship.html' target='_self'>Scholarship</a></li><li><a href='https://dpgpolytechnic.com/syllabus-of-dvocational-courses.html' target='_self'>Syllabus of D.Vocational Courses</a></li></ul>                </li>
                 <li><a href="#">Admission</a>
                    <ul><li><a href='https://dpgpolytechnic.com/admission-open-2023-24.html' target='_self'>Admission Open 2023-24</a></li><li><a href='https://dpgpolytechnic.com/admission-procedure.html' target='_self'>Admission Procedure</a></li><li><a href='online-application-form.html' target='_self'>Online Application Form</a></li></ul>                </li>
                <li><a href="#">Activities</a>
                    <ul><li><a href='https://dpgpolytechnic.com/cultural-activities.html' target='_self'>Cultural Activities</a></li><li><a href='https://dpgpolytechnic.com/sports-activity.html' target='_self'>Sports Activity</a></li><li><a href='https://dpgpolytechnic.com/tourtrip.html' target='_self'>Tour & Trip</a></li></ul>                </li>
                <li><a href="#">Facilities</a>
                    <ul><li><a href='https://dpgpolytechnic.com/campus.html' target='_self'>Campus</a></li><li><a href='https://dpgpolytechnic.com/laboratories.html' target='_self'>Laboratories</a></li><li><a href='https://dpgpolytechnic.com/library.html' target='_self'>Library</a></li><li><a href='https://dpgpolytechnic.com/sports-facilities.html' target='_self'>Sports Facilities</a></li><li><a href='https://dpgpolytechnic.com/transport-facilities.html' target='_self'>Transport Facilities</a></li><li><a href='https://dpgpolytechnic.com/residing-facility.html' target='_self'>Residing Facility</a></li></ul>                </li>
                <li><a href="downloads.html">Downloads</a>
                                    </li>
                <li><a href="#">Career</a>
                    <ul><li><a href='https://dpgpolytechnic.com/career.html' target='_self'>Career</a></li><li><a href='https://dpgpolytechnic.com/post-your-resume.html' target='_self'>Post Your Resume</a></li></ul>                </li>
                <li><a href="#">Placement Cell</a>
                    <ul><li><a href='https://dpgpolytechnic.com/about-tp-cell.html' target='_self'>About T & P Cell</a></li><li><a href='https://dpgpolytechnic.com/industrial-visits.html' target='_self'>Industrial Visits</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2017.html' target='_self'>Job Fair 2017</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2018.html' target='_self'>Job Fair 2018</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2019.html' target='_self'>Job Fair 2019</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2020.html' target='_self'>Job Fair 2020</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2021.html' target='_self'>Job Fair 2021</a></li></ul>                </li>
                <li><a href="#">Gallery</a>
                    <ul><li><a href='https://dpgpolytechnic.com/photo-gallery.html' target='_self'>Photo Gallery</a></li><li><a href='https://dpgpolytechnic.com/media-gallery.html' target='_self'>Media Gallery</a></li><li><a href='https://dpgpolytechnic.com/video-gallery.html' target='_self'>Video Gallery</a></li></ul>                </li>
               
        </ul>
	</div>
</div>

<header class="header-two">
  <div class="topbar-area topbar-area-2 fix hidden-xs">
    <div class="container">
      <div class="row">
        <div class=" col-md-9 col-sm-4">
          <div class="topbar-left">
            <ul>
              <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="contact-us.html"><i class="fa fa-envelope"></i> Contact</a></li>
              <li><a href="mandatory-disclosure.html"><i class="fa fa-user"></i> Mandatory Disclosure</a></li>
              <li><a href="erp-login.html"><i class="fa fa-key"></i> ERP Login</a></li>
              <li><a href="https://www.dpgpolytechnic.edugrievance.com/" target="_blank"><i class="fa fa-user"></i> Online Grievance</a></li>
              <li><a href="downloads/feedback-proforma-30oct.pdf" target="_blank"><i class="fa fa-envelope"></i> Feedback Proforma</a></li>
              <li><a href="online-application-form.html"><i class="fa fa-laptop"></i> Online Application Form</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="topbar-right">
            <div class="quote-button"> <a href="admission/index.html" class="quote-btn" target="_blank">Admission 2023-24</a> </div>
            <div class="top-social">
              <ul>
                <li><a href="https://www.facebook.com/DPG-Polytechnic-102977088514092" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=+919212385277&amp;text=Hi,%20I%20contacted%20you%20Through%20your%20website." target="_blank"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-middle-area hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-8">
          <div class="logo"><a class="navbar-brand page-scroll sticky-logo" href="index.html"> <img src="~/templates/collage/img/logo.png" alt=""> </a> </div>
        </div>
        <div class="col-md-6 col-sm-4 pull-right">
          <div class="header-middle-link">
            
            <div class="header-info" style="float:right;">
              <div class="header-icon"> <i class="fa fa-external-link"></i> </div>
              <div class="header-info-text"> <span class="info-first call"><a href="tel:+919212385277">+91-92123-85277</a></span> <span class="info-simple">info@dpgpolytechnic.com</span> </div>
            </div>
            <div class="header-info" style="padding:0px; padding-top:17px;">
             <a href="360-virtual-tour.html"><img src="~/templates/collage/img/360-tour.png" border="0" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sticker" class="header-area header-area-3 hidden-xs" style="background-color:#03a3de;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse" id="navbar-example">
              <div class="main-menu">
                <ul class="dropdowni" id="dropdowni">
                <li><a href="#">About Us</a>
					<ul><li><a href='https://dpgpolytechnic.com/about-us.html' target='_self'>About Us</a></li><li><a href='https://dpgpolytechnic.com/visionmission.html' target='_self'>Vision & Mission</a></li><li><a href='https://dpgpolytechnic.com/chairman-message.html' target='_self'>Chairman Message</a></li><li><a href='https://dpgpolytechnic.com/principal-message.html' target='_self'>Principal Message</a></li><li><a href='https://dpgpolytechnic.com/vice-principal-message.html' target='_self'>Vice Principal Message</a></li></ul>                </li>
                <li><a href="#">Academics</a>
                    <ul><li><a href='#'>Departments</a><ul><li><a href='https://dpgpolytechnic.com/diploma-in-computer-engineering.html' target='_self'>Diploma in Computer Engineering</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-electronics-and-communication.html' target='_self'>Diploma in Electronics and Communication</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-electrical-engineering.html' target='_self'>Diploma in Electrical Engineering</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-mechanical-engineering-.html' target='_self'>Diploma in mechanical engineering </a></li><li><a href='https://dpgpolytechnic.com/diploma-in-civil-engineering.html' target='_self'>Diploma in Civil Engineering</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-automobile-engineering.html' target='_self'>Diploma in Automobile Engineering</a></li><li><a href='https://dpgpolytechnic.com/applied-science64.html' target='_self'>Applied Science</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-medical-lab-technician.html' target='_self'>Diploma in Medical Lab Technician</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-vocational.html' target='_self'>Diploma in Vocational</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-robotics-and-automation.html' target='_self'>Diploma in Robotics and Automation</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-fashion-design.html' target='_self'>Diploma in Fashion Design</a></li><li><a href='https://dpgpolytechnic.com/diploma-in-artificial-intelligence.html' target='_self'>Diploma in Artificial Intelligence</a></li></ul></li><li><a href='https://dpgpolytechnic.com/faculty62.html' target='_self'>Faculty</a></li><li><a href='https://dpgpolytechnic.com/lesson-plan.html' target='_self'>Lesson Plan</a></li><li><a href='https://dpgpolytechnic.com/e-notes-for-students.html' target='_self'>E-Notes For Students</a></li><li><a href='#'>Committees</a><ul><li><a href='anti-ragging-committee.html' target='_self'>Anti Ragging Committee</a></li><li><a href='https://dpgpolytechnic.com/grievance-redressal-committee.html' target='_self'>Grievance Redressal Committee</a></li><li><a href='https://dpgpolytechnic.com/women-welfare-committee.html' target='_self'>Women Welfare Committee</a></li><li><a href='https://dpgpolytechnic.com/discipline-committee.html' target='_self'>Discipline Committee</a></li><li><a href='https://dpgpolytechnic.com/internal-complaint-committee.html' target='_self'>Internal Complaint Committee</a></li><li><a href='https://dpgpolytechnic.com/committee-for-scst-students.html' target='_self'>Committee for SC/ST Students</a></li></ul></li><li><a href='https://dpgpolytechnic.com/scholarship.html' target='_self'>Scholarship</a></li><li><a href='https://dpgpolytechnic.com/syllabus-of-dvocational-courses.html' target='_self'>Syllabus of D.Vocational Courses</a></li></ul>                </li>
                 <li><a href="#">Admission</a>
                    <ul><li><a href='https://dpgpolytechnic.com/admission-open-2023-24.html' target='_self'>Admission Open 2023-24</a></li><li><a href='https://dpgpolytechnic.com/admission-procedure.html' target='_self'>Admission Procedure</a></li><li><a href='online-application-form.html' target='_self'>Online Application Form</a></li></ul>                </li>
                <li><a href="#">Activities</a>
                    <ul><li><a href='https://dpgpolytechnic.com/cultural-activities.html' target='_self'>Cultural Activities</a></li><li><a href='https://dpgpolytechnic.com/sports-activity.html' target='_self'>Sports Activity</a></li><li><a href='https://dpgpolytechnic.com/tourtrip.html' target='_self'>Tour & Trip</a></li></ul>                </li>
                <li><a href="#">Facilities</a>
                    <ul><li><a href='https://dpgpolytechnic.com/campus.html' target='_self'>Campus</a></li><li><a href='https://dpgpolytechnic.com/laboratories.html' target='_self'>Laboratories</a></li><li><a href='https://dpgpolytechnic.com/library.html' target='_self'>Library</a></li><li><a href='https://dpgpolytechnic.com/sports-facilities.html' target='_self'>Sports Facilities</a></li><li><a href='https://dpgpolytechnic.com/transport-facilities.html' target='_self'>Transport Facilities</a></li><li><a href='https://dpgpolytechnic.com/residing-facility.html' target='_self'>Residing Facility</a></li></ul>                </li>
                <li><a href="downloads.html">Downloads</a>
                                    </li>
                <li><a href="#">Career</a>
                    <ul><li><a href='https://dpgpolytechnic.com/career.html' target='_self'>Career</a></li><li><a href='https://dpgpolytechnic.com/post-your-resume.html' target='_self'>Post Your Resume</a></li></ul>                </li>
                <li><a href="#">Placement Cell</a>
                    <ul><li><a href='https://dpgpolytechnic.com/about-tp-cell.html' target='_self'>About T & P Cell</a></li><li><a href='https://dpgpolytechnic.com/industrial-visits.html' target='_self'>Industrial Visits</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2017.html' target='_self'>Job Fair 2017</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2018.html' target='_self'>Job Fair 2018</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2019.html' target='_self'>Job Fair 2019</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2020.html' target='_self'>Job Fair 2020</a></li><li><a href='https://dpgpolytechnic.com/job-fair-2021.html' target='_self'>Job Fair 2021</a></li></ul>                </li>
                <li><a href="#">Gallery</a>
                    <ul><li><a href='https://dpgpolytechnic.com/photo-gallery.html' target='_self'>Photo Gallery</a></li><li><a href='https://dpgpolytechnic.com/media-gallery.html' target='_self'>Media Gallery</a></li><li><a href='https://dpgpolytechnic.com/video-gallery.html' target='_self'>Video Gallery</a></li></ul>                </li>
               
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div> <a href="index.html"><img src="~/templates/collage/img/logo.png" alt="" /></a> </div>
        </div>
      </div>
    </div>
  </div>
</header>
@RenderBody()
<footer>
  <div class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-5 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Quick Contact</h4>
              <p> <strong>D.P.G. Polytechnic </strong> <br/>
                Sec- 34,  Gurugram - 122001 (Haryana)<br/>
                <br/>
                <!--Fax No. : 0124-321002<br/>-->
                Placement Cell : <a href="tel:+919729336166">+91-97293-36166</a> <br/>
                Mobile No. : <a href="tel:+919212385277">+91-92123-85277</a><br/>
                For Admission Enquiry : <a href="tel:+919212385277">92123-85277</a><br/>
                Placement : placement@dpgpolytechnic.com<br/>
                Email : info@dpgpolytechnic.com<br/>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; admissiondpg@gmail.com </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Other Instiutions</h4>
              <ul class="footer-list">
                <!--<li><a href="http://www.dpgitm.com/" target="_blank">DPG Institute of Technology & Management</a></li>-->
                  <li><a href="http://www.dpgdegreecollege.com/" target="_blank">DPG Degree College</a></li>
                <li><a href="http://cpsmcoe.org/" target="_blank">Chaudhary Partap Singh Memorial College of Education</a></li>
              </ul>
              <div class="footer-icons" style="margin-top:10px;">
                <ul>
                  <li><a href="https://www.facebook.com/DPG-Polytechnic-102977088514092" target="_blank"><i class="fa fa-facebook"></i></a></li>
                   <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="https://api.whatsapp.com/send?phone=+919212385277&amp;text=Hi,%20I%20contacted%20you%20Through%20your%20website." target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
              </div>
				<hr>
				<ul class="footer-list">
				<li><a href="affiliation-and-accreditation.html" target="_blank">Affiliation and Accreditation</a></li>
				<li><a href="https://www.aicte-india.org/feedback/students.php" target="_blank">Student Feedback</a></li>
				<li><a href="https://www.aicte-india.org/feedback/faculty.php" target="_blank">Faculty Feedback</a></li>
				<li><a href="downloads/files/n62629f6add100.pdf" target="_blank">Board of Governors</a></li>
              	</ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Quick Links</h4>
              <ul class="footer-list">
                <li><a href="anti-ragging-committee.html">Commitee Section</a></li>
                <li><a href="mandatory-disclosure.html">Mandatory Disclosure</a></li>
                <li><a href="http://hsbte.org.in/" target="_blank">HSBTE </a></li>
                <li><a href="placement-cell.html">Placement Cell</a></li>
                <li><a href="online-grievance-form.html">Online Grievance Form</a></li>
                <li><a href="newsletter.html">Newsletter</a></li>
                <!--<li><a href="http://yuvahealthcare.org/" target="_blank">YUVA Healthcare</a></li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12">
          <div class="footer-content">
            <div class="footer-head">
              <h4>Location Map</h4>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.78518404185!2d77.01792031507796!3d28.425738082499784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d18066ca68059%3A0x2ee6b8bf4886b513!2sDPG+Polytechnic!5e0!3m2!1sen!2sin!4v1524135824949" width="100%" height="162" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-area-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright">
            <p>&copy; 2018, <a href="#">DPG Polytechnic</a> All Rights Reserved</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="copyright" align="right">
            <p>Website Designed & Developed by <a href="http://www.inetbusinesshub.com/" target="_blank">iNET Business Hub</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="https://api.whatsapp.com/send?phone=+919212385277&amp;text=Hi,%20I%20would%20like%20to%20get%20more%20information%20about%20your%20college.." target="_blank" class="quotecorner hidden-xs"><img src="~/templates/collage/img/whatsApp-icon.png"></a>
<div id="rightslide">
	<a id="right-handle" class="handle ui-slideouttab-handle ui-slideouttab-handle-rounded">Drop an Enquiry <i class="fa fa-icon fa-pencil-square-o"></i></a>
	
<SCRIPT language=javascript>
function isEmpty( str){
    strRE = new RegExp( );
    strRE.compile( '^[\s ]*$', 'gi' );
    return strRE.test( str.value );
}

    function check_form()
    {
     var valid=false;
   if(isEmpty(Pform.name))
    {
     alert("Please Enter Your Full Name.");
     Pform.name.focus();
    } 
    else if(isEmpty(Pform.phone))
    {
     alert("Please Enter your Contact Number");
     Pform.phone.focus();
    } 
    else if(isNaN(Pform.phone.value))
    {
     alert("Invalid CONTACT Number");
     Pform.phone.focus();
    }
	else if(Pform.email.value=="")
    {
     alert("Please Enter Email Address");
     Pform.email.focus();
    }
    else if(Pform.email.value.indexOf("@@")<1)
    {
     alert("Invalid Email Address");
     Pform.email.focus();
    }
    else if(Pform.email.value.indexOf(".")<2)
    {
     alert("Invalid EMAIL Address");
     Pform.email.focus();
    }
    else if(isEmpty(Pform.message))
    {
     alert("Enter Your Message");
     Pform.message.focus();
    } 
     
    else
    {
     valid=true;
    }
    return valid;
 }    
</SCRIPT>
<style>
.ml25				{ margin-left: 20px;}
	input   {border: 1px solid #3d3d3d !important;}
	select   {border: 1px solid #3d3d3d !important;}
@@media only screen and (max-width: 767px) {
.ml25				{ margin-left: 0px !important;}
}
</style>
<div align="center" style="margin-bottom:10px;"></div>
<FORM name=Pform onsubmit="return check_form();" action="#" method=post>
  	<div class="row-fluid">
		<div class="ml25">
    	<div class="span12">
		<input type="text" id="name" name="name" style="color:#2E4463;" value="" placeholder=" Name *">
		</div>
		<div class="clearfix" style="clear: both;height:10px;">&nbsp;</div>
		<div class="span12">
		<input type="text" id="phone" name="phone" style="color:#2E4463;" value="" placeholder=" Mobile No. *">
		</div>
		<div class="clearfix" style="clear: both;height:10px;">&nbsp;</div>
		<div class="span12">
		<input type="text" id="email" name="email" style="color:#2E4463;" value="" placeholder=" Email *">
		</div>
		<div class="clearfix" style="clear: both;height:10px;">&nbsp;</div>
        <div class="span12">
			<textarea name="message" id="message" placeholder=" Message *"></textarea>
		</div>
		<div class="clearfix" style="clear: both;height:0px;">&nbsp;</div>
        <div class="span3"><iframe style="margin:5px 0px 0px 0px;" id=_PAGE frameborder=0 height="45" width="100%" scrolling=no src="frameImage.html"></iframe></div>
		<div class="span3"><input type="text" id="security_code" name="security_code" size="20" tabindex="3" placeholder="<< Type Code Here"></div>
     	<div class="clearfix" style="clear: both;height:10px;">&nbsp;</div>
        <div class="span8" align="center">
        	<input type="submit" value="Submit" name="Submit" style="cursor:hand;margin-left:0px; background-color: #e22a31; color:#fff;">
			<input type="reset" value="Reset" name="B4" style="cursor:hand;margin-left:20px;background-color: #e22a31; color:#fff;">
        </div>
     </div>
</form>
</div>

<!-- jquery latest version --> 

<!-- bootstrap js --> 
<script src="~/templates/collage/js/bootstrap.min.js"></script> 
<!-- owl.carousel js --> 
<script src="~/templates/collage/js/owl.carousel.min.js"></script> 
<!-- Counter js --> 
<script src="~/templates/collage/js/jquery.counterup.min.js"></script> 
<!-- waypoint js --> 
<script src="~/templates/collage/js/waypoints.js"></script> 
<!-- isotope js --> 
<script src="~/templates/collage/js/isotope.pkgd.min.js"></script> 
<!-- stellar js --> 
<script src="~/templates/collage/js/jquery.stellar.min.js"></script> 
<!-- magnific js --> 
<script src="~/templates/collage/js/magnific.min.js"></script> 
<!-- venobox js --> 
<script src="~/templates/collage/js/venobox.min.js"></script> 
<!-- meanmenu js --> 
<script src="~/templates/collage/js/jquery.meanmenu.js"></script> 
<!-- Form validator js --> 
<script src="~/templates/collage/js/form-validator.min.js"></script> 
<!-- plugins js --> 
<script src="~/templates/collage/js/plugins.js"></script> 
<!-- main js -->
<script src="~/templates/collage/js/jquery.tabSlideOut.js"></script>
<script src="~/templates/collage/js/slidepanel.js"></script>
<script src="~/templates/collage/js/main.js"></script>
<script src="~/templates/collage/js/jquery.mobile-menu.min.js"></script>
<script>
	jQuery(document).ready(function($){		
		$("#mobile-menu").mobileMenu({
			MenuWidth: 250,
			SlideSpeed : 300,
			WindowsMaxWidth : 980,
			PagePush : true,
			FromLeft : true,
			Overlay : true,
			CollapseMenu : true,
			ClassName : "mobile-menu"
		});
	});        
</script>

</body>

<!-- Mirrored from www.dpgpolytechnic.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Aug 2023 12:25:52 GMT -->
</html>