@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        @*<div class="row">
        <div class="col-sm-12">
        <h4>Attendance</h4>
        </div>
        </div>*@
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-header bg-primary">
                        <h4 style="color:white;">Attendance</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-control" id="ddlbranch">
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" id="ddlyear" onchange="BindSubject()">
                                    <option value="">--Select Year--</option>
                                    <option value="1">1 Year</option>
                                    <option value="2">2 Year</option>
                                    <option value="3">3 Year</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" id="ddlsubject">
                                    <option value="">--Select Subject--</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Date</label>
                                <input type="date" id="date" class="form-control" placeholder="Date" />
                            </div>
                            <div class="col-md-3">
                                <button type="button" style="margin-top: 25px; width: 36%;" onclick="getdata()" class="btn btn-outline-primary waves-effect waves-light" id="btnsubmit">Save</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="tblstudent" class="table table-striped table-bordered nowrap" style="margin-top:20px;">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Attendance</th>
                                        <th>Name</th>
                                        <th>Father Name</th>
                                        <th>Enrollment Number</th>
                                        <th>Year</th>
                                        <th>Branch</th>
                                        <th>Gender</th>
                                        <th>Group</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        Bindbranch();
    });
    var BindSubject = () => {
        let obj = {
            BranchId: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
        }
        $.post('/Admin/Bind_Subject', obj).done(function(result) {
            console.log(result);
            for (var i = 0; i < result.length; i++) {
                $('#ddlsubject').append('<option value="' + result[i].subjectId + '">' + result[i].subjectName + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
    var getdata = function() {
        if($('#ddlbranch option:selected').val()==''){
            alert('Please Select Branch');
            return false;
        }
        if($('#ddlsubject option:selected').val()==''){
            alert('Please Select Subject');
            return false;
        }
        if($('#ddlyear option:selected').val()==''){
            alert('Please Select Year');
            return false;
        }
        if($('#date').val()==''){
            alert('Please Enter Date');
            return false;
        }
        let obj = {
            Branch: $('#ddlbranch option:selected').val(),
            SubjectId: $('#ddlsubject option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            Date:$('#date').val()
        }
        $.post('/Attendabce/GetStudentBranchWise', obj).done(function(result) {
            $('#tblstudent tbody').html(result);
        }).fail(function(xhr) {
            alert('Server Error');
            console.log(xhr.responseText);
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindBranch').done(function(result) {
            console.log(result);
            $('#ddlbranch').empty().append('<option value="">--Select Branch--</option>');
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var updatestatus = (Id) => {
        if($('#ddlbranch option:selected').val()==''){
            alert('Please Select Branch');
            return false;
        }
        if($('#ddlsubject option:selected').val()==''){
            alert('Please Select Subject');
            return false;
        }
        if($('#ddlyear option:selected').val()==''){
            alert('Please Select Year');
            return false;
        }
        //let IsChecked = $('#status').is(":checked");
        //if (IsChecked = true) {
        //    IsAttands= 1
        //}
        //else {
        //    IsAttands= 0
        //}
        let IsChecked = $('input[name="Attandstatus"]:checked').val();
        if (IsChecked == 'Pstatus') {
            IsAttands = 1;
            IsAbsents = 0;
        }
        else {
            IsAbsents = 1;
            IsAttands = 0;
        }
        let obj = {
            Id: Id,
            BranchId: $('#ddlbranch option:selected').val(),
            SubjectId: $('#ddlsubject option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            IsAttand:IsAttands,
            IsAbsent:IsAbsents,
            Date:$('#date').val()
        }
        $.post('/Attendabce/UpdateStatus', obj).done(function(result) {
            alert(result.msg);
            window.location.reload();
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
</script>
