
/** GLOBAL CLASSES **/

body {
    font-family: 'Open Sans', sans-serif;
    color: #535353;
}

.img-fluid {
    max-width: 100% !important;
    height: auto;
}

.form-control:focus {
    box-shadow: none;
}



/** Login 20 start **/
.login-20 {
    background: rgba(0, 0, 0, 0.04) url(../img/img-17.jpg) top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    width: 100%;
    bottom: 0;
    opacity: 1;
    min-height: 100vh;
    text-align: center;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

    .login-20 a {
        text-decoration: none;
    }

    .login-20 .login-inner-form {
        max-width: 400px;
        margin: 0 auto;
        color: #717171;
        text-align: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

        .login-20 .login-inner-form .details {
            padding: 40px 40px 40px;
            background: #fff;
            border-radius: 5px 5px 0 0;
        }

        .login-20 .login-inner-form img {
            margin-bottom: 15px;
            height: 30px;
        }

        .login-20 .login-inner-form h3 {
            margin: 0 0 30px;
            font-size: 25px;
            font-weight: 400;
            font-family: 'Jost', sans-serif;
            color: #313131;
        }

    .login-20 .form-box .form-check-input:checked {
        display: none;
    }

    .login-20 .login-inner-form .form-group {
        margin-bottom: 15px;
    }

    .login-20 .login-inner-form .form-box {
        float: left;
        width: 100%;
        text-align: left;
        position: relative;
    }

        .login-20 .login-inner-form .form-box .form-control {
            width: 100%;
            padding: 8px 15px;
            font-size: 14px !important;
            border: 1px solid #dbdbdb;
            outline: none;
            color: #717171;
            border-radius: 3px;
            height: 40px;
            line-height: 12px;
        }

select {
    appearance: auto !important;
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
}

    .login-20 .login-inner-form input[type=checkbox]:checked + label:before {
        font-weight: 600;
        color: #fff;
        line-height: 15px;
        font-size: 14px;
        content: "\2713";
        padding-left: 2px;
    }

    .login-20 .login-inner-form .btn-md {
        cursor: pointer;
        padding: 7px 30px 7px 30px;
        font-size: 15px;
        font-weight: 600;
        border-radius: 3px;
        font-family: 'Jost', sans-serif;
    }

    .login-20 .login-inner-form .social-list {
        margin-bottom: 0;
        padding: 0;
    }

    .login-20 .login-inner-form .checkbox a {
        font-size: 14px;
        color: #717171;
        float: right;
    }

    .login-20 .login-inner-form .terms {
        margin-left: 3px;
    }

    .login-20 .login-inner-form .checkbox {
        margin-bottom: 25px;
        font-size: 14px;
    }

    .login-20 .login-inner-form .form-check {
        float: left;
        margin-bottom: 0;
        padding-left: 0;
    }

        .login-20 .login-inner-form .form-check a {
            color: #717171;
            float: right;
        }

    .login-20 .login-inner-form .form-check-input {
        position: absolute;
        margin-left: 0;
    }

    .login-20 .login-inner-form .form-check label::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 4px;
        width: 17px;
        height: 17px;
        margin-left: -25px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
    }

    .login-20 .form-section input[type=checkbox]:checked + label:before {
        font-weight: 600;
        color: #fff;
        line-height: 15px;
        font-size: 14px;
        padding-left: 2px;
        content: "\2713";
    }

    .login-20 .login-inner-form .form-check-label {
        padding-left: 25px;
        margin-bottom: 0;
        font-size: 14px;
    }

    .login-20 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
        background-color: #f0151f;
        border-color: #f0151f;
    }

    .login-20 .form-section input[type=checkbox]:checked + label:before {
        font-weight: 300;
        color: #e6e6e6;
        line-height: 15px;
        font-size: 14px;
        content: "\2713";
    }

    .login-20 .login-inner-form input[type=checkbox], input[type=radio] {
        margin-top: 4px;
    }

    .login-20 .login-inner-form .social-list li {
        display: inline-block;
        font-size: 16px;
        margin-top: 30px;
    }

        .login-20 .login-inner-form .social-list li a {
            margin: 0 2px 2px;
            font-size: 18px;
            width: 45px;
            height: 45px;
            border-radius: 3px;
            display: inline-block;
            text-align: center;
            line-height: 45px;
        }

    .login-20 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        font-family: 'Jost', sans-serif;
    }

    .login-20 .login-inner-form .footer {
        font-size: 14px;
        padding: 15px;
        font-weight:600;
        background-color: #fff6f6;
        border-radius: 0 0 5px 5px;
        border-top: solid 1px #fff6f6;
    }

        .login-20 .login-inner-form .footer span a {
            color: #717171;
        }

    .login-20 .login-inner-form button:focus {
        outline: none;
        outline: 0 auto -webkit-focus-ring-color;
    }

    .login-20 .login-inner-form .btn-theme:not([disabled]):not(.disabled).active, .btn-theme:not([disabled]):not(.disabled):active, .show > .btn-theme.dropdown-toggle {
        box-shadow: none;
    }

    .login-20 .login-inner-form .btn-theme.focus, .btn-theme:focus {
        box-shadow: none;
    }

    .login-20 .login-inner-form .btn-theme {
        background: #f0151f;
        border: none;
        color: #fff;
    }

        .login-20 .login-inner-form .btn-theme:hover {
            background: #dc141d;
        }

    /** Social media **/
    .login-20 .facebook-bg {
        background: #4867aa;
        color: #fff;
    }

        .login-20 .facebook-bg:hover {
            background: #3b589e;
            color: #fff;
        }

    .login-20 .twitter-bg {
        background: #33CCFF;
        color: #fff;
    }

        .login-20 .twitter-bg:hover {
            background: #56d7fe;
            color: #fff;
        }

    .login-20 .google-bg {
        background: #db4437;
        color: #fff;
    }

        .login-20 .google-bg:hover {
            background: #dc4e41;
            color: #fff;
        }

    .login-20 .linkedin-bg {
        background: #0177b5;
        color: #fff;
    }

        .login-20 .linkedin-bg:hover {
            background: #1c82ca;
            color: #fff;
        }

/** MEDIA **/
@media (max-width: 768px) {
    .login-20 .login-inner-form .details {
        padding: 50px 30px 50px;
    }
}
/** Login 20 end **/


