@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Batch Master</h4>
                    </div>
                    <div class="card-body">
                        <div class="row" style="display:flex">
                            <div style="float:right">
                                <button class="btn btn-outline-primary" id="btnsubmit" data-animation="pulse" data-toggle="modal" data-target="#exampleModalLong-1" onclick="AddNew()" style="float: right;
    width: 10%;">
                                    + Add New
                                </button>
                            </div>
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblbatch">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>From Year</th>
                                        <th>To Year</th>
                                        <th>EntryDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Loaddata();
    });
    var Loaddata = function() {
        preloader.load();
        $.post('/Master/GetBatchMaster').done(function(result) {
            preloader.remove();
            $('#tblbatch tbody').html(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error!');
        });
    }
    var AddNew = function(Id) {
        preloader.load();
        $.post('/Master/AddBatchMaster', { Id: Id }).done(function(result) {
            preloader.remove();
            showModel(result);
            $("#txtfromyear").yearpicker({
                year: 2023,
                startYear: 2019,
                endYear: 2050,
            });
            $("#txttoyear").yearpicker({
                year: 2023,
                startYear: 2019,
                endYear: 2050,
            });
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error!');
        });
    }
    var EditbatchMaster = function(Id) {
        preloader.load();
        $.post('/Master/AddBatchMaster', { Id: Id }).done(function(result) {
            preloader.remove();
            showModel(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error!');
        });
    }
    var SaveRecord = function(id) {
        let obj = {
            Id: id,
            FromYear: $('#txtfromyear').val(),
            ToYear: $('#txttoyear').val()
        }
        if (obj.FromYear == '' || obj.FromYear == undefined) {
            $('#txtfromyearsp').removeClass("d-none");
            return false;
        }
        else {
            $('#txtfromyearsp').addClass("d-none");
        }
        if (obj.ToYear == '' || obj.ToYear == undefined) {
            $('#txttoyearsp').removeClass("d-none");
            return false;
        }
        else {
            $('#txttoyearsp').addClass("d-none");
        }
        $.post('/Master/SaveAndBatchMaster', obj).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error!');
        });
    }
    var DeleteRecord = function(Id) {
        preloader.load();
        $.post('/Master/DeleteBatchMaster', { Id: Id }).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error!');
        });
    }
</script>