@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h4 style="color:white;">Batch Master</h4>
                    </div>
                    <div class="card-body">
                        <div class="row" style="display:flex">
                            <div style="float:right">
                                <button class="btn btn-outline-primary" id="btnsubmit" onclick="Savedata()" style="float: right;
    width: 10%;">+ Add New</button>
                            </div>
                        </div>
                        <div class="table-responsive table-bordered" style="margin-top:13px;">
                            <table class="table mb-0" id="tblvideoUrl">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Batch</th>
                                        <th>EntryDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>