@{
    Layout = "_LayoutAdmin";
}
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:white;">Program Master</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="hidden" id="hdnid" value="" />
                                <label>Program<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txtProgram" placeholder="Program" />
                                <span class="text-danger d-none" id="txtProgramsp">Please Entry Program</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Program Type<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlptype">
                                    <option value="">-- Select Program Type --</option>
                                    <option value="YearWise">Year Wise</option>
                                    <option value="SemesterWise">Semester Wise</option>
                                </select>
                                <span class="text-danger d-none" id="ddlptypesp">Please Select Program Type</span>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Program Duration<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlpd">
                                    <option value="">-- Select Duration --</option>
                                    <option value="1">1 Year/Semester</option>
                                    <option value="2">2 Year/Semester</option>
                                    <option value="3">3 Year/Semester</option>
                                    <option value="4">4 Year/Semester</option>
                                </select>
                                <span class="text-danger d-none" id="ddlpdsp">Please Select Program Duration</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <button class="btn btn-outline-primary" id="btnsubmit" onclick="Savedata()" style="margin-top: 21px;width: 43%;">Save</button>
                            </div>
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblprogram">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Program</th>
                                        <th>Program Type</th>
                                        <th>Program Duration</th>
                                        <th>EntryDate</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        LoadData();
    });
    var Savedata = function() {
        let obj = {
            Program: $('#txtProgram').val(),
            ProgramType: $('#ddlptype option:selected').val(),
            ProgramDuration: $('#ddlpd option:selected').val(),
        }
        if (obj.Program == '' || obj.Program == undefined) {
            $('#txtProgramsp').removeClass('d-none');
            return false;
        }
        else {
            $('#txtProgramsp').addClass('d-none');
        }
        if (obj.ProgramType == '' || obj.ProgramType == undefined) {
            $('#ddlptype').removeClass('d-none');
            return false;
        }
        else {
            $('#ddlptype').addClass('d-none');
        }
        if (obj.ProgramDuration == '' || obj.ProgramDuration == undefined) {
            $('#ddlpd').removeClass('d-none');
            return false;
        }
        else {
            $('#ddlpd').addClass('d-none');
        }
        preloader.load();
        $.post('/Master/AddAndUpdateProgram', obj).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var LoadData = function() {
        preloader.load();
        $.post('/Master/GetProgramMaster').done(function(result) {
            preloader.remove();
            $('#tblprogram tbody').html(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var EditProgram = function(ProgramId) {
        $.post('/Master/EditProgramMaster', { Id: ProgramId }).done(function(result) {
            preloader.remove();
            $('body').append(result);
            $('#myModalNew').modal('show');
            $('[data-dismiss="modal"]').unbind().click(function() {
                $('.modal,.modal-backdrop').remove();
            })
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var DeleteProgram = function(ProgramId) {
        $.post('/Master/DeleteProgramMaster', { Id: ProgramId }).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode,result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var EditData = function(ProgramId) {
        let obj = {
            Id:ProgramId,
            Program: $('#Program').val(),
            ProgramType: $('#ptype option:selected').val(),
            ProgramDuration: $('#pd option:selected').val(),
        }
        preloader.load();
        $.post('/Master/AddAndUpdateProgram', obj).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
</script>