@model List<ProgramMaster>
@{
    Layout = "_LayoutAdmin";
}
<style>
        .input-group>.form-control,.input-group>.custom-select,.input-group>.custom-file {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0
    }

    .input-group>.form-control:focus,.input-group>.custom-select:focus,.input-group>.custom-file:focus {
        z-index: 3
    }

    .input-group>.form-control+.form-control,.input-group>.form-control+.custom-select,.input-group>.form-control+.custom-file,.input-group>.custom-select+.form-control,.input-group>.custom-select+.custom-select,.input-group>.custom-select+.custom-file,.input-group>.custom-file+.form-control,.input-group>.custom-file+.custom-select,.input-group>.custom-file+.custom-file {
        margin-left: -1px
    }

    .input-group>.form-control:not(:last-child),.input-group>.custom-select:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .input-group>.form-control:not(:first-child),.input-group>.custom-select:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .input-group>.custom-file {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center
    }

    .input-group>.custom-file:not(:last-child) .custom-file-label,.input-group>.custom-file:not(:last-child) .custom-file-label::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .input-group>.custom-file:not(:first-child) .custom-file-label {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }

    .input-group-prepend,.input-group-append {
        display: -ms-flexbox;
        display: flex
    }

    .input-group-prepend .btn,.input-group-append .btn {
        position: relative;
        z-index: 2
    }

    .input-group-prepend .btn+.btn,.input-group-prepend .btn+.input-group-text,.input-group-prepend .input-group-text+.input-group-text,.input-group-prepend .input-group-text+.btn,.input-group-append .btn+.btn,.input-group-append .btn+.input-group-text,.input-group-append .input-group-text+.input-group-text,.input-group-append .input-group-text+.btn {
        margin-left: -1px
    }

    .input-group-prepend {
        margin-right: -1px
    }

    .input-group-append {
        margin-top: 10px;
    }

    .input-group-text {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: .25rem
    }

    .input-group-text input[type="radio"],.input-group-text input[type="checkbox"] {
        margin-top: 0
    }

    .input-group>.input-group-prepend>.btn,.input-group>.input-group-prepend>.input-group-text,.input-group>.input-group-append:not(:last-child)>.btn,.input-group>.input-group-append:not(:last-child)>.input-group-text,.input-group>.input-group-append:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group>.input-group-append:last-child>.input-group-text:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0
    }

    .input-group>.input-group-append>.btn,.input-group>.input-group-append>.input-group-text,.input-group>.input-group-prepend:not(:first-child)>.btn,.input-group>.input-group-prepend:not(:first-child)>.input-group-text,.input-group>.input-group-prepend:first-child>.btn:not(:first-child),.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0
    }
        .switch {
            font-size: 1rem;
            position: relative;
        }

            .switch.is-valid {
                border-color: #28a745;
            }

            .switch.is-info {
                border-color: #17a2b8;
            }

            .switch input {
                position: absolute;
                height: 1px;
                width: 1px;
                background: none;
                border: 0;
                clip: rect(0 0 0 0);
                clip-path: inset(50%);
                overflow: hidden;
                padding: 0;
            }

                .switch input + label {
                    position: relative;
                    min-width: calc(calc(2.375rem * .8) * 2);
                    border-radius: calc(2.375rem * .8);
                    height: calc(2.375rem * .8);
                    line-height: calc(2.375rem * .8);
                    display: inline-block;
                    cursor: pointer;
                    outline: none;
                    user-select: none;
                    vertical-align: middle;
                    text-indent: calc(calc(calc(2.375rem * .8) * 2) + .5rem);
                }

                    .switch input + label::before,
                    .switch input + label::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(calc(2.375rem * .8) * 2);
                        bottom: 0;
                        display: block;
                    }

                    .switch input + label::before {
                        right: 0;
                        background-color: #dee2e6;
                        border-radius: calc(2.375rem * .8);
                        transition: 0.2s all;
                    }

                    .switch input + label::after {
                        top: 2px;
                        left: 2px;
                        width: calc(calc(2.375rem * .8) - calc(2px * 2));
                        height: calc(calc(2.375rem * .8) - calc(2px * 2));
                        border-radius: 50%;
                        background-color: white;
                        transition: 0.2s all;
                    }

                .switch input:checked + label::before {
                    background-color: #6e7882;
                }

                .switch input:checked + label::after {
                    margin-left: calc(2.375rem * .8);
                }

                .switch input:focus + label::before {
                    outline: none;
                    box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
                }

                .switch input:disabled + label {
                    color: #868e96;
                    cursor: not-allowed;
                }

                    .switch input:disabled + label::before {
                        background-color: #e9ecef;
                    }

            .switch.switch-sm {
                font-size: 0.875rem;
            }

                .switch.switch-sm input + label {
                    min-width: calc(calc(1.9375rem * .8) * 2);
                    height: calc(1.9375rem * .8);
                    line-height: calc(1.9375rem * .8);
                    text-indent: calc(calc(calc(1.9375rem * .8) * 2) + .5rem);
                }

                    .switch.switch-sm input + label::before {
                        width: calc(calc(1.9375rem * .8) * 2);
                    }

                    .switch.switch-sm input + label::after {
                        width: calc(calc(1.9375rem * .8) - calc(2px * 2));
                        height: calc(calc(1.9375rem * .8) - calc(2px * 2));
                    }

                .switch.switch-sm input:checked + label::after {
                    margin-left: calc(1.9375rem * .8);
                }

            .switch.switch-lg {
                font-size: 1.25rem;
            }

                .switch.switch-lg input + label {
                    min-width: calc(calc(3rem * .8) * 2);
                    height: calc(3rem * .8);
                    line-height: calc(3rem * .8);
                    text-indent: calc(calc(calc(3rem * .8) * 2) + .5rem);
                }

                    .switch.switch-lg input + label::before {
                        width: calc(calc(3rem * .8) * 2);
                    }

                    .switch.switch-lg input + label::after {
                        width: calc(calc(3rem * .8) - calc(2px * 2));
                        height: calc(calc(3rem * .8) - calc(2px * 2));
                    }

                .switch.switch-lg input:checked + label::after {
                    margin-left: calc(3rem * .8);
                }

            .switch + .switch {
                margin-left: 1rem;
            }
</style>
<div class="">
    <div class="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h3 style="color:black;">Subject Master</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Select Program<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlprogram" onchange="Bindbranch()">
                                    <option value="">--Select Program--</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Program</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Branch<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlbranch">
                                    <option value="">--Select Program--</option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <label>Select Year<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlyear">
                                    <option value="">--Select Year--</option>
                                    <option value="1">First Year</option>
                                    <option value="2">Secound Year</option>
                                    <option value="3">Third Year</option>
                                    <option value="4">Final Year</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Subject Name<span style="color:red;">*</span></label>
                                <input type="text" id="txtsubjectname" placeholder="Subject Name" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label>Subject Code<span style="color:red;">*</span></label>
                                <input type="text" id="txtsubjectCode" placeholder="Subject Code" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label>Theory Marks<span style="color:red;">*</span></label>
                                <input type="number" id="txttheoryMarks" placeholder="Theory Marks" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Passing Marks<span style="color:red;">*</span></label>
                                <input type="number" id="txtpassing" placeholder="Passing Marks" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <label>Subject Type<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlsubjecttype">
                                    <option value="">-- Select Type --</option>
                                    <option value="optional">Optional</option>
                                    <option value="Conpalsary">Compulsory</option>
                                </select>
                            </div>
                            <div class="col-sm-4 d-none prec">
                                <label>Prectical Marks<span style="color:red;">*</span></label>
                                <input type="number" id="txtprecticalMarks" placeholder="Prectical Marks" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 d-none prec">
                                <label>Prectical Passing Marks<span style="color:red;">*</span></label>
                                <input type="number" id="txtPrecPassingmarks" placeholder="Prectical Passing Marks" class="form-control" />
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group-append">
                                    <span class="input-group-text switch switch-sm bg-white align">
                                        <input type="checkbox" class="switch" id="isprectical" onchange="PrecticalDetail()" />
                                        <label for="isprectical"></label>
                                        <p style="margin-left:5px;">IsPrectical</p>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <button class="btn btn-outline-primary" onclick="submitdata()" style="margin-top: 25px;width: 43%;">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        Bindbranch();
    });
    var PrecticalDetail = () => {
        let isprectical = $('#isprectical').is(':checked');
        if (isprectical) {
            $('.prec').removeClass('d-none');
        }
        else {
            $('.prec').addClass('d-none');
        }
    }
    var submitdata = () => {
        let isprectical = false;
        if ($('#ddlprogram option:selected').val() == '') {
            alert('Please Select Branch');
            $('#ddlprogram').focus();
            return false;
        }
        if ($('#ddlbranch option:selected').val() == '') {
            alert('Please Select Branch');
            $('#ddlbranch').focus();
            return false;
        }
        if ($('#ddlyear option:selected').val() == '') {
            alert('Please Select Year');
            $('#ddlyear').focus();
            return false;
        }

        if ($('#txtsubjectname').val() == '') {
            alert('Please Enter Subject Name');
            $('#txtsubjectname').focus();
            return false;
        }
        if ($('#txtsubjectCode').val() == '') {
            alert('Please Enter Subject Code');
            $('#txtsubjectCode').focus();
            return false;
        }
        if ($('#ddlsubjecttype option:selected').val() == '') {
            alert('Please Select Type');
            $('#ddlsubjecttype').focus();
            return false;
        }
        if ($('#txttheoryMarks').val() == '') {
            alert('Please Enter Theory Marks');
            $('#txttheoryMarks').focus();
            return false;
        }
        if ($('#isprectical').is(':checked')) {
            isprectical = true;
            if ($('#txtprecticalMarks').val() == '') {
                alert('Please Enter Practical Marks');
                $('#txtprecticalMarks').focus();
                return false;
            }
            if ($('#txtPrecPassingmarks').val() == '') {
                alert('Please Enter Prectical Passing Marks');
                $('#txtPrecPassingmarks').focus();
                return false;
            }
        }
        if ($('#txtpassing').val() == '') {
            alert('Please Enter Passing Marks');
            $('#txtpassing').focus();
            return false;
        }
        if ($('#ddlsubjecttype option:selected').val() == '') {
            alert('Please Enter Passing Marks');
            $('#ddlsubjecttype').focus();
            return false;
        }
        let obj = {
            Program: $('#ddlprogram option:selected').val(),
            Branch: $('#ddlbranch option:selected').val(),
            BranchId: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            SubjectName: $('#txtsubjectname').val(),
            SubjectCode: $('#txtsubjectCode').val(),
            SubjectType: $('#ddlsubjecttype option:selected').val(),
            TheoryMarks: $('#txttheoryMarks').val(),
            PracticalMarks: $('#txtprecticalMarks').val(),
            PassingMarks: $('#txtpassing').val(),
            IsPrectical:isprectical,
            PecticalPassingMarks:$('#txtPrecPassingmarks').val()
        }
        preloader.load();
        $.post('/Master/SaveSubjectMaster', obj).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
</script>