@model List<ProgramMaster>
<div class="">
    <div class="container">
        <div class="row py-2">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bgred">
                        <h4 style="color:black;">Video Lectures</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <input type="hidden" id="hdnid" value="" />
                                <label>Select Program<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlprogram" onchange="Bindbranch()" required>
                                    <option value="">-- Select Program --</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Program</option>
                                    }
                                </select>
                                <span class="text-danger d-none" id="Program">Please Select Program</span>
                            </div>
                            <div class="col-sm-2">
                                <input type="hidden" id="hdnid" value="" />
                                <label>Select Branch<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlbranch" required>
                                </select>
                                <span class="text-danger d-none" id="branchv">Please Select Branch</span>
                            </div>
                            <div class="col-sm-2">
                                <label>Select Year<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlyear" onchange="BindSubject()" required>
                                    <option value="">-- Select Year --</option>
                                    <option value="1">First Year </option>
                                    <option value="2">Second Year</option>
                                    <option value="3">Final Year </option>
                                </select>
                                <span class="text-danger d-none" id="yearv">Please Select Year</span>
                            </div>
                            <div class="col-sm-2">
                                <label>Select Subject<span style="color:red;">*</span></label>
                                <select class="form-control" id="ddlsubject" required>
                                    <option value="">-- Select Subject --</option>

                                </select>
                                <span class="text-danger d-none" id="subjectv">Please Select Subject</span>
                            </div>
                            <div class="col-sm-2">
                                <label>Video Lecture<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="txturl" placeholder="Video Url" required />
                                <span class="text-danger d-none" id="txturlsm">Please Enter URL</span>
                                <span class="text-danger d-none" id="txturlsmv">Please Enter YouTube Embeded Code</span>
                            </div>
                            <div class="col-sm-2" style="padding-top: 27px;">
                                <button class="btn btn-outline-primary" id="btnsubmit" onclick="savedata()" >Save</button>
                            </div>
                        </div>
                        <div class="table-responsive table-striped" style="margin-top:13px;">
                            <table class="table mb-0" id="tblvideoUrl">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>#</th>
                                        <th>Program</th>
                                        <th>Branch</th>
                                        <th>Year</th>
                                        <th>Subject</th>
                                        <th>Video</th>
                                        <th>Assign Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        LoadData();
    });
    var Bindbranch = () => {
        $.post('/Admission/BindProgramWiseBranch', { ProgramId: $('#ddlprogram option:selected').val() }).done(function(result) {
            $('#ddlbranch').empty();
            for (var i = 0; i < result.length; i++) {
                $('#ddlbranch').append('<option value="' + result[i].branchId + '">' + result[i].branchName + '</option>')
            }
        }).fail(function(xhr) {
            console.log(xhr.responseText)
        });
    }
    var BindSubject = () => {
        let obj = {
            BranchId: $('#ddlbranch option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
        }
        $.post('/Admin/Bind_Subject', obj).done(function(result) {
            for (var i = 0; i < result.length; i++) {
                $('#ddlsubject').append('<option value="' + result[i].subjectId + '">' + result[i].subjectName + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
    var Bindteacher = () => {
        $.post('/Admin/Bind_teacher').done(function(result) {
            console.log(result);
            for (var i = 0; i < result.length; i++) {
                $('#ddlteacher').append('<option value="' + result[i].teacherId + '">' + result[i].teacherName + '</option>');
            }
        }).fail(function(xhr) {
            alert("Server Error");
        });
    }
    function isUrlValid(str) {
        const pattern = new RegExp(
            '^(https?:\\/\\/)?' + // protocol
            '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
            '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR IP (v4) address
            '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
            '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
            '(\\#[-a-z\\d_]*)?$', // fragment locator
            'i'
        );
        return pattern.test(str);
    }
    var savedata = () => {
        let obj = {
            Id: $('#hdnid').val(),
            BranchId: $('#ddlbranch option:selected').val(),
            Program: $('#ddlprogram option:selected').val(),
            Year: $('#ddlyear option:selected').val(),
            SubjectId: $('#ddlsubject option:selected').val(),
            VideoUrl: $('#txturl').val()
        }
        let isvalid = valiadteInputs();
        if (!isvalid) {
            return false;
        }
        preloader.load();
        $.post('/Master/SaveAndUpdateVideoLecture', obj).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var LoadData = function() {
        preloader.load();
        $.post('/Master/GetVideoLecture').done(function(result) {
            preloader.remove();
            $('#tblvideoUrl tbody').html(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var EditVideoUrl = function(id) {
        preloader.load();
        $.post('/Master/EditVideoLecture', { ID: id }).done(function(result) {
            preloader.remove();
            showModel(result);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var SaveRecord = (ID) => {
        let obj = {
            Id: ID,
            BranchId: $('#branch option:selected').val(),
            Program: $('#program option:selected').val(),
            Year: $('#year option:selected').val(),
            SubjectId: $('#subject option:selected').val(),
            VideoUrl: $('#txtvurl').val()
        }
        let isvalid = valiadteInputs();
        if (!isvalid) {
            return false;
        }
        preloader.load();
        $.post('/Master/SaveAndUpdateVideoLecture', obj).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
    var DeleteVideoUrl = function(id) {
        preloader.load();
        $.post('/Master/DeleteVideoLecture', { ID: id }).done(function(result) {
            preloader.remove();
            alertnotify(result.statuscode, result.msg);
        }).fail(function(xhr) {
            console.log(xhr.responseText);
            alert('Server Error');
        });
    }
</script>